{% extends "base.html" %}
{% load staticfiles %}


{% block content %}

 {% block styles %}
         <link rel="stylesheet" href="{% static 'css/main_css/onboarding.css' %}">
 {% endblock %}

<br/>
<body>

    {% if college %}

<h2 class="ui center aligned header" id="main_header">Thank you for signing up for our alpha program</h2>

    {% else %}
<h2 class="ui center aligned header" id="main_header">Thank you for joining our waiting list</h2>

    {% endif %}
<br/>

    {% if college %}
    {% if mobile_os == 'Android' or mobile_os == 'Both'%}
<h4 class="ui left aligned header" id="sec_header" style="font-size:20px;padding-left:20px;padding-right:20px;line-height: 150%">You will shortly receive an email with link to the CollabMates App.<br/><br/> Meanwhile, you can explore and join relevant communities on the platform via web.</h4>    {% else %}
         <h4 class="ui center aligned header" id="sec_header">We are currently developing the iOS app and will notify you via email as soon as we release it</h4>
    {% endif %}
<button class="ui fluid  button "
        style=" z-index:2;width:60%; left:20%; margin:0 auto; background-color: #00897b; border-radius:20px;
        color:white; bottom:20%; position:fixed;"  id="load_page">
   See communities now</button>

<button class="ui fluid loading button "
        style=" z-index:2;width:60%; left:20%; margin:0 auto; background-color: #00897b; border-radius:20px;
        color:white; bottom:10%; position:fixed;display:none"  id="loading_button" >
   See communities now</button>
{% else %}
            <h4 class="ui center aligned header">We are still in our early phase of development and have released the platform for limited audience. We will notify you via email as soon as we open up the platform for you. Feel free to contact us for more details or any questions that you may have.</h4>

    <button class="ui fluid  button "
        style=" z-index:2;width:60%; left:20%; margin:0 auto; background-color: #00897b; border-radius:20px;
        color:white; bottom:10%; position:fixed;"  id="email">
   Contact Us</button>
    {% endif %}



<div class="loader"></div>



</body>



<script>
    $('#load_page').click(function(e){


       $('#loading_button').css("display","block")

       setTimeout(function(){ location.href='/communities' }, 1000);

    })


    $('#email').click(function(e){

        window.location.href="mailto:hello@collabmates.com"

    })
</script>
{% endblock %}




