{% extends request.is_ajax|yesno:"layouts/ajax.html,layouts/layout.html" %}

{% block yeild %}

    {% include 'components/loader.html' %}
    
    <div class="container mxw960 mA mt56">
            
        {% include 'components/header.html' with data=header %}

        <div class="pR pb60">

            {% include 'components/chat.html' with answers=answers current_user=current_user collabcard=collabcard request=request user=user %}

            {% if collabcard.type == 2 %}
                {% if request.user.is_authenticated %}
                    {% if member_state.state == 3 or member_state.state == 0 %}
                        <!-- if pending or declined member -->
                        <div class=mnh200></div>
                        <div class="pA t0 b0 l0 r0 bgFo96 z1" onclick="attend(true)">
                            <div class="dT wp100 hp100 taC">
                                <div class="c0 fs15 lh20 dTc vM">You must be a member of the community to view the conversations.</div>
                            </div>
                        </div>
                    {% endif %}
                {% else  %}
                    <!-- if not logged in -->
                    <div class=mnh200></div>
                    <div class="pA t0 b0 l0 r0 bgFo96 z1" onclick="attend(true)">
                        <div class="dT wp100 hp100 taC">
                            <div class="c0 fs15 lh20 dTc vM">You must be a member of the community to view the conversations.</div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if request.user.is_authenticated %}
                {% if collabcard.type == 2 %}
                    {% if member_state.state == 3 or member_state.state == 0 %}
                        <div class="pF b0 l0 r0 z1 h60 chatInput" onclick="attend(true)"></div>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="pF b0 l0 r0 z1 h60 chatInput" onclick="attend(true)"></div>
            {% endif %}

        </div>

    </div>

{% endblock %}


