{% extends request.is_ajax|yesno:"layouts/ajax.html,layouts/layout.html" %}

{% block yeild %}

    {% include 'components/loader.html' %}
    <style>
        #comments{min-height: calc(100vh - 116px);}
    </style>
    <div class="container mxw960 mA mt56">
            
        {% include 'components/header.html' with data=header %}

        <div class="pR pb60">

            {% include 'components/chat.html' with answers=answers current_user=current_user collabcard=collabcard request=request user=user %}

            {% if collabcard.type == 2 %}
                {% if request.user.is_authenticated %}
                    {% if member_state.state == 3 or member_state.state == 0 %}
                        <!-- if pending or declined member -->
                        <div class=mnh200></div>
                        <div class="pA t0 b0 l0 r0 bgFo96 z1" onclick="attend(true)">
                            <div class="dT wp100 hp100 taC">
                                <div class="c0 fs15 lh20 dTc vM">You must be a member of the community to view the conversations.</div>
                            </div>
                        </div>
                    {% endif %}
                {% else  %}
                    <!-- if not logged in -->
                    <div class=mnh200></div>
                    <div class="pA t0 b0 l0 r0 bgFo96 z1" onclick="attend(true)">
                        <div class="dT wp100 hp100 taC">
                            <div class="c0 fs15 lh20 dTc vM">You must be a member of the community to view the conversations.</div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if request.user.is_authenticated %}
                {% if collabcard.type == 2 %}
                    {% if member_state.state == 3 or member_state.state == 0 %}
                        <div class="pF b0 l0 r0 z1 h60 chatInput" onclick="attend(true)"></div>
                    {% endif %}
                {% endif %}
            {% else %}
                <div class="pF b0 l0 r0 z1 h60 chatInput" onclick="attend(true)"></div>
            {% endif %}

        </div>

        {% if request.user.is_authenticated %}
            {% if member_state.state == 3 or member_state.state == 0 %}
                <!-- pending member -->
                <div class="ui modal test w300" id="add_email_pop">
                    <div class="bd2F bgT brp50 bs bxs h72 mA mtn22 oH pR w72">
                        <img class="h72 ofC w72 mtn2 mln2" src="https://beta.likeminds.community/media/media/ic_launcher_round.png">
                    </div>
                    <div class="p24 bs taC ffR">
                        <div class="fs17 lh22 c0 fwM">Congrats!</div>
                        <p class="c9 fs15 lh22 mb16 mt8 p0">Your application has been submitted successfully. You will receive a confirmation on your email ID : <span class="c007aff">{{request.user.email}}</span></p>
                        <div class="fs13 ls05 fwM p12 bs cT" id="add_email">ADD ANOTHER EMAIL</div>
                        <div class="bs c9 fs13 fwM ls05 p12 pb0" id="dismiss_add_email">DISMISS</div>
                    </div>
                </div>
                <div class="ui modal ffR p24 bs w280 pb12" id="secondary_email">
                    <p class="c0 fs16 fwM lh24 mb16">Change Email ID</p>
                    <p class="c9 fs15 fwR lh22 mb16">
                        Update your email ID below for further communications.
                    </p>
                    <form class="ui form mb16 p0">
                        <input class="bd0 br8 bxs p16 h48 oH pR fs15" type="text" name="first-name" placeholder="Enter your email id" id="secondary_email_text">
                    </form>
                    <div class="taR fs13 ">
                        <div class="bs cT dIb fs13 fwM ls05 p120 taC vM" id="update_secondary_email">SUBMIT</div>
                    </div>
                </div>
                {% if collabcard.type == 6 %}
                    <div class="ui modal test w300" id="open_event_join">
                        <div class="h72 w72 brp50 bd2F bs bxs oH bgT mtn22 mA">
                            <img class="h72 ofC w72 mtn2 mln2" src="https://beta.likeminds.community/media/media/ic_launcher_round.png">
                        </div>
                        <div class="p24 bs taC ffR">
                            <div class="fs17 lh22 c0 fwM">Join community</div>
                            <p class="c9 fs15 lh22 mb16 mt8 p0">You must be a member to view the list of members attending this event and their community profile.</p>
                            <div class="fs13 ls05 fwM p12 bs cT" id="open_event">JOIN NOW</div>
                            <div class="bs c9 fs13 fwM ls05 p12 pb0" id="dismiss_open_event">DISMISS</div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <!-- profile pop-up -->
                <div class="ui modal w320" id="display"></div>
            {% endif %}
        {% else %}
            <div class="ui modal test w300">
                <div class="h72 w72 brp50 bd2F bs bxs oH bgT mtn22 mA">
                    <img class="h72 ofC w72 mtn2 mln2" src="https://beta.likeminds.community/media/media/ic_launcher_round.png">
                </div>
                <div class="h18 mt12 taC">
                    <img class="h18 dIb vM" src="https://firebasestorage.googleapis.com/v0/b/collabmates-beta.appspot.com/o/files%2Fmain_website%2Flikeminds_logo_hdpi.png?alt=media&token=5f532ef2-20c6-4448-8efa-16e084494417"/>
                </div>
                <div class="p24 bs taC ffR">
                    <p class="p0 fs15 lh22 c9 mb16" id="login_text">
                        {% if collabcard.type == 2 %}
                            This is a closed community event. Continue with any of the following options to register yourself for this event and apply to join the community.
                        {% else %}
                            This is an open community event. Continue with any of the following options to register yourself for this event. You can also apply to join the community.
                        {% endif %}
                    </p>
                    <div class="w120 bdtE bs mA"></div>
                    <p class="c0 fs13 fwR lh22 ls05 mb10 mt12 o25 p0">Login to continue</p>
                    <div class="p160 ls05">
                        <div class="fs12 mb16">
                            <div class="googleSignin p12 bs br20 bgF c79 ffR fwM bdE c79h dN" data-next="/community/{{community.id}}?cta=join&event={{collabcard.id}}&type={{collabcard.type}}">
                                <i class="dIb fa fa-google fs15 lh16 vM"></i>
                                <span  class="dIb lh16 pl12 vM">LOGIN WITH GOOGLE</span>
                            </div>
                        </div>
                        <div class="fs12 mb16">
                            <a class="linkedinSignin p12 bs dB br20 tdN bgLi cF ffR fwM cFh" data-next="/community/{{community.id}}?cta=join&event={{collabcard.id}}&type={{collabcard.type}}">
                                <i class="dIb fa fa-linkedin fs15 lh16 vM"></i>
                                <span  class="dIb lh16 pl12 vM">LOGIN WITH LINKEDIN</span>
                            </a>
                        </div>
                        <div class="fs12">
                            <a class="facebookSignin p12 bs dB br20 tdN bgFb cF ffR fwM cFh"  data-next="/community/{{community.id}}?cta=join&event={{collabcard.id}}&type={{collabcard.type}}">
                                <i class="fa fa-facebook dIb fs15 lh16 vM" ></i>
                                <span class="dIb lh16 pl12 vM">LOGIN WITH FACEBOOK</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    <script>
        $(document.body).on('click','.member_link',function(e){
            var member_id = $(this).attr('member_id');
            {% if request.user.is_authenticated %}
                {% if member_state.state == 0 %}
                    {% if collabcard.type == 2 %}
                        $(".ldrT", $('#loader')[0]).text("Making request...");
                        $('#loader').show();
                        window.location.href = "/community/{{community.id}}?cta=join&event={{collabcard.id}}&type={{collabcard.type}}";
                    {% else %}
                        $('#open_event_join').modal('show');
                        $("#open_event").click(function(){
                            $(".ldrT", $('#loader')[0]).text("Loading...");
                            $('#loader').show();
                            location.href = "/community/{{community.id}}?cta=join&event={{collabcard.id}}&type={{collabcard.type}}";
                        });
                        $('#dismiss_open_event').click(function(e){
                            $('#open_event_join').modal('hide');
                        });
                    {% endif %}
                {% else %}
                    {% if member_state.state == 3 %}
                        $('#add_email_pop').modal('show');
                    {% else %}
                        showMemberProfile(member_id);
                    {% endif %}
                {% endif %}
            {% else %}
                $('.test').modal('show');
            {% endif %}
        });

        {% if request.user.is_authenticated %}
            {% if member_state.state == 3 %}
                {% if request.GET.email %}
                    $('#add_email_pop').modal('show');
                {% endif %}
                $('#dismiss_add_email').click(function(e){
                    $('#add_email_pop').modal('hide');
                });
                $('#add_email').click(function(e){
                    $('#add_email_pop').modal('hide');
                    $('#secondary_email').modal('show');
                });
                $('#update_secondary_email').click(function(e){
                    var email = $('#secondary_email_text').val();
                    console.log(email);
                    var json_data = {
                        'data':'{{request.user.id}}',
                        'email':email,
                        'csrfmiddlewaretoken':'{{csrf_token}}',
                    }
                    $(".ldrT", $('#loader')[0]).text("Making request...");
                    $('#loader').show();
                    $.ajax({
                        url: "/update_email",
                        data: json_data,
                        type: "POST",
                        dataType: 'json',
                        success: function(data) {
                            $('#secondary_email').modal('hide');
                            $('#loader').hide();
                        },
                        error: function(){
                            $('#loader').hide();
                        }
                    })
                })
            {% else %}
                // attending overlay
                $('#attending_pop').click(function(e){
                    $('#attend_overlay').show();
                });

                function showMemberProfile(member_id){
                    $(".ldrT", $('#loader')[0]).text("Loading member profile...");
                    $('#loader').show();
                    var community_id = {{community.id}};
                    json_data = {
                        'data':member_id,
                        'community_id':community_id,
                        'csrfmiddlewaretoken':'{{csrf_token}}',
                    }
                    console.log(json_data);
                    $.ajax({
                        url:"/member_profile",
                        data:json_data,
                        type:"POST",
                        dataType:'json',
                        success:function(data){
                            console.log(data['answer_list'])
                            var html = `
                                <div class="h96 mtn38 taC pR z1">
                                    <div class="w96 h96 brp50 bd2F bs bxs oH dIb vM bgF">
                                        <img class="w96 h96 ofC" src=${data['image_link']} >
                                    </div>
                                </div>
                                <div class="pR mtn58 br8 oH bgF">
                                    <div class="h96">
                                        <img class="wp100 ofC h96" src="https://firebasestorage.googleapis.com/v0/b/collabmates-beta.appspot.com/o/files%2Fmain_website%2Fprofile_header?alt=media&token=fa838851-244c-4cbc-81da-3d2125536e18">
                                    </div>
                                    <div class="h2"></div>
                                    <p class="p012 bs m0 taC fwM fs16 c0 lh20 wbBa wp100">${data['member_name']}</p>
                                </div>
                                <div class="p18 bs">
                            `;
                            var refined_answer_obj = data['answer_list'].reduce(function(returnValue, answer) {
                                if(answer.answer_privacy !== false){
                                    (returnValue[answer.rank] = returnValue[answer.rank] || []).push(answer);
                                }
                                return returnValue;
                            }, {});
            
                            console.log('refined_answer_obj', refined_answer_obj);
            
                            // var refined_answer_array = Object.keys(refined_answer_obj).map(function (answer) {
                            //     return f[answer]; 
                            // });
                            
                            $.each( refined_answer_obj, function( index, value ) {
                                segment = ""
                                if (index == 1) {
                                    segment = `
                                            <div class="dT mb10 tlF wp100">
                                                <div class="dTc h24 vM w24 taC"><img class="dIb mxh24 mxw24 vM" src="/media/main_website/ic_email_48_px.png" /></div>
                                                <div class="c9b dTc fs13 vM lh1h16 p08 bs wbBa">
                                    `;
                                                    $.each( value, function( index2, value2 ){
                                                        segment = segment + value2.answer;
                                                        if ( index2 != value.length - 1 ) {
                                                            segment = segment + ', ';
                                                        }
                                                    });
                                    segment = segment + `
                                                </div>
                                            </div>
                                    `;
                                    html = html + segment;
                                }else if(index == 2 ){
                                    segment = `
                                            <div class="dT mb10 tlF wp100">
                                                <div class="dTc h24 vM w24 taC"><img class="dIb mxh24 mxw24 vM" src="/media/main_website/mobile_alt.png"/></div>
                                                <div class="c9b dTc fs13 vM lh1h16 p08 bs wbBa">
                                    `;
                                                    $.each( value, function( index2, value2 ){
                                                        segment = segment + value2.answer;
                                                        if ( index2 != value.length - 1 ) {
                                                            segment = segment + ', ';
                                                        }
                                                    });
                                    segment = segment + `
                                                </div>
                                            </div>
                                    `;
                                    html = html + segment
                                }else if(index == 3 ){
                                    segment = `
                                            <div class="dT mb10 tlF wp100">
                                                <div class="dTc h24 vM w24 taC"><img class="dIb mxh24 mxw24 vM" src="/media/main_website/link.png"/></div>
                                                <div class="c9b dTc fs13 vM lh1h16 p08 bs wbBa">
                                    `;
                                                    $.each( value, function( index2, value2 ){
                                                        segment = segment + `<a class="cT tdN" href="//${value2['profile_link']}">${value2['answer']}</a>`;
                                                        if ( index2 != value.length - 1 ) {
                                                            segment = segment + ', ';
                                                        }
                                                    });
                                    segment = segment + `
                                                </div>
                                            </div>
                                    `;
                                    html = html + segment
                                }else if(index == 4){
                                    segment = ''
                                    $.each( value, function( index2, value2 ){
                                        segment = segment + `<p class="c4a fs15 lh24 m160 wbBa wp100">${value2['answer']}</p>`;
                                        if ( index2 != value.length - 1 ) {
                                            segment = segment + ', ';
                                        }
                                    });
                                    html = html + segment
                                }else if(index == 5){
                                    segment = ''
                                    $.each( value, function( index2, value2 ){
                                        segment = segment + `
                                            <a class="cT dB m160 tdN wbBa" href="//${value2['file_link']}">
                                                ${value2['answer']}
                                            </a>
                                        `;
                                        if ( index2 != value.length - 1 ) {
                                            segment = segment + ', ';
                                        }
                                    });
                                    html = html + segment
                                }else{
                                    segment = ''
                                    $.each( value, function( index2, value2 ){
                                        segment = segment + `<p class="c9b fs15 lh24 m160 m80 wbBa wp100">${value2['answer']}</p>`;
                                        
                                    });
                                    html = html + segment
                                }
                            })
                            $('#display').html(html + '</div><div class="fs13 p12 taC fwM mb16" id="dismiss1">DISMISS</div>')
                            $('#display').modal('show');
                            $(".dimmer").css("background-color","rgba(40,40,40,0.5)");
                            $('#dismiss1').click(function(){
                                $('#display').modal('hide');
                            });
                            $('#loader').hide();
                        },
                        error: function(){
                            $('#loader').hide();
                        }
                    })
                }
            {% endif %}     
        {% endif %}

        $('#back_click').click(function(){
            {% if user.is_authenticated %}
                location.href = "/community/{{ community.id }}";
            {% else %}
                $('.test').modal('show');
            {% endif %}
        });
    </script>

    {% include 'scripts/google_auth.html' with client_id=google_oauth_client_id  %}
    {% include 'scripts/facebook_auth.html' with facebook_auth_id=facebook_auth_id %}
    {% include 'scripts/linkedin_auth.html' with request=request %}

{% endblock %}


