<!DOCTYPE html>
{% load static %}
<html>
<head>

    <html lang="zxx" class="no-js">
    <head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155700742-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-155700742-1');
        </script>

<!-- Google Analytics Code -->

    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KSF3G6T');</script>
    <!-- End Google Tag Manager -->


        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="https://beta.collabmates.com/media/media/ic_launcher_round.png">

        <meta name="author" content="colorlib">


        <meta name="keywords" content="">

        <meta charset="UTF-8">

        <title>{{community.name}}</title>
        <meta name="description"
              content={{community.name}}/>
        {% if not community.thumbnail %}
        <meta property="og:image" itemprop="image"
              content='https://beta.collabmates.com/media/media/ic_launcher_round.png'/>
        {% else %}
            <meta property="og:image" itemprop="image"
              content='{{community.thumbnail}}'/>
        {% endif %}
        <meta property="og:title" content="{{community.name}}"/>
        <meta property="og:description"
              content="{{community.purpose}}"/>
        <meta property="og:type" content="website"/>


        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130288684-1"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet" href="{% static 'css/community.css' %}">
        <link rel="stylesheet" href="{% static 'css/main_css/community.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700&display=swap" rel="stylesheet">

    <style>


.image_container_login::after{
                content: '';
                position: absolute ;
                top: 2% ;
                background-image: url('/media/main_website/like_minds_speaker.png');
                background-size: cover !important;
                background-repeat: no-repeat ;
                transform: translate(-50%, -50%) ;
                border-top: inherit ;
                border-top-color: transparent !important;
                border-radius:50% ;width:95px !important;height:95px !important;display: inline-block !important;left:50% !important;
                opacity:5;
            }


    .blur_answer{

     filter:blur(3px);

    }

.image_container_verified::after{
                content: '';
                position: absolute ;
                top: 2% ;
                background-image: url('/media/main_website/like_minds_speaker.png');
                background-size: cover !important;
                background-repeat: no-repeat ;
                transform: translate(-50%, -50%) ;
                border-top: inherit ;
                border-top-color: transparent !important;
                border-radius:50% ;width:95px !important;height:95px !important;display: inline-block !important;left:50% !important;
                opacity:5;
            }



    </style>

    </head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KSF3G6T"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<!-- email popup -->
    <div class="ui modal" id="email_login">
<!--        <i class="close icon"></i>-->
        <div class="header">
            Please provide your email id in order to continue
        </div>
        <div class="image content">

            <div class="description">
                <div class="ui  form">
                  <div class="field">
                    <label>E-mail</label>
                    <input type="email" placeholder="Enter your email id" id="email_input">
                  </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui positive right labeled icon button" style="background-color:#00897b;" id="email_submit">
                Submit

            </div>
        </div>
    </div>


<!-- back button popup -->
   <div class="ui modal" id="back">
    <div class="header">
       {{community.name}}
    </div>

  <div class="image content">

    <div class="description">
      <div class="ui header">Are you sure you don't want to join this community?</div>
    </div>
  </div>
  <div class="actions">
    <div class="ui black deny button">
     No
    </div>
    <div class="ui positive button" id="yes">
     Yes

    </div>
  </div>
</div>





    <div style="margin:0 auto; max-width:786px;background-color:#f0f5f5;">

<!--        <div class="ui small inverted menu"-->
<!--             style="  background-color:#075e54; margin:0 0 0 0 !important;display: flex;align-items: center;justify-content: center;  padding-left: 20px;">-->
<!--            <a href="#" id="back_click"><i style="color:white;" class="big angle left icon"></i></a>-->
<!--            <div class="ui center aligned grid container" style=" color:white; margin: 4%;">-->

<!--                <h2 style="margin-left:-10px; padding-left: 5px;"> {{community.name}} </h2>-->

<!--            </div>-->
<!--        </div>-->

        {% block content %}







        <div class="ui fluid card" id="image_card" style="margin-top:0px;margin-bottom:8px;">
            <div class="ui fluid image">
                  <div class="top-left">
                      <i class="arrow left icon" style="font-size:18px;" id="back_click"></i>
                  </div>


                {% if not community.image_link %}
                <img src='/media/{{community.image_url}}'>
                {% else %}
                 <img src='{{community.image_link}}'>
                {% endif %}
            </div>

<!--              <h3 style="padding-left: 15px;"> {{community.name}} </h3>-->
<!--              <p style="padding-left:15px;">{{members_length}} Members</p>-->
            <div class="summary left aligned">
                <p style="padding-left:10px;padding-right:10px;padding-top:10px;font-weight:bold;font-size:19px;">{{community.name}}</p>
            </div>

            {% if members_length %}
                <div class="summary left aligned">
                    <p style="padding-left:10px;padding-right:10px;padding-top:10px;">{{members_length}} Members</p>
                </div>
            {% endif %}

            <div class="summary left aligned" style="padding-left:10px;padding-right:10px;padding-top:10px;">
                 {{Non_mem_state}}
                {% if Nom_mem_state == 6 %}
                <button class="ui  button "

                        onclick="accept_admin('{{cta}}','{{community.id}}','{{Nom_mem_state}}');"> Respond to invitation
                </button>

                {% elif Nom_mem_state == 7 %}
                <button class="ui  button "
                        onclick="accept_admin('{{cta}}','{{community.id}}','{{Nom_mem_state}}');"> Respond to invitation
                </button>

                {% elif Nom_mem_state == 8 %}
                <button class="ui  button "
                        id="ref"> Invite members
                </button>

                {% elif Nom_mem_state == 3 %}
                <button class="ui  button "
                        disabled> Pending Approval
                </button>

                {% elif Nom_mem_state == 1%}
                <button class="ui  button "
                        disabled>You are a promoter
                </button>

                {% elif Nom_mem_state == 2 %}
                <button class="ui  button "
                        disabled>You are a promoter
                </button>

                {% elif Nom_mem_state == 4 %}
                <button class="ui  button join_button"
                        disabled>Already a Member
                </button>

                {% elif Nom_mem_state == 5 %}
                <button class="ui  button join_button"
                        onclick="join('{{community.id}}')"> Join Community(Declined)
                </button>

                {% elif source == 'email' %}
                <button class="ui  button join_button"
                        onclick="accept_admin();">Respond to invitation
                </button>

                {% elif Nom_mem_state == 0 %}
                <button class="ui  button join_button"
                        onclick="join('{{community.id}}')"> Join Community
                </button>

                {% endif %}

            </div>

            <div class="fixed top" id="menu" style="padding-top:10px;">
            <ul>
                <li><a href="#purpose" class="RobotoMedium">PURPOSE</a></li>
                {% if members_length > 0 %}
                    {% if community.hide_community == '3' %}
                    <li><a href="#about" class="RobotoMedium" >ABOUT</a></li>
                    <li><a href="#members" class="RobotoMedium" >WAIT LIST</a></li>
                    {% else %}
                    <li><a href="#about" class="RobotoMedium" >ABOUT</a></li>
                    <li><a href="#members" class="RobotoMedium" >MEMBERS</a></li>
                    {% endif %}
                {% else %}
                <li><a href="#about" class="web_display RobotoMedium" >ABOUT</a></li>
                <li><a href="#members"></a></li>

                {% endif %}
                <li><a  id="conv" class="RobotoMedium" >CONVERSATIONS</a></li>
            </ul>
        </div>

        </div>

        <div style="margin-top:0px;margin-bottom:8px;">
             <div class="ui fluid card" id="purpose">
                    <h5 style="padding-left:10px;padding-top:10px;margin-bottom:5px;" class="RobotoBold">Purpose</h5>
                    <p style="padding:10px;color:#666666;" class="Roboto">{{community.purpose}}</p>
            </div>
        </div>



            <!-- rendering multiple admins -->
            {% if admin_length > 0 %}

        <div class="ui fluid card" id="promter_card" style="margin-top:0px;margin-bottom:8px;">
                {% if admin_length == 1 %}
                <h4 class="RobotoBold" style="padding-left:10px;padding-top:10px;margin-bottom:5px;" >Promoter</h4>
<br/><br/>
            <div class="image_container" style="">
            {% for admin in admins %}

                 <img class="profile_image" src="{{admin.image_link}}">


                 <img src="https://firebasestorage.googleapis.com/v0/b/collabmates-beta.appspot.com/o/files%2Fmain_website%2Fprofile_header?alt=media" style="width:100%;height:70%;">

<!--                   <div class="profile_name">-->
<!--                       <p align="center" style="font-family:Roboto;sans-serif;font-weight:600px;color:black;font-size:17px;line-height:22px;">{{admin.name}}</p>-->

<!--                   </div>-->

<!--                    <div style="margin-top:5%;margin-left:16px;margin-right:16px;">-->
<!--                        {{admin.introduction_answer}}-->
<!--                      </div>-->
                <div class="promoter_item">

                      <p style="font-size:17px;font-family:roboto;sans-serif;font-weight:500">{{admin.name}}</p>
                      <div style="margin-left:10px;margin-right:10px;">
                        <p style="line-height:28px;font-size:15px;font-family:roboto;sans-serif;font-color:#666666;text-align:left;">{{admin.introduction_answer}}</p>
                      </div>

                </div>

                <br/><br/>
            {% endfor %}

            </div>
            <br/>

                {% else %}
                <h4 class="RobotoBold" style="padding-left:10px;padding-top:10px;margin-bottom:5px;" >Promoters</h4>
<br/><br/>
                <section class="horizontal-scroll">


            {% for admin in admins %}
              <div class="promoter_item_multiple">
                  <img src="{{admin.image_link}}" alt="No Image"/>
                  <p style="line-height:22px;font-size:1.1rem;font-family:roboto;sans-serif;">{{admin.name}}</p>
                  <p style="line-height:22px;font-size:1.1rem;font-family:roboto;sans-serif;">{{admin.introduction_answer}}</p>
              </div>
            {% endfor %}


    </section>

                {% endif %}





        </div>
            {% endif %}

{% if community.about %}
        <div class="ui fluid card" style="margin-top:0px;margin-bottom:8px;">
            <!-- printing community about -->

            <div class="content ui fluid" id="about_card">

                <div class="content" id="about">
                 <h4 class="RobotoBold" style="font-size:16px;">   About Community  </h4>
                    <p  id="more" class="Roboto">{{about_1}}&nbsp;<spam style="border:solid;color:#00897b
;background-color:#00897b
;"><i class="ellipsis horizontal icon" id="show_more" style="color:white;"></i></spam></p>


            </div>

            </div>

        </div>
    {% endif %}

<!-- members rendering -->
        {% if members_length > 0 %}
        <div class="ui fluid card" style="margin-top:0px;margin-bottom:8px;">

            <div class="content" id="members">

                <h4 style="display: inline;" class="RobotoBold">Members</h4>
                <h6 style="display: inline; font-size:10px;" class="RobotoBold">&nbsp;&nbsp;&nbsp;&nbsp;{{members_length}} </h6>

                <h6 style="display: inline;padding-left:60%;" class="RobotoBold" id="filter_icon">
                    <i class="filter icon"></i>
                </h6>


                    <div class="ui container" style="padding-top:12px;">

                        {% for i in members%}
                        <br/>
                        <div class="ui two column grid">
                            <div class="row">
                                <div  style="padding-left:5px;">
                                    <img class="ui tiny circular centered image" src="{{i.image_link}}" style="border-radius:50%;width:80px;height:80px;"/>
                                </div>
                                <div style="padding-left:10%;padding-top:10px;padding-bottom:10px;">
                                    <button class="RobotoMedium member_link" style="color:black;line-height:20px;font-size:17px;" value="{{i.id}}">{{i.name}}</button>
                                    {% if not is_member %}
                                    <p style="line-height:17px;font-size:13px;color:#9b9b9b" class="Roboto blur_answer">{{i.answer}}</p>
                                    {% else %}
                                  <p style="line-height:17px;font-size:13px;color:#9b9b9b" class="Roboto">{{i.answer}}</p>

                                    {% endif %}
                                </div>


                            </div>


                        </div>

                         <hr style="border-style:solid;border-width:1px;border-color:#e6e6e6;padding-right:200px;padding-left:65px;">






                        {% endfor %}

                        <br/>
<!--                    </div>-->
                </div>
            </div>
            {% endif %}
                <br>
                <div >
        </div>
<!--                <div class="content ui fluid" style="background-color:#f0f5f5;">-->
<!--                    <h4 style="margin-left:12px;padding-top:10px;">Similar Communities-->
<!--                        &lt;!&ndash;                                <a class="right floated" style=" color:#1cb39b; font-weight:100; " href="{% url 'similar_community' 273 %}"> See all</a>&ndash;&gt;-->
<!--                    </h4>-->

<!--                    <div class="ui container" style=" overflow-y:auto;white-space:nowrap;">-->

<!--                        <div class="ui  horizontal  list" style="margin-left:10px;">-->
<!--                            {% for i in similar_communities %}-->

<!--                            <div class="ui card item" onclick="open_community({{i.id}});"  >-->
<!--                                <br><br>-->

<!--                                <img class="ui avatar image" src="/media/{{i.image_url}}" style="margin-left:5px;">-->
<!--                                <div class="content" style="font-size:12px;">-->
<!--                                    <div class="header" style="font-size:1rem;">{{i.name}}</div>-->
<!--                                    <p id="{{forloop.counter0}}"> {{i.purpose}}</p>-->
<!--                                </div>-->
<!--                                <br><br><br><br>-->

<!--                            </div>-->
<!--                            {% endfor %}-->
<!--                        </div>-->


<!--                    </div>-->
<!--                </div>-->
<br/>


<!-- Displaying Buttons -->
                {% if Nom_mem_state == 6 %}
                <button class="ui  button bottom_button"

                        onclick="accept_admin('{{cta}}','{{community.id}}','{{Nom_mem_state}}');"> Respond to invitation
                </button>

                {% elif Nom_mem_state == 7 %}
                <button class="ui  button bottom_button"
                        onclick="accept_admin('{{cta}}','{{community.id}}','{{Nom_mem_state}}');"> Respond to invitation
                </button>

                {% elif Nom_mem_state == 8 %}
                <button class="ui  button bottom_button"
                      id="down_ref"  > Invite members
                </button>

                {% elif Nom_mem_state == 3 %}
                <button class="ui  button bottom_button"
                        disabled> Pending Approval
                </button>

                {% elif Nom_mem_state == 1%}
                <button class="ui  button bottom_button"
                        disabled>You are a promoter
                </button>

                {% elif Nom_mem_state == 2 %}
                <button class="ui  button bottom_button"
                        disabled>You are a promoter
                </button>

                {% elif Nom_mem_state == 4 %}
                <button class="ui  button bottom_button"
                        disabled>Already a Member
                </button>

                {% elif Nom_mem_state == 5 %}
                <button class="ui  button bottom_button"
                        onclick="join('{{community.id}}')"> Join Community(Declined)
                </button>

                {% elif source == 'email' %}
                <button class="ui  button bottom_button"
                        onclick="accept_admin();">Respond to invitation
                </button>

                {% elif Nom_mem_state == 0 %}
                <button class="ui  button bottom_button"
                        onclick="join('{{community.id}}')"> Join Community
                </button>

                {% endif %}



                <br/>
<br/>


            </div>
        </div>







<!-- models to display on clicks -->

    <!-- download the app pop-up -->
        <div class="ui modal" id="download_app_popup">
            <div class="header">
                Download the app
            </div>
            <div class="image content">

                <div class="description">
                    <div class="ui  form">
                      <div class="field">
                        In order to view the conversations of this community, please download the app
                      </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui positive right labeled icon button" style="background-color:#00897b;" id="Download" onclick="window.location.href = '{{android_app_link}}';">
                    Download
                    <i class="arrow alternate circle down icon"></i>

                </div>
            </div>
        </div>
    <!-- -->


    <!-- login model for non exclusive communities -->
     <div class="ui modal test">

                <div class="ui fluid card " style="margin:0 0 ; padding: 10px 10px;">
                    <h2 class="ui teal center aligned header">
                            <img src="https://beta.collabmates.com/media/media/ic_launcher_round.png" style="float:left;width:35px;"/>


                        <div class="content" style="color:#008577">
                            Login to continue
                        </div>
                    </h2>
                    <div class="content">
                        <p class="center aligned">
                            To join this community we need few basic information about you. This will help us to have
                            relevant member in group.
                        </p>
                    </div>
                    <div class="center aligned container">
                        <div class="content">

                            {% if ref_id != '' %}
                            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}?cta=join_{{ref_id}}">
                            <button class="ui facebook button" style="width:130px;">
                            {% elif cta == 'share' %}
                            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}?cta=join">
                                <button class="ui facebook button" style="width:130px;">
                            {% elif cta != '' %}
                            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}?cta={{cta}}">
                                <button class="ui facebook button" style="width:130px;">
                                    {% else %}
                                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}?cta=join">
                                        <button class="ui facebook button" style="width:200px;">
                                            {% endif %}
                                            <i class="fa fa-facebook" ></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                            Login with Facebook
                                        </button>
                                    </a>
                                    <br>
                                    <br>
                                    OR
                                    <br>
                                    <br>
                                    <div class="content">

                                        {% if ref_id != '' %}
                                        <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}?cta=join_{{ref_id}}">
                                            <button class="ui linkedin button" style="width:130px;">
                                        {% elif cta == 'share' %}
                                        <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}?cta=join">
                                            <button class="ui linkedin button" style="width:130px;">
                                        {% elif cta != '' %}
                                        <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}?cta={{cta}}">
                                            <button class="ui linkedin button" style="width:130px;">
                                        {% else %}
                                            <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}?cta=join">
                                            <button class="ui linkedin button" style="width:200px;">
                                        {% endif %}
                                        <i class="fa fa-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                        Login with LinkedIn
                                        </button>
                                        </a></button>
                                        </a>
                                    </div>
                                </button>
                            </a>
                        </div>
                        <br>

    <!-- accept invitation model -->
                        <div class="ui modal accept" id="accept">

                            <div class="ui fluid card " style="border: 2px solid #1ebea5; margin:0 0 ; padding: 10px 10px;">
                                <h2 class="ui teal center aligned header">
                                    <div class="content">
                                        Respond to Invitation
                                    </div>
                                </h2>
                                <div class="content">
                                    <p class="center aligned">
                                        Send Response
                                    </p>
                                </div>
                                <div class="center aligned container">
                                    <div class="content">
                                        <a href="../accept_admin/{{community.id}}?cta=accept_invitation&value=true">
                                            <button class="ui button" style="width:130px; color:green;">

                                                Accept
                                            </button>
                                        </a>
                                        <br>
                                        <br>

                                        <br>
                                        <br>
                                        <div class="content">
                                            <a href="../accept_admin/{{community.id}}?cta=accept_invitation&value=false">
                                                <button class="ui button" style="width:130px; color:green;">

                                                    Decline
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <br>

                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
    <!-- -->


    <!-- login model for exclusive communities -->

    <div class="ui modal image_container_login" id="whatsapp_login" style="width:80%;">

<!--             <img src="/media/main_website/profile_header.png" style="width:100%;height:70%;">-->
        <br/><br/><br/><br/><br/>

      <div class="profile_name">
          <p align="center" style="font-family:Roboto;sans-serif;font-weight:500;color:black;font-size:17px;line-height:22px;">Login to continue</p>

      </div>

       <div style="margin-top:5%;margin-left:16px;margin-right:16px;text-align:center;font-size:15px;line-height:22px;font-family:Roboto;sans-serif;font-weight:400;color:#8a000000;">
           <p>This is an exclusive community. To view member details please login/signup and join the community.</p>
       </div>
       <div style="margin-top:5%;margin-left:16px;margin-right:16px;text-align:center;font-size:15px;line-height:22px;font-family:Roboto;sans-serif;font-weight:400;color:#8a000000;">

            <div class="center aligned container">
                 <div class="content">

                                        {% if ref_id != '' %}
                                        <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}?cta=join_{{ref_id}}">
                                            <button class="ui linkedin button" style="width:130px;z-index:2;border-radius:20px;">
                                        {% elif cta == 'share' %}
                                        <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}?cta=join">
                                            <button class="ui linkedin button" style="width:130px;z-index:2;border-radius:20px;">
                                        {% elif cta != '' %}
                                        <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}?cta={{cta}}">
                                            <button class="ui linkedin button" style="width:130px;z-index:2;border-radius:20px;">
                                        {% else %}
                                            <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}?cta=join">
                                            <button class="ui linkedin button" style="width:200px;z-index:2;border-radius:20px;">
                                        {% endif %}
                                        <i class="fa fa-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                        Login with LinkedIn
                                        </button>
                                            </a>


                 </div>
            <br/>
                        <div class="content">

                            {% if ref_id != '' %}
                            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}?cta=join_{{ref_id}}">
                            <button class="ui facebook button" style="width:130px;z-index:2;border-radius:20px;">
                            {% elif cta == 'share' %}
                            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}?cta=join">
                                <button class="ui facebook button" style="width:130px;z-index:2;border-radius:20px;">
                            {% elif cta != '' %}
                            <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}?cta={{cta}}">
                                <button class="ui facebook button" style="width:130px;z-index:2;border-radius:20px;">
                                    {% else %}
                                    <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}?cta=join">
                                        <button class="ui facebook button" style="width:200px;z-index:2;border-radius:20px;">
                                            {% endif %}
                                            <i class="fa fa-facebook" ></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                            Login with Facebook
                                        </button>
                                    </a>
                                </button>
                            </a>
                                </button></a></button>
                            </a>
                        </div>

                        <br>

    <!-- accept invitation model -->
                        <div class="ui modal accept" id="accept">

                            <div class="ui fluid card " style="border: 2px solid #1ebea5; margin:0 0 ; padding: 10px 10px;">
                                <h2 class="ui teal center aligned header">
                                    <div class="content">
                                        Respond to Invitation
                                    </div>
                                </h2>
                                <div class="content">
                                    <p class="center aligned">
                                        Send Response
                                    </p>
                                </div>
                                <div class="center aligned container">
                                    <div class="content">
                                        <a href="../accept_admin/{{community.id}}?cta=accept_invitation&value=true">
                                            <button class="ui button" style="width:130px; color:green;">

                                                Accept
                                            </button>
                                        </a>
                                        <br>
                                        <br>

                                        <br>
                                        <br>
                                        <div class="content">
                                            <a href="../accept_admin/{{community.id}}?cta=accept_invitation&value=false">
                                                <button class="ui button" style="width:130px; color:green;">

                                                    Decline
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                    <br>

                                </div>
                            </div>
                        </div>


                    </div>
       </div>


    <br/>
   </div>
    <!-- -->



    <!-- pop-up to show member profile -->
<!-- style="overflow:scroll;height:80%;width:80%; -->
        <div class="ui modal image_container_profile" id="member_profile" style="width:90%;">
<br/>

            <div class="profile_name">
                    <p align="center" style="font-family:Roboto;sans-serif;font-weight:500;color:black;font-size:17px;line-height:22px;color:#075e54;">Awesome !<br/>
Your community profile is created.!</p>
             </div>
<br/>

      <div class="profile_name" style="margin-top:5%">
          <img class="ui tiny circular centered image" src="{{request.user.userinfo.image_link}}">

      </div>

<br/>
            <div style="margin-top:5%;margin-left:16px;margin-right:16px;text-align:center;">
               <p style="font-family:Roboto;sans-serif;font-weight:500;color:black;font-size:17px;">{{request.user.userinfo.name}}</p>
           </div>



       {% for profile in profile_list %}

            {% if profile.rank == 1 %}

               <div style="margin-top:5%;margin-left:16px;margin-right:16px;">
                            <p class="Roboto" style="line-height:20px;font-size:13px;color:#9b9b9b"><img src="/media/main_website/ic_email_48_px.png" height=16px;width=14px;/>&nbsp;&nbsp;{{profile.answer}}</p>

               </div>


            {% elif profile.rank == 2 %}


               <div style="margin-top:3%;margin-left:16px;margin-right:16px;">
                            <p class="Roboto" style="line-height:20px;font-size:13px;color:#9b9b9b">
                                <img src="/media/main_website/mobile_alt.png" height=20px;width=16px;/>&nbsp;&nbsp;{{profile.answer}}
                            </p>

               </div>

            {% elif profile.rank == 3 %}
               <div style="margin-top:3%;margin-left:16px;margin-right:16px;">
                            <a class="Roboto" style="line-height:20px;font-size:13px;color:#00897b" href=${value['answer']}>
                                <img src="/media/main_website/link.png" height=20px;width=16px;/>&nbsp;&nbsp;{{profile.answer}}
                            </a>

               </div>
            <br/>



            {% elif profile.rank == 4 %}


               <div style="margin-top:5%;margin-left:16px;margin-right:16px;padding-bottom:5%;">
                            <p class="Roboto" style="font-size:15px;line-height:24px;color:#4a4a4a">
                                {{profile.answer}}

                            </p>
               </div>



            {% else %}
               <div style="margin-top:3%;margin-left:16px;margin-right:16px;">
                            <p class="Roboto" style="font-size:15px;line-height:20px;color:#9b9b9b">{{profile.answer}}</p>

               </div>
            {% endif %}

       {% endfor %}
            <br/>

             <div style="margin-top:3%;margin-left:16px;margin-right:16px;text-align:center">
                            <p class="Roboto" style="font-size:13px;font-weight:500;color:black;letter-spacing:0.46px;opacity:40%" id="dismiss">DISMISS</p>

               </div>
            <br/>

   </div>
    <!-- -->


    <!-- unverified member profile pop-up-->
    <div class="ui modal" id="unverified_member" style="width:75%;">

<!--             <img src="/media/main_website/profile_header.png" style="width:100%;height:70%;">-->


      <div class="profile_name" style="margin-top:6%;margin-left:20px;">
          <p align="left" style="font-family:Roboto;sans-serif;font-weight:500;color:black;font-size:17px;line-height:22px;opacity:87%;">Member profile not accessible</p>

      </div>
       <div style="margin-top:5%;margin-left:20px;margin-right:18px;text-align:left;">
           <p style="font-size:15px;line-height:22px;font-family:Roboto;sans-serif;font-weight:400;color:#000000;opacity:54%;">Your account is pending for approval from the admin. Once the admin approves, you would be able to view the full communtity profile of the user.
<br/><br/>
               Once verified, we will send an email on: <span style="color:#007aff;">xyz@gmail.com.</span></p>
       </div>
       <br/>
        <div style="margin-top:5%;margin-left:16px;margin-right:16px;text-align:center">

           <p class="Roboto" style="font-size:13px;font-weight:500;color:#009688;letter-spacing:0.46px;opacity:100%" id="change_email">CHANGE EMAIL ID</p>

       </div>
       <div style="margin-top:5%;margin-left:16px;margin-right:16px;text-align:center">

           <p class="Roboto" style="font-size:13px;font-weight:500;color:black;letter-spacing:0.46px;opacity:40%" id="dismiss_email">DISMISS</p>

       </div>




    <br/>
   </div>
    <!-- -->


    <!-- verifief member profile pop-up -->

    <!-- profile pop-up -->
    <div class="ui modal image_container_verified" id="display" style="max-width:786px;">

    </div>

    <!-- -->


    <!-- change email address -->
            <div class="ui modal" id="email_update" style="width:75%;">

<!--             <img src="/media/main_website/profile_header.png" style="width:100%;height:70%;">-->


      <div class="profile_name" style="margin-top:6%;margin-left:20px;">
          <p align="left" style="font-family:Roboto;sans-serif;font-weight:500;color:black;font-size:17px;line-height:22px;opacity:87%;">Member profile not accessible</p>

      </div>
       <div style="margin-top:5%;margin-left:20px;margin-right:18px;text-align:left;">
           <p style="font-size:15px;line-height:22px;font-family:Roboto;sans-serif;font-weight:400;color:#000000;opacity:54%;">Your account is pending for approval from the admin. Once the admin approves, you would be able to view the full communtity profile of the user.
<br/><br/>
               Once verified, we will send an email on: <span style="color:#007aff;">xyz@gmail.com.</span></p>
       </div>
       <br/>
        <div style="margin-top:5%;margin-left:16px;margin-right:16px;text-align:center">

           <p class="Roboto" style="font-size:13px;font-weight:500;color:#009688;letter-spacing:0.46px;opacity:100%" id="update_email">CHANGE EMAIL ID</p>

       </div>
       <div style="margin-top:5%;margin-left:16px;margin-right:16px;text-align:center">

           <p class="Roboto" style="font-size:13px;font-weight:500;color:black;letter-spacing:0.46px;opacity:40%" id="dismiss_email">DISMISS</p>

       </div>




    <br/>
   </div>

    <!-- -->



    <!-- -->

<!-- -->







</body>

    </html>



    <script>


        function open_community(id){

           console.log(id);
            window.location.href ="../community/"+id;
            console.log(window.location.href)
          }

                function join(community_id){
                    console.log(1);
                    {% if user.is_authenticated %}
                        {% if ref_id != '' %}
                           window.open("/"+"community/"+community_id+"?cta=join&ref_id={{ref_id}}",'_self');
                        {% else %}
                           window.open("/"+"community/"+community_id+"?cta=join",'_self');
                        {% endif %}
                    {% else %}
                          model_show();
                    {% endif %}
                }


                function accept_admin(cta,community_id,Nom_mem_state){

                    {% if user.is_authenticated %}
                    if (Nom_mem_state!=6 & Nom_mem_state!=7)
                    {
                      alert("Sorry!You are not the Nominated Promoter of this Community");
                      return;
                    }
                     $('.accept')
                    .modal('show')
                  ;
                    {% else %}
                    $('.test')
                    .modal('show')
                  ;
                    {% endif %}

                }


                function referal(ref_id){

                    {% if user.is_authenticated %}

                     window.location.href ="../refer_members/"+{{community.id}}+"?ref_id="+ref_id;

                    {% else %}

                      model_show()

                    {% endif %}

                }



function model_show(){

//function to show the model

  {% if community_state != 5 %}
        $('.test').modal('show');
  {% else %}
        $('#whatsapp_login').modal('show');
  {% endif %}

}


  //jquery

$(document).ready(function() {



       for(var i=0;i<={{similar_community_length}};i++)
       {
       ans=$('#'+i).text();

       ans=ans.substring(0,42)
       ans=ans+'...'
       $('#'+i).html(ans)
       }


    //function to auto accept the invitation
       var community_id={{community.id}}
       console.log(community_id)
       {% if request.user.is_authenticated and cta == 'accept_admin' %}

         if(localStorage.getItem('community_id') != community_id+""){
            $(window).load(function(){
               $('#accept').modal('show');
                });
            localStorage.setItem('community_id',community_id+"")
        }
       {% endif %}

        console.log(localStorage)
        //localStorage.clear()



     //showing not interested popup when back button is clicked

     $('#back_click').click(function(){

     ct=false;

     {% if ref_id %}
        ct=true
     {% endif %}


     if(ct)
     {
       $('#back').modal('show');
     }else{
        location.href="/communities"
     }


     })

      $("#yes").click(function(){

        location.href="/communities"

       })



});




{% if request_user_email %}
  //email_login popup start
      $('#email_login').modal('show');
        $('#email_login').modal({
      backdrop:'static',
      keyboard: false,
      });
      $('#email_submit').click(function(){
      email=$('#email_input').val()
      console.log(email)
      $.ajax({
            url:'/update_user_info/'+email,
            success:function(data){
               console.log(data)
            }
         })
      })
  //email_login popup end
{% endif %}




//download the app popup


$('#conv').click(function(){
    {% if android_app_link %}
        $('#download_app_popup').modal('show');
    {% endif %}
})







// share pop-up to share community link


$('#ref').click(function(e){

if (navigator.share) {
    navigator.share({

     title: '{{community.name}}',
      text:'{{share_text}}',
      url: '{{share_url}}'

    }).then(() => {
      console.log('Thanks for sharing!');
    })
    .catch(console.error);
  } else {
    console.log('test')

  }

})


$('#down_ref').click(function(e){

if (navigator.share) {
    navigator.share({

     title: '{{community.name}}',
      text:'{{share_text}}',
      url: '{{share_url}}'

    }).then(() => {
      console.log('Thanks for sharing!');
    })
    .catch(console.error);
  } else {
    console.log('test')

  }

})

// about show more

$('#show_more').click(function(){

$('#show_more').css("display","none")

display=`{{community.about|linebreaks}}`

$('#more').html(display)

})


$('#filter_icon').click(function(e){

    location.href="/members_directory/"+'{{community.id}}'

})




//member profile pop-up
{% if profile_list %}
    $('#member_profile').modal('show');
    $(".dimmer").css("background-color","rgba(40,40,40,0.5)");
{% endif %}


//dismiss pop-up

$('#dismiss').click(function(){

 $('#member_profile').modal('hide');

})



//dismiss email popup
$('#dismiss_email').click(function(){

 $('#unverified_member').modal('hide');

})


$('.member_link').click(function(){

member_id=$(this).val()

//unverified member pop-up

{% if not is_member %}

    $('#unverified_member').modal('show');
    console.log("test")

{% else %}
    showMemberProfile(member_id);
{% endif %}



})



function showMemberProfile(member_id){


community_id={{community.id}}

 json_data={
    'data':member_id,
    'community_id':community_id,
    'csrfmiddlewaretoken':'{{csrf_token}}',
    }
console.log(json_data)

  $.ajax({

            url:"/member_profile",
            data:json_data,
            type:"POST",
            dataType:'json',
            success:function(data){

            console.log(data['answer_list'])

            html=`

             <img src="/media/main_website/profile_header.png" style="width:100%;height:70%;">


      <div class="profile_name">
          <p align="center" style="font-family:Roboto;sans-serif;font-weight:600px;color:black;font-size:17px;">
          ${data['member_name']}</p>

      </div>

      `
       $.each(data['answer_list'],function(index,value){

               segment=""
               if(value['rank'] == 1){
               segment = `
               <div style="margin-top:5%;margin-left:16px;margin-right:16px;">
                            <p class="Roboto" style="line-height:20px;font-size:13px;color:#9b9b9b"><img src="/media/main_website/ic_email_48_px.png" height=16px;width=14px;/>&nbsp;&nbsp;${value['answer']}</p>

                     </div>
                    `
               html = html + segment
               }else if(value['rank'] == 2){

               segment = `
               <div style="margin-top:3%;margin-left:16px;margin-right:16px;">
                            <p class="Roboto" style="line-height:20px;font-size:13px;color:#9b9b9b">
                                <img src="/media/main_website/mobile_alt.png" height=20px;width=16px;/>&nbsp;&nbsp;${value['answer']}
                            </p>

                     </div>
                    `
               html = html + segment


               }else if(value['rank'] == 3){

                segment = `
               <div style="margin-top:3%;margin-left:16px;margin-right:16px;">
                            <a class="Roboto" style="line-height:20px;font-size:13px;color:#00897b" href=${value['answer']}>
                                <img src="/media/main_website/link.png" height=20px;width=16px;/>&nbsp;&nbsp;${value['answer']}
                            </a>

                     </div>
                     <br/>
                    `
               html = html + segment


               }else if(value['rank'] == 4){

               segment = `
               <div style="margin-top:5%;margin-left:16px;margin-right:16px;padding-bottom:5%;">
                            <p class="Roboto" style="font-size:15px;line-height:24px;color:#4a4a4a">
                                ${value['answer']}

                            </p>


               </div>
                    `
               html = html + segment


               }else{

                segment = `
               <div style="margin-top:3%;margin-left:16px;margin-right:16px;">
                            <p class="Roboto" style="font-size:15px;line-height:20px;color:#9b9b9b">${value['answer']}</p>

               </div>
                    `
               html = html + segment

               }

       })

       html=html + "<br/>"

            $('#display').html(html)
            $('#display').modal('show');
            $(".dimmer").css("background-color","rgba(40,40,40,0.5)");



            }

         })




}

        </script>




    {% endblock %}