{% extends 'base.html' %}


{% block content %}

<div class=" ui small breadcrumb" style="padding: 0 10px;">
        <a class="section" href = "{% url 'home' %}">Home</a>
        <i class="right chevron icon divider"></i>

        <div class="active section">{{community.name}}</div>
</div>

        <div class="ui fluid card" style="margin-top:0px;">
            <div class="image">
                <img src='/media/{{community.image_url}}'> 
            </div>
        
            <div class="content" style="padding-bottom:0;">
                <a class="center aligned header">{{ community.name }}</a>
                <span class="left floated text" style="width:50%;"><i class="map marker alternate icon"></i>{{community.location}}</span>
                <span class="right floated text"><a href = "{% url 'members_list' community.id %}" style="color:#1cb39b;">{{community.members_count}} Members </a></span>
            </div>
            
                <div class="content">
                  
                  <div class="ui small feed">
                    <div class="event">
                      <div class="content" >
                            <h4 class=" center aligned ui sub header"  style="margin-bottom:2px;">About</h4>
                        <div class="summary center aligned">
                           <p style="font-weight:100;" id = "more">{{community.about}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="event">
                            <div class="content">
                                  <h4 class=" center aligned ui sub header" style="margin-bottom:2px;">Purpose</h4>
                              <div class="summary center aligned">
                                 <p style="font-weight:100;">{{community.purpose}}</p>
                              </div>
                            </div>
                          </div>
                    <div class="event">
                      <div class="content">
                        <div class="left floated summary" style="font-size:1.1em !important ;">
                           <p style="margin:0; font-size:1.1em;" > Active Since <br></p>
                           <p style="font-weight:100; font-size:0.9em !important;">
                           {{community.active_since}}
                            </p>
                        </div>
                        <div class="right floated summary">
                                <p style="font-size:1.1em;"> Admins <br> <br><img class="ui mini image" style=" height:35px; width:35px;" src="{{admins.0.0.image_url}}">
                                     <a href='../../profile/{{admins.0.0.user_id.id}}' style="font-weight:100; font-size:0.9em !important;">{{admins.0.0.name}} </a></p>
                        </div>
                      </div>
                    </div>
                    <br>
                    {% if joined == 0 %}
			<div class="center aligned extra content">
                            <button class="ui fluid button " style=" z-index:2;width:95%; left:2.5%; margin:0 auto; background-color: #1cb39b; color:white; bottom:1%; position:fixed;" onclick="join();"> Join Group  </button>
                    </div>
                    {% endif %}
                    <div class="ui celled list">
                        
                            <h4 class="ui sub header">
                                    Community Members

                                    <a class="right floated" style=" color:#1cb39b; font-weight:100;" href="{% url 'members_list' community.id %}"> See all</a>
                                  </h4>                        
                    <div class="ui container" style=" overflow-y:auto;white-space:nowrap;" >
                                        
                        {% for i in members%}
                            <div class="ui card" style="display:inline-block;  width:150px; padding:10px 0px; margin:5px 10px;">
                                <a href="../../profile/{{i.user_id.id}}" style=" margin:0 35px; width: 80px !important; ">
                                  <img class="ui medium circular image" src="{{i.image_url}}" style=" margin:0 auto; height:80px; width:75px;">
                                </a>
                                <div class="content">
                                  <a class="header" href="../../profile/{{i.user_id.id}}" style="margin: 0 auto; overflow-x:hidden ; text-align:center; ">{{i.name}}</a>
                                </div>
                              </div>
  
                            
                        {% endfor %}

                       
                    </div>
                    </div>
                    
                  </div>
                  
                <div class="ui celled list">
                        <h4> Similar Communities </h4>
                        <div class="ui container" style=" padding-left:10px; overflow-y:auto;white-space:nowrap;" >
                        {% for i in similar_communities %}
                        <div class="ui card" style="display:inline-block; width:150px; padding:0px 0px; margin-right:10px;">
                                <a href="../{{i.id}}"  >
                                  <img class="ui medium fluid image" src="https://beta.collabmates.com/media/{{i.image_url}}" style=" margin:0 auto; height:100px; width: 150px;">
                                </a>
                                <div class="content">
                                  <a class="header" href="../{{i.id}}" style="margin: 0 auto; overflow-x:hidden ; text-align:center; ">{{i.name}}</a>
                                </div>
                              </div>
                        {% endfor %}
                        
                    </div>
                </div>
                </div>
                
                        <br>
                        <br>
                        <br>
              </div>
              
              <style>
            a.morelink {
                text-decoration:none;
                outline: none;
            }
            .morecontent span {
                display: none;
            }
            .comment {
                width: 400px;
                background-color: #f0f0f0;
                margin: 10px;
            }
        </style>
           <script>
                function join(){
                    {% if user.is_authenticated %}
                        window.location.href = "join";
                    {% else %}
                    $('.ui.modal')
                    .modal('show')
                  ;
                    {% endif %}
                }

                $(document).ready(function() {
                    var showChar = 200;
                    var ellipsestext = "...";
                    var moretext = "more";
                    var lesstext = "less";
                    $('#more').each(function() {
                        var content = $(this).html();
                        
                        if(content.length > showChar) {
                            console.log(content.length);
                            var c = content.substr(0, showChar);
                            var h = content.substr(showChar-1, content.length - showChar);
                
                            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
                
                            $(this).html(html);
                        }
                
                    });
                
                    $(".morelink").click(function(){
                        if($(this).hasClass("less")) {
                            $(this).removeClass("less");
                            $(this).html(moretext);
                        } else {
                            $(this).addClass("less");
                            $(this).html(lesstext);
                        }
                        $(this).parent().prev().toggle();
                        $(this).prev().toggle();
                        return false;
                    });
                });
                
           </script>
{% endblock %}


