{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" style="padding:10px; margin:0;">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Post</button>
</form>
  
  <script>

      //ui fluid container
    //$('p').addClass('ui fluid card');
    $('form').addClass('ui form ui fluid card');
      document.getElementById("id_location").onkeyup = function(){
      var place = document.getElementById("id_location");
      place = place.value;
      
    }
  </script>
{% endblock %}