{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" style="padding:10px 10vw; width:100%; margin:0 auto;">
  {% csrf_token %}
  {{ form.as_p }}
  
  <button class="ui fluid button " style=" z-index:2;width:100%; left:10vh; margin:0 auto; background-color: #1cb39b; color:white; bottom:1%;" onclick="send();"> Create Group  </button>
</form>
  
  <script>
      function send(){
        console.log('hi');
      }
      
    $('select').addClass("ui fluid search dropdown" );
    $('select')
  .dropdown({
    maxSelections: 3
  })
;
    $('select').attr('multiple',(this.checked) ? "" : "multiple");
    $('form').addClass('ui form ui fluid card');
      document.getElementById("id_location").onkeyup = function(){
      var place = document.getElementById("id_location");
      place = place.value;
      
    }


  </script>
{% endblock %}