{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Home</li> 
{% endblock %}

{% block content %}
<body>
        <div class=" ui fluid container" style="padding:10px 20px;">
        <div class="ui grid">
            <div class="eight wide column" style="padding-right:5px; ">
            <div class="ui left aligned search" >
                <div class="ui fluid icon input" id = 'result' > 
                  <input class="ui fluid prompt"   type="text"  placeholder=" Categories..." style="padding-right: 2px !important;"> 
                  <i class="search icon" onclick="filter()"></i>
                </div>
                <div class="results" ></div>
              </div>
              </div>
              <div class="eight wide column" >
              <div class="ui right aligned search" >    
                <div class="ui fluid icon input">
                      <input class="ui fluid prompt" type="text"  id='lct' placeholder="Location...." style=" width: 100% ; padding-right: 2px !important;">
                      <!-- <i class="map marker alternate icon"></i> -->
                    </div>
                    <div class="results"></div>
            </div>
            </div>

        </div>
            </div>
           
            
    <div class="ui fluid container" style="padding: 0 20px" id = 'comm_card'>
        {{request.user.userinfo}}
    {% for community in communities %}
    
    <div class="ui link fluid cards" >
            <div class="ui fluid card ">
                    <div class="image">
                      <img src="http://localhost:8000/media/{{community.image_url}}">
                    </div>
                    <div class="content">
                      <div class="header" style="padding-bottom: 5px;"><a href="../community/{{community.id}}" style="color:#1cb39b;">{{community.name}}</a></div>
                    
                      <span class="left floated" style="width:50%;">
                            <i class="map marker alternate icon"></i>
                            {{community.location}}
                            

                          </span>
                          <span class="right floated ">
                            <i class="user icon"></i>
                            <a href ="{% url 'members_list' community.id %}">
                            {{community.members_count}}
                            </a>
                          </span>
                    </div>
                    <div class="extra content">
                            <div class="description">
                                    {{community.about}}
                                  </div>
                      
                    </div>
                  </div>
    </div>

    {% endfor %}
</div>
<script>
        function getLocation(){   
            navigator.geolocation.getCurrentPosition(function(location) {
                console.log(1)
                console.log(location.coords.latitude);
                console.log(location.coords.longitude);
                lct = document.getElementById('lct');
                url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng='+location.coords.latitude+','+ location.coords.longitude+'&key=AIzaSyBWzqsPR2NYGai0sn5eZB9h9bTgttUifDQ';
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                  if (this.readyState == 4 && this.status == 200) {
                    var resp = this.responseText;
                    resp = JSON.parse(resp);
                    var city = resp["results"][3]["formatted_address"]
                    console.log(city);
                    //[0]['address_components'][3]
                    lct.value = city;
                  }
                };
                xhttp.open("GET", url , true);
                xhttp.send();
              }
            );
        };
    $(document).ready(function () {
        var content = [ {title : 'Alumni'},
        {title : 'College'},
        {title : 'School'},
        {title : 'Profession'},
        {title : 'Native Roots'},
        {title : 'Parenting'},
        {title : 'Events'},
        {title : 'Interests'},
        {title : 'Education'},
        {title : 'Achievements'},
        {title : 'Learning'},
        {title : 'Opportunities'},
        {title : 'Sports'},
        {title : 'Activities'},
        {title : 'Travel'},
        {title : 'Hobbies'},
        {title : 'Religious'},
        {title : 'Political'},
        {title : 'Social'},
        {title : 'Music'},
        {title : 'Belief'},
        {title : 'Fan'},
        {title : 'Startups'},
        {title : 'Finance'},
        {title : 'Industry'},
        {title : 'Skill'},
        {title : 'Family'},
        {title : 'Cause'},
        {title : 'Neighborhood'},
        {title : 'Health & Wellness'},
        {title : 'Sports & Fitness'},
        {title : 'Food & Drink'},
        {title : 'Language & Culture'},
        {title : 'Movement'},
        {title : 'Games'},
        {title : 'Art'},
        {title : 'Fashion'},
        {title : 'Brand'},
        ]

        $('.ui.left.aligned.search')
        .search({
          source: content
        })
      ;
        getLocation();
    });
    
    //location = document.getElementById('location');
    

    function filter(){
        var category = document.getElementById('result');
        value = document.getElementsByTagName('input');
        
        data = value[1].value;
        console.log(data);
        var comm ;
        $.ajax({
            url: "",
            type: "GET",
            data: {"data": data,},
            cache:false,
            dataType: "json",
            success: function(res){
              console.log(res['communities']);
              comm = res['communities'];
            
        
      cont = document.getElementById('comm_card');
      cont.innerHTML = ""
        for (i in cont){
        $("#comm_card").append('<div class="ui link fluid cards"> <div class="ui fluid card " > <div class="image" > \
                      <img src=' + i.image_url + '> \
                    </div > \
                    <div class="content" > \
                      <div class="header" style="padding-bottom: 5px;"><a href="../community/'+ i.id+ ' " style="color:#1cb39b;">{{community.name}}</a></div > <span class="left floated" style="width:50%;"> \
                            <i class="map marker alternate icon" > \
                            </i> ' + i.location + '</span> \
                          <span class="right floated " > \
                            <i class="user icon"></i > \
                            <a href = "/' + members_list + '/1 ">   </a> \
                          </span> \
                    </div> \
                    <div class="extra content"> \
                            <div class="description"> ' + i.about + ' </div> \
                    </div> \
                  </div> \
    </div>');
  }
    }
    });
        //url = 'localhost:8000/togther/dashboard/'+data;
        //console.log(url)
        //window.location(url);
    };

    $("#lct").keyup(function(){
      var txt = document.getElementById('lct');
      console.log(txt.value);
      var url1 = "https://maps.googleapis.com/maps/api/place/autocomplete/jsonp?input="+txt.value+"&key=AIzaSyBWzqsPR2NYGai0sn5eZB9h9bTgttUifDQ";
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var resp = this.responseText;
          //resp = JSON.parse(resp);
          //var city = resp["results"][3]["formatted_address"]
          console.log(resp);
          //[0]['address_components'][3]
          //lct.value = city;
        }
      };
      xhttp.open("GET", url1 , true);
      xhttp.send();
      //$("#lct").innerHTML = resp;
    });

</script>
</body>
{% endblock %}