{% extends request.is_ajax|yesno:"layouts/ajax.html,layouts/layout.html" %}

{% block yeild %}

    {% include 'components/loader.html' %}
    
    <div class="container mxw960 mA mt56">
        
        {% include 'components/header.html' with data=header %}
        
        <div class="mxh240 mb12 hv33 pR mnh200">
            <img class="wp100 pA l0 r0 b0" src="{{ collabcard.banner_image }}">
        </div>
        <div class="p024 ffR">
            <div class="p120 ffR fwL fs24 lh36 c4a bdbE bs">
                {{collabcard.title}}
            </div>
            <div class="p160 bdbE bs dT wp100 fwR">
                <div class="dTc vM w24 c06C3AF">
                    {% include 'svgs/calendar.html' %}
                </div>
                <div class="dTc vM pl30 bs">
                    <div class="fs16 c4a">{{ collabcard.start_time }}</div>
                    <div class="fs13 c9b pt2 bs">For {{ collabcard.duration }}</div>
                </div>
            </div>
            <div class="p160 bdbE bs dT wp100 fwR">
                <div class="dTc vM w24 cfe7e8d">
                    {% include 'svgs/calendar.html' %}
                </div>
                <div class="dTc vM pl30 bs">
                    <div class="fs16 c4a">Ends on</div>
                    <div class="fs13 cd0021b pt2 bs">{{ collabcard.end_time }}</div>
                </div>
            </div>
            <div class="p160 bdbE bs dT wp100 fwR">
                <div class="dTc vM w24">
                    {% include 'svgs/location.html' %}
                </div>
                <div class="dTc vM pl30 bs">
                    <div class="fs16 c4a"></div>
                </div>
            </div>
            <div class="p160 bdbE bs dT wp100 fwR">
                <div class="dTc vM w24 c06C3AF">
                    {% include 'svgs/click.html' %}
                </div>
                <div class="dTc vM pl30 bs">
                    <div class="fs16 c4a lh21 cT"></div>
                </div>
            </div>
            <div class="pt24 pb24 bs bdbE bs">
                <div class="fs14 fwR c9b">Posted By</div>
                <div class="pt16 bs">
                    <div class="dT wp100 bs">
                        <div class="bs dTc h64 w64">
                            <img src="{{ collabcard.member.image_url }}" class="bd2F brp50 bxs dB h64 w64">
                        </div>
                        <div class="dTc vM pl16 bs fs15">
                            <div class="c0 fwM">{{ collabcard.member.name }}</div>
                            <div class="lh20 c9 fwR pt4 bs">
                                {% for i in collabcard.member.question_answers %}
                                    {% if i.state == 7 %}
                                        <p class="ffR p0 m0 fs15 lh20 lc2 dwB wboV oH">{{i.value}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt24 pb24 bs bdbE bs">
                <div class="fs14 fwR c9b lh30">About Event</div>
                <div class="lh20 c4a fs15 fwR pt16">
                    About event here. Event description here. This is demo description.
                </div>
            </div>
            <div class="pt24 pb24 bs bdbE bs">
                <div class="fs14 fwR c9b lh30">Hosts</div>
                <div class="pt16 bs">
                    <!-- each host -->
                    <div class="dT wp100 bs">
                        <div class="bs dTc h64 w64">
                            <img src="{{ collabcard.member.image_url }}" class="bd2F brp50 bxs dB h64 w64">
                        </div>
                        <div class="dTc vM pl16 bs fs15">
                            <div class="c0 fwM">{{ collabcard.member.name }}</div>
                            <div class="lh20 c9 fwR pt4 bs">
                                {% for i in collabcard.member.question_answers %}
                                    {% if i.state == 7 %}
                                        <p class="ffR p0 m0 fs15 lh20 lc2 dwB wboV oH">{{i.value}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pt24 pb24 bs bdbE bs">
                <div class="dT wp100">
                    <div class="dTc vM w24 h24">
                        {% include 'svgs/user_outline.html' %}
                    </div>
                    <div class="dTc vM wp100 pl12 bs fwR fs14 c9b">Members Attending</div>
                    <div class="dTc vM c06C3AF wsN">{{ collabcard.attending_count }} attending</div>
                </div>
                <div class="pt24">
                    <!-- each member attending -->
                    {% for i in members %}
                        {% if i.collabcard_state == 3 or i.collabcard_state == 4 %}
                            <div class="dIb vM w64 h64">
                                <img src="{{ i.image_url }}" class="dB w64 h64 brp50" />
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="pt24 pb24 bs bdbE bs">
                <div class="fs14 fwR c9b lh30">Comments . {{ answers|length }}</div>
                <div class="h40 pt16 bs dT wp100">
                    <div class="dTc vM">
                        <input class="h40 p12 bs bgf2 br20 bd0 wp100 c9b" placeholder="Type your comment" />
                    </div>
                    <div class="dTc vM bgT" id="send">
                        SEND
                    </div>
                </div>
                {% for answer in answers %}
                    <div class="dT wp100 p200 bs">
                        <div class="dTc vT w48 h48">
                            <img class="dB w48 h48 brp50" src="{{ answer.member.image_url }}">
                        </div>
                        <div class="dTc vT pl12 bs">
                            <div class="dT wp100 tlF">
                                <div class="dTc vM c0 lh18 fs14 fwM">{{ answer.member.name }}</div>
                                <div class="dTc vM taR fs12 c9b">{{ answer.created_at }}</div>
                            </div>
                            <div class="pt8 bs fs13 lh20 c4a">
                                {{ answer.answer }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="h60"></div>
        <!-- Displaying Buttons -->
        <div class="p8 bs taC pF b0 l0 r0 h60 bdtE bgF z1">
            <button class="h44 bgT cF br22 fwM ffR fs13 w228 bd0 ttU ls05">
                <div class="dIb vM">
                    {% include 'svgs/calendar_outline.html' %}
                </div>
                <div class="dIb vM">ATTEND</div>
            </button>
        </div>

        {% if request.user.is_authenticated %}
            {% if not request.user.email and request.user.id != 37 and request.user.id != 176 %} 
                <div class="ui modal ffR p24 bs w280" id="email_login">
                    <p class="c0 fs16 fwM lh24 mb16">Please provide your email id in order to continue</p>
                    <div class="field">
                        <label>E-mail</label>
                        <input type="email" placeholder="Enter your email id" id="email_input">
                    </div>
                    <div class="ui positive right labeled icon button" style="background-color:#00897b;" id="email_submit">Submit</div>
                </div>
            {% endif %}
        {% else %}
            <div class="ui modal test">
                <div class="ui fluid card " style="#1ebea5; margin:0 0 ; padding: 10px 10px;">
                    <h2 class="ui teal center aligned header">
                        <img src="https://beta.likeminds.community/media/media/ic_launcher_round.png" style="float:left;width:35px;"/>
                        <div class="content" style="color:#008577">
                            Login to continue
                        </div>
                    </h2>
                    <div class="content">
                        <p class="center aligned" id="login_text">
                            To join this community we
                        </p>
                    </div>
                    <div class="center aligned container">
                        {% if request.user.is_authenticated %}
                            <div class="content">
                                <button class="ui fluid button " style=" z-index:2;width:60%; left:20%;  margin:0 auto; background-color: #00897b; border-radius:20px; color:white; bottom:1%; position:fixed;"
                                    onclick="join('{{community_id}}')">Join this community</button>
                            </div>
                            <div style="height:10px"></div>
                        {% elif not request.user.is_authenticated%}
                            <div class="content">
                                <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
                                    <button class="ui facebook button" style="width:200px;">
                                        <i class="fa fa-facebook" ></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                        Login with Facebook
                                    </button>
                                </a>
                            </div>
                        {% endif %}

                        {% if not request.user.is_authenticated %}
                            OR
                        {% endif %}

                        {% if not request.user.is_authenticated %}
                            <div class="content">
                                <a href="{% url 'social:begin' 'linkedin-oauth2' %}?next={{ request.path }}">
                                    <button class="ui linkedin button" style="width:200px;">
                                        <i class="fa fa-linkedin"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                            Login with LinkedIn
                                    </button>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="dN">{{collabcard}}</div>
        <div class="dN">{{community}}</div>
        <div class="dN">{{members}}</div>
        <div class="dN">{{answers}}</div>

    </div>

    <script>
        {% if request.user.is_authenticated %}
            {% if not request.user.email and request.user.id != 37 and request.user.id != 176 %}        //admin handling case
                //email_login popup start
                $('#email_login').modal('show');
                $('#email_login').modal({
                    backdrop:'static',
                    keyboard: false,
                });
                $('#email_submit').click(function(){
                    email=$('#email_input').val()
                    console.log(email);
                    $.ajax({
                        url:'/update_user_info/'+email,
                        success:function(data){
                            console.log(data)
                        }
                    })
                })
                //email_login popup end
            {% endif %}
        {% endif %}

        $('#back_click').click(function(){
            {% if user.is_authenticated %}
                window.open("/communities");
            {% else %}
                $('.test').modal('show');
            {% endif %}
        });

        function join(community_id){
            console.log(1);
            {% if user.is_authenticated %}
                window.open("/"+"community/"+community_id+"?cta=join",'_self');
            {% else %}
                $('.test').modal('show');
            {% endif %}
        }

        $(document).ready(function(){

            // setInterval(function(){
            //     console.log('hit')
            //     location.reload(true);
            // },120000);

            $('#send').click(function(){
                {% if user.is_authenticated %}
                    create_new_message();
                {% else %}
                    var element = document.getElementById("login_text");
                    element.innerHTML = "Your answer has been successfully saved. However to ensure privacy of the community, you need to be part of the <b>{{community_name}}</b> on LikeMinds before your answer gets posted.";
                    $('.test').modal('show');
                {% endif %}
            });

            {% if request.user.is_authenticated %}
                {% if not is_member %}
                    $('#view_answer').click(function(){
                        var element = document.getElementById("login_text");
                        {% if request.user.is_anonymous %}
                            element.innerHTML = "To view answers, you need to be part of the <b>{{community_name}}</b> on LikeMinds";
                            $('.test').modal('show');
                        {% elif not is_member and request.user.is_authenticated%}
                            element.innerHTML = "To view answers, you need to be part of the <b>{{community_name}}</b> on LikeMinds";
                            $('.test').modal('show');
                        {% endif %}
                    });
                {% endif %}
            {% endif %}

            {% if user.is_authenticated %}
                function create_new_message(){
                    var member_id={{request.user.id}};
                    var collabcard_id={{card_id}};
                    var msg=$('#msg').val();
                    if(msg == ''){return}

                    var html=`
                            <div class="card">
                            <div class="ui raised padded text container segment" style="margin: 1em 1em !important;background:rgba(0,137,123,0.5)" id="show" >
                                <div class="card">
                                    <div class="content">
                                        <div ><img class="ui left aligned avatar image"  src="{{user_image_url}}">{{request.user}}</div>
                                        <div class="meta"></div>
                                        <div class="description" style="font-size:14px;overflow-wrap: break-word;">
                                            <br>
                                            ${msg}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            `
                    $('#answer').append(html);
                    $('#msg').val('');
                    message={
                        'collabcard_id':collabcard_id,
                        'member_id':member_id,
                        'message':msg
                    }
                    $.ajax({
                        url:'/create_message',
                        data:message,
                        dataType:'json',
                        success:function(data){
                            console.log('success')
                        }
                    })
                }
            {% endif %}
            // $('#refresh').click(function(){
            //     location.reload(true)
            // })
        })

    </script>
{% endblock %}


