{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item "><a href="../../dashboard"> Home </a></li>
<li class="breadcrumb-item active">Community</li>
{% endblock %}

{% block content %}
<body>
    <div class="container">
   
            <form method="POST" action="" style="padding:10px;">
                {% csrf_token %}
                
                <br>
                
                Info required from user ?
                <br>
                <br>
                <div class = "ui checkbox">
                <input type="checkbox" id = "college" name="college"> <label for="college"> College </label>
                </div>
                <br>
                <div class = "ui checkbox">
                <input type="checkbox" id="contact" name="contact" > <label for="contact"> Contact Number </label>
                </div>
                <br>
                <div class = "ui checkbox">
                <input type="checkbox" id="experience" name="experience"><label for="experience"> Experiences </label>
                </div>
                <br>
                <div class = "ui checkbox">
                <input type="checkbox" id="interests" name="interests"> <label for="interests">Interests </label>
                <br>
                </div>
                <div class="form-group" id = "data">
                    <label>Other data </label>
                    <br>
                    <input type="text" name="question_1" placeholder = "Question 1" class="form-control">
                    <br><br>
                    <select class="ui search dropdown" name = 'response1' style="width:50%;">
                            <option value="">Response Type</option>
                            <option value="text">Text</option>
                            <option value="pdf">Pdf</option>
                            <option value="textarea">Text Area</option>
                    </select>
                </div>
                <br>
                <a class="btn" onclick="addField()" style="border: 1px solid; border-radius: 5px; width: 25%; padding:10px; ">Add more</a>  
                <br><br><br><br>
                <button type="submit" class="btn">Submit</button>
            </form>
            
                
    </div>
    <br>
    
</body>
<script>
        $('form').addClass('ui form ui fluid card');
    var count = 1;
    function addField(){
        count +=1;
        var container = document.getElementById("data");
        
        var input = document.createElement("input");
                input.label = "Question";
                input.type = "text";
                input.className = "form-control";
                
                nm = "question_"+count;
                console.log(nm);
                input.name = nm;
                input.placeholder = nm;
                container.appendChild(document.createElement("br"));
                container.appendChild(input);
                container.appendChild(document.createElement("br"));
                container.appendChild(document.createElement("br"));
                $("#data").append('<select name = response'+ count +' class="ui search dropdown" style="width:50%;"> \
                        <option value="">Response Type</option>\
                        <option value="text">Text</option>\
                        <option value="pdf">Pdf</option>\
                        <option value="textarea">Text Area</option>\
                </select>');
    }
</script>
{% endblock %}