{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!-- css styling -->
 {% block styles %}
         <link rel="stylesheet" href="{% static 'css/main_css/onboarding.css' %}">
 {% endblock %}

<br/>
<body>
<div class="ui negative message" style="display:none;" id="error_interest">
  <i class="close icon" id="close"></i>
  <div class="header">
   Please Select Any Interest in order to continue
  </div>
  </div>
<h2 class="ui center aligned header" id="main_header"> What things do you enjoy doing?</h2>
<h4 class="ui center aligned header" id="sec_header">We'll show you communities with people of similar interests</h4>
<br/><br/>
<div class="ui  form" onsubmit="return false">

{% csrf_token %}



    <!-- interest_hobby -->
<div class="field padd">
     <div class="form_field">Pursuing these hobbies&nbsp;&nbsp;</div>
    <select name="" multiple="" class="ui search fluid dropdown interest_hobby" id="interest_hobby" >
      <option value="">Enter your hobbies or select from dropdown</option>
        {% for tag in community_interest_hobby %}
      <option value="{{tag.id}}" selected>{{tag.name}}</option>
        {% endfor %}
      {% for interest in interest_hobby %}
        <option value="{{interest.id}}">{{interest.name}}</option>
       {% endfor %}
    </select>

</div>


<!-- interest_sports -->
<div class="field padd">
     <div class="form_field">Playing these sports</div>
    <select name="" multiple="" class="ui search fluid dropdown interest_sports" id="interest_sports" >
      <option value="">Enter the sports that you like to play</option>
        {% for tag in community_interest_sports %}
      <option value="{{tag.id}}" selected>{{tag.name}}</option>
        {% endfor %}
      {% for interest in interest_sports %}
        <option value="{{interest.id}}">{{interest.name}}</option>
       {% endfor %}
    </select>
</div>

<!-- -->
<!-- interest_fan -->
<div class="field padd">

         <div class="form_field">Following these teams, sports, genres or topics</div>
    <select name="" multiple="" class="ui search fluid dropdown interest_fan" id="interest_fan">
      <option value="">Enter things that you are passionate about</option>
        {% for tag in community_interest_fan %}
      <option value="{{tag.id}}" selected>{{tag.name}}</option>
        {% endfor %}
      {% for interest in interest_fan %}
        <option value="{{interest.id}}">{{interest.name}}</option>
       {% endfor %}
    </select>
</div>

<!-- -->
<!-- interest_cause -->
<div class="field padd">
    <div class="form_field">Working on these causes</div>
    <select name="" multiple="" class="ui search fluid dropdown interest_cause" id="interest_cause">
      <option value="">Enter the causes that you really care about</option>
        {% for tag in community_interest_cause %}
      <option value="{{tag.id}}" selected>{{tag.name}}</option>
        {% endfor %}
      {% for interest in interest_cause %}
        <option value="{{interest.id}}">{{interest.name}}</option>
       {% endfor %}
    </select>
</div>
    <br/>
<div style="text-align:center;">
        <button class="ui button " type="submit" id="submit">Done</button>
    </div><!-- --><!-- -->
</div>
<br/>



</body>


<script>

{% if not request.user.is_authenticated %}

    $(".test").modal('show');
{% endif %}
    $('.ui.dropdown.interest_hobby').dropdown({
  allowAdditions: true,
  fullTextSearch: true

});


   $('.ui.dropdown.interest_sports').dropdown({
  allowAdditions: true,
  fullTextSearch: true
});


   $('.ui.dropdown.interest_fan').dropdown({
  allowAdditions: true,
  fullTextSearch: true
});

    $('.ui.dropdown.interest_cause').dropdown({
  allowAdditions: true,
  fullTextSearch: true

});

$("#submit").click(function(e){

interest_hobby=$('#interest_hobby').val()





interest_sports=$('#interest_sports').val()


interest_fan=$('#interest_fan').val()

interest_cause=$('#interest_cause').val()

$('#close').click(function(){

$('#error_interest').css("display","none")

})

if(interest_hobby == null && interest_sports == null && interest_fan == null && interest_fan == null){
$('#error_interest').css("display","block")
    return;
}



temp={

'interest_hobby':interest_hobby,
'interest_sports':interest_sports,
'interest_fan':interest_fan,
'csrfmiddlewaretoken': '{{ csrf_token }}',
'interest_cause':interest_cause
}

{% if request.user.is_authenticated %}

    $.ajax({

        url:"/onboarding_interest",
        type:"POST",
        data:temp,
        dataType: "json",
        success:function(data){
            console.log(data)
            if(data['is_iitd']){
                location.href="/communities"
            }else{
                location.href="/access_page"
            }

        }



    })
{% else %}
    $(".test").modal('show');
{% endif %}
})
</script>
{% endblock %}

