{% extends 'base.html' %}



{% block content %}
<div class=" ui small breadcrumb" style="padding: 0 10px;">
        <a class="section" href = "{% url 'home' %}">Home</a>
        <i class="right chevron icon divider"></i>
        <a class="section" href = "{% url 'comunity' community.0.id  %}">{{community.0.name}}</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">Members </div>

</div>
<body>
    <div class="ui celled list">
                {% for i in members %}
                <!-- <div class="card" style=" margin-left: 0.5em; margin-right:0.5em; width: calc(50% - 1em) !important;" >
                  <div class="image">
                    <img src="{{i.image_url}}" onclick = "direct('{{i.user_id_id}}');">
                  </div>
                  <div class="extra">
                  <a href="{% url 'profile' i.user_id_id %}">
                    {{i.name}}</a>
                  </div>
                </div> -->
                <div class="item">
                            
                    <div class="content" style="margin-left:10px; padding-left:10px;">
                    <a class="header" href="../../profile/{{i.user_id.id}}"><img class="ui avatar image" style="margin-right:10px;" src="{{i.image_url}}">{{i.name}}</a>
                    <!-- {% if i.interests != None %}
                    <div class="description">Interested in  <a><b>{{i.interests}}</b></a> </div>
                    {% endif %} -->
                    </div>
                </div>
                {% endfor %}
        </div>
              
</body>

<script>
  function direct(id){
    window.location = '../../../profile/'+id;
  }
</script>
{% endblock %}