{% extends request.is_ajax|yesno:"layouts/ajax.html,layouts/layout.html" %}
{% block yeild %}

    {% include 'components/loader.html'

        <head>
             {% include 'scripts/mixpanel.html' with mixpanel_event=mixpanel_event %}
             {% include 'scripts/create_user_mixpanel.html' with mixpanel_event=mixpanel_event request=request  %}

        </head>
    
    <div class="container mxw960 mA mt56">
            
        {% include 'components/header.html' with data=header %}

        {% if selected or filter_list|length > 0 and members_length > 0 %}
            <div class="bdbE bgF bs ffR fs15 ls05 oA p8 pl12 wsN">
                <button class="bd0 bgF cT dIb fs15 h32 ls05 m04 p0 p08 pl16 vM {% if selected %}{% else %}dN{% endif %}" id="clearFilter" onclick="location.href='/members_directory/{{community_id}}'">
                    <div class="dIb vM" id="clear">Clear</div>
                </button>
                {% for i in filter_list %}
                    {% if not i.selected %}
                        <button class="bdT bgF br16 bs cT dIb fs15 h32 ls05 m04 p0 p08 pl16 vM tab_filter" data-filter="{{i.question_id}}" id="tab_filter_{{i.question_id}}">
                            <div class="dIb vM">{{i.question_title}}</div>
                            <i class="caret dIb down icon m0 vM"></i>
                        </button>
                    {% else %}
                        <button class="bdT bgT br16 bs cF dIb fs15 h32 ls05 m04 p0 p08 pl16 vM tab_filter">
                            <div class="dIb vM" id="{{i.question_id}}">{{i.question_title}}</div>
                            <i class="caret dIb down icon m0 vM"></i>
                        </button>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <!-- fluid card for members -->
        <div class="content" id="members">
            {% include 'components/member_card_list.html' with data=members is_member=is_member %}
        </div>

        <!-- profile pop-up -->
        <div class="ui modal w320" id="display"></div>

        {% if not request.user.is_authenticated %}
            <!-- login model for exclusive communities -->
                    {% include 'components/login_popup.html' with popup_text="This is an exclusive community. To view member details please login/signup and join the community."  redirect_link=request.path %}

<!--            <div class="ui modal image_container_login w300 test" >-->
<!--                <div class="h72 w72 brp50 bd2F bs bxs oH bgT mtn22 mA">-->
<!--                    <img class="h86 w86 mtn8 mln8 ofC" src="/media/main_website/like_minds_speaker.png">-->
<!--                </div>-->
<!--                <div class="p24 bs taC ffR">-->
<!--                    <p class="m0 p0 fs17 lh22 c0 mb10 fwM">Login to continue</p>-->
<!--                    <p class="m0 p0 fs15 lh22 c9 mb16">This is an exclusive community. To view member details please login/signup and join the community.</p>-->
<!--                    <div class="p160 ls05">-->
<!--                        <div class="fs12 mb16">-->
<!--                            <div class="googleSignin p12 bs br20 bgF c79 ffR fwM bdE c79h dN" data-next="{{ request.path }}">-->
<!--                                <i class="dIb fa fa-google fs15 lh16 vM"></i>-->
<!--                                <span  class="dIb lh16 pl12 vM">LOGIN WITH GOOGLE</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="fs12 mb16">-->
<!--                            <a class="linkedinSignin p12 bs dB br20 tdN bgFb cF ffR fwM cFh" data-next="{{ request.path }}">-->
<!--                                <i class="dIb fa fa-linkedin fs15 lh16 vM"></i>-->
<!--                                <span  class="dIb lh16 pl12 vM">LOGIN WITH LINKEDIN</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="fs12">-->
<!--                            <a class="facebookSignin p12 bs dB br20 tdN bgFb cF ffR fwM cFh" data-next="{{ request.path }}">-->
<!--                                <i class="fa fa-facebook dIb fs15 lh16 vM"></i>-->
<!--                                <span class="dIb lh16 pl12 vM">LOGIN WITH FACEBOOK</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        {% elif not is_member %}
            {% if member_state == 3 %}
                <!-- unverified filter profile pop-up-->
                <div class="ui modal ffR p24 bs w280" id="filter_unverified">
                    <p class="c0 fs16 fwM lh24 mb16">Filter not accessible</p>
                    <p class="c9 fs15 fwR lh22 mb16">
                        Your account is pending for approval from the admin. Once the admin approves, you would be able to use filter..
                    </p>
                    <p class="c9 fs15 fwR lh22 mb16">
                        Once verified, we will send an email on: <span class="c007aff">{{user_email}}</span>
                    </p>
                    <div  class="cT fs13 fwM ls05 p12 taC change_email">CHANGE EMAIL ID</div>
                    <div  class="c9 fs13 fwM ls05 p12 pb0 taC dismiss_email">DISMISS</div>
                </div>

                <!-- unverified member profile pop-up-->
                <div class="ui modal ffR p24 bs w280" id="unverified_member">
                    <p class="c0 fs16 fwM lh24 mb16">Member profile not accessible</p>
                    <p class="c9 fs15 fwR lh22 mb16">
                        Your account is pending for approval from the admin. Once the admin approves, you would be able to view the full communtity profile of the user.
                    </p>
                    <p class="c9 fs15 fwR lh22 mb16">
                        Once verified, we will send an email on: <span class="c007aff">{{user_email}}</span>
                    </p>
                    <div class="cT fs13 fwM ls05 p12 taC change_email">CHANGE EMAIL ID</div>
                    <div class="c9 fs13 fwM ls05 p12 pb0 taC dismiss_email">DISMISS</div>
                </div>
            {% endif %}
        {% elif filter_list|length > 0 %}
            <!-- pop-up for dropdowns -->
            <div class="pF l0 r0 t0 b0 dN z12" id="filters">
                <div onclick="$('#filters').hide()" class="pA t0 b0 l0 r0 bg0o05 fadeIn ad04 o0"></div>
                <div class="pF b0 mxw640 mA l0 r0 fadeInUp bgF ad04 btlr8 btrr8 oH bxs">
                    <div class="bgE br8 h8 mA mt8 w100"></div>
                    <div class="h20 p016 taR vM" onclick="$('#filters').hide()">
                        <svg viewBox="0 0 24 24" class="h20 w20"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path></svg>
                    </div>
                    {% for filter in filter_list %}
                        <div class="bs c0 dN ffR filter fs16" id="filter_{{filter.question_id}}">
                            <div class="bs fwM lh18 p024">{{filter.question_title}}</div>
                            <div class="bs lh24 mxhv50 oA p024">
                                {% for value in filter.values %}
                                    <div class="bdbE bs p160">
                                        {% if value.is_selected %}
                                            <input type="checkbox" id="option_{{filter.question_id}}_{{ forloop.counter0 }}" value="{{value.option}}" class="t1" checked>
                                            <label for="option_{{filter.question_id}}_{{ forloop.counter0 }}" class="bs pR dB">{{value.option}}</label>
                                        {% else %}
                                            <input type="checkbox" id="option_{{filter.question_id}}_{{ forloop.counter0 }}" value="{{value.option}}"  class="t1">
                                            <label for="option_{{filter.question_id}}_{{ forloop.counter0 }}" class="bs pR dB">{{value.option}}</label>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="bdtE bs p8 taC">
                                <button class="apply_filter bd0 bgT br22 cF ffR fs13 fwM h44 ls05 ttU w150" value="{{filter.question_id}}">
                                    APPLY FILTER
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <!-- update secondary email -->
        <div class="ui modal ffR p24 bs w280 pb12" id="secondary_email">
            <p class="c0 fs16 fwM lh24 mb16">Change Email ID</p>
            <p class="c9 fs15 fwR lh22 mb16">
                Update your email ID below for further communications.
            </p>
            <form class="ui form mb16 p0">
                <input class="bd0 br8 bxs p16 h48 oH pR fs15" type="text" name="first-name" placeholder="Enter your email id" id="secondary_email_text">
            </form>
            <div class="taR fs13 ">
                <div class="bs cT dIb fs13 fwM ls05 p120 taC vM" id="update_secondary_email">SUBMIT</div>
            </div>
        </div>

    </div>

    <!-- scripts -->
    <script>
    
        // function getParamsFromUrl(){
        //     let searchParams = new URLSearchParams(window.location.search);
        //     var members="";
        //     var filter="";
        //     var option_data="";
    
        //     if(searchParams.has('members')){
        //         members = searchParams.get('members');
        //     }
    
        //     if(searchParams.has('filter')){
        //         filter = searchParams.get('filter');
        //     }
    
        //     if(searchParams.has('option_data')){
        //         option_data = searchParams.get('option_data');
        //     }
    
        //     return_value = [members, filter, option_data];
        //     return return_value;
    
        // }
    
        //functionality to show filter list
        $('.tab_filter').click(function(){
            {% if not request.user.is_authenticated %}
                $('.test').modal('show');
                console.log("user is not authenticated");
            {% elif not is_member %}
                {% if member_state == 3 %}
                    $('#filter_unverified').modal('show');
                {% endif %}
                console.log("user is not a member");
            {% else %}
                var filter = $(this).attr('data-filter');
                $(".filter").hide();
                $('#filter_' + filter + ', #filters').show();
            {% endif %}
        });
    
        //functionality to apply filter
        $(document.body).on('click', '.apply_filter' ,function(){
            // var option_list=[];
            // var question_id = $(this).val();
            var filtersSlected = [];
            var filter = [];
            $('.t1').each(function () {
                var sThisVal = (this.checked ? $(this).val() : "");
                if(sThisVal){
                    var filterID = $(this).parents('.filter').attr('id');
                    var filterTab = "tab_" + filterID;
                    !filtersSlected[filterTab] && filtersSlected.push(filterTab);
                    filter.push({
                        question_id:  filterID.split("filter_")[1],
                        value: sThisVal
                    });
                    // option_list.push(sThisVal);
                }
            });

            // var existing_filter = getParamsFromUrl();
    
            // console.log(existing_filter);
            // console.log(option_list);
    
            // option_data={
            //     'data':JSON.stringify(option_list),
            //     'csrfmiddlewaretoken':'{{csrf_token}}',
            //     'question_id':question_id,
            //     'member_ids':existing_filter[0],                            //for already selected members
            //     'question_ids':existing_filter[1],                          //for already selected question ids
            //     'options':existing_filter[2]                                //for already selected options
            // };
            $(".ldrT", $('#loader')[0]).text("Applying filters...");
            $('#loader').show();

            var url = "/api/all_members?page=1&community_id={{community_id}}&is_filter=true&filter=";
            url = url + encodeURI(JSON.stringify(filter));
            $.ajax({
                url: url,
                // data:option_data,
                type:"GET",
                dataType:'html',
                success:function(data){
                    console.log(data);
                    $("#members").html(data);
                    $('#filters, #loader, #clearFilter').hide();
                    // select unselect filter label and show hide clear filter
                    $(".tab_filter").removeClass('bgT cF').addClass('bgF cT');
                    if(filtersSlected.length > 0){
                        filtersSlected.forEach(function(filterSelect){
                            $('#' + filterSelect).addClass('bgT cF').removeClass('bgF cT');
                        });
                        $('#clearFilter').show();
                    };
                    // url="/members_directory/"+"{{community_id}}?members="+data['members']+"&filter="+data['filter']+ "&option_data=" + data['option_data'];
                    // to do
                    // push state in history for browser back

                }
            });
        });
    
        //functionality to show back button click
        $('#back_click').click(function(e){
            location.href="/community/"+"{{community_id}}";
        });
    
        // functionality to show member pop-up
        $(document.body).on('click','.member_link',function(e){
            member_id=$(this).attr('member_id');
            {% if not request.user.is_authenticated %}
                $('.test').modal('show');
                console.log("user is not authenticated");
            {% elif not is_member %}
                {% if member_state == 3 %}
                    $('#unverified_member').modal('show');
                {% endif %}
                console.log("test");
            {% else %}
                showMemberProfile(member_id);
            {% endif %}
        });
    
        $(document.body).on('click','.dismiss_email',function(e){
            $('#unverified_member').modal('hide');
        })
    
        $(document.body).on('click','.change_email',function(e){
            $('#unverified_member').modal('hide');
            $('#secondary_email').modal('show');
        })
    
        update_email();
    
        function update_email(){
            $('#update_secondary_email').click(function(e){
                email=$('#secondary_email_text').val();
                console.log(email);
                json_data={
                    'data':'{{request.user.id}}',
                    'email':email,
                    'csrfmiddlewaretoken':'{{csrf_token}}',
                }
                $.ajax({
                    url:"/update_email",
                    data:json_data,
                    type:"POST",
                    dataType:'json',
                    success:function(data){
                        console.log('hello');
                        if(data['success']){
                            alert("updated");
                        }
                        $('#secondary_email').modal('hide');
                    }
                })
            })
        }
    
        function showMemberProfile(member_id){
            community_id = {{community_id}};
            json_data = {
                'data':member_id,
                'community_id':community_id,
                'csrfmiddlewaretoken':'{{csrf_token}}',
            }
            console.log(json_data);
            $.ajax({
                url:"/member_profile",
                data:json_data,
                type:"POST",
                dataType:'json',
                success:function(data){
                    console.log(data['answer_list'])
                    html = `
                        <div class="h96 mtn38 taC pR z1">
                            <div class="w96 h96 brp50 bd2F bs bxs oH dIb vM bgF">
                                <img class="w96 h96 ofC" src=${data['image_link']} >
                            </div>
                        </div>
                        <div class="pR mtn58 br8 oH bgF">
                            <div class="h96">
                                <img class="wp100 ofC h96" src="https://firebasestorage.googleapis.com/v0/b/collabmates-beta.appspot.com/o/files%2Fmain_website%2Fprofile_header?alt=media&token=fa838851-244c-4cbc-81da-3d2125536e18">
                            </div>
                            <div class="h2"></div>
                            <p class="p012 bs m0 taC fwM fs16 c0 lh20 wbBa wp100">${data['member_name']}</p>
                        </div>
                        <div class="p18 bs">
                    `;
                    var refined_answer_obj = data['answer_list'].reduce(function(returnValue, answer) {
                        if(answer.answer_privacy !== false){
                            (returnValue[answer.rank] = returnValue[answer.rank] || []).push(answer);
                        }
                        return returnValue;
                    }, {});
    
                    console.log('refined_answer_obj', refined_answer_obj);
    
                    // var refined_answer_array = Object.keys(refined_answer_obj).map(function (answer) {
                    //     return f[answer]; 
                    // });
                    
                    $.each( refined_answer_obj, function( index, value ) {
                        segment = ""
                        if (index == 1) {
                            segment = `
                                    <div class="dT mb10 tlF wp100">
                                        <div class="dTc h24 vM w24 taC"><img class="dIb mxh24 mxw24 vM" src="/media/main_website/ic_email_48_px.png" /></div>
                                        <div class="c9b dTc fs13 vM lh1h16 p08 bs wbBa">
                            `;
                                            $.each( value, function( index2, value2 ){
                                                segment = segment + value2.answer;
                                                if ( index2 != value.length - 1 ) {
                                                    segment = segment + ', ';
                                                }
                                            });
                            segment = segment + `
                                        </div>
                                    </div>
                            `;
                            html = html + segment;
                        }else if(index == 2 ){
                            segment = `
                                    <div class="dT mb10 tlF wp100">
                                        <div class="dTc h24 vM w24 taC"><img class="dIb mxh24 mxw24 vM" src="/media/main_website/mobile_alt.png"/></div>
                                        <div class="c9b dTc fs13 vM lh1h16 p08 bs wbBa">
                            `;
                                            $.each( value, function( index2, value2 ){
                                                segment = segment + value2.answer;
                                                if ( index2 != value.length - 1 ) {
                                                    segment = segment + ', ';
                                                }
                                            });
                            segment = segment + `
                                        </div>
                                    </div>
                            `;
                            html = html + segment
                        }else if(index == 3 ){
                            segment = `
                                    <div class="dT mb10 tlF wp100">
                                        <div class="dTc h24 vM w24 taC"><img class="dIb mxh24 mxw24 vM" src="/media/main_website/link.png"/></div>
                                        <div class="c9b dTc fs13 vM lh1h16 p08 bs wbBa">
                            `;
                                            $.each( value, function( index2, value2 ){
                                                segment = segment + `<a class="cT tdN" href="//${value2['profile_link']}">${value2['answer']}</a>`;
                                                if ( index2 != value.length - 1 ) {
                                                    segment = segment + ', ';
                                                }
                                            });
                            segment = segment + `
                                        </div>
                                    </div>
                            `;
                            html = html + segment
                        }else if(index == 4){
                            segment = ''
                            $.each( value, function( index2, value2 ){
                                segment = segment + `<p class="c4a fs15 lh24 m160 wbBa wp100">${value2['answer']}</p>`;
                                if ( index2 != value.length - 1 ) {
                                    segment = segment + ', ';
                                }
                            });
                            html = html + segment
                        }else if(index == 5){
                            segment = ''
                            $.each( value, function( index2, value2 ){
                                segment = segment + `
                                    <a class="cT dB m160 tdN wbBa" href="//${value2['file_link']}">
                                        ${value2['answer']}
                                    </a>
                                `;
                                if ( index2 != value.length - 1 ) {
                                    segment = segment + ', ';
                                }
                            });
                            html = html + segment
                        }else{
                            segment = ''
                            $.each( value, function( index2, value2 ){
                                segment = segment + `<p class="c9b fs15 lh24 m160 m80 wbBa wp100">${value2['answer']}</p>`;
                                
                            });
                            html = html + segment
                        }
                    })
                    $('#display').html(html + '</div><div class="fs13 p12 taC fwM mb16" id="dismiss1">DISMISS</div>')
                    $('#display').modal('show');
                    $(".dimmer").css("background-color","rgba(40,40,40,0.5)");
                    $('#dismiss1').click(function(){
                        $('#display').modal('hide');
                    })



                            mixpanel.track("Member profile view",{

                                    "viewed_member_name":data['member_name'],
                                    "viewed_member_id": data['member_id'],
                                    "viewed_member_state": data['member_state'],
                                    "source":"member_directory",
                                    "Click Date" : new Date() + ""

                                    })

                }
            })
        }
    </script>
    {% include 'scripts/google_auth.html' with client_id=google_oauth_client_id  %}
    {% include 'scripts/facebook_auth.html' with facebook_auth_id=facebook_auth_id %}
    {% include 'scripts/linkedin_auth.html' with request=request %}

{% endblock %}












