{% extends "base.html" %}
{% load staticfiles %}

{% block menu %}
{% if android%}

{% else %}
            <div class="right menu" style="float:right; ">
                {% if user.is_authenticated %}
                <div class="ui simple dropdown item" style="padding:0;">

                    {% block user_image %}
                    <img class="ui avatar image" src="{{request.user.userinfo.image_file.url}}"/>
                    {% endblock %}
                    <div class="menu">

                        <a class="item" href="{% url 'logout_view' %}">Logout</a>
                    </div>
                </div>

                {% else %}
                <a class="item" id='test'>Signin</a>
                {% endif %}

            </div>
{% endif %}
{% endblock %}

{% block content %}

<!-- css styling -->
 {% block styles %}
         <link rel="stylesheet" href="{% static 'css/main_css/onboarding.css' %}">
 {% endblock %}

<br/>
<body>

<h2 class="ui center aligned header" id="main_header"> What type of work do you do?</h2>
<h4 class="ui center aligned header" id="sec_header">We'll show you communities with like-minded peers</h4>
<br/>
<div class="ui  form" onsubmit="return false">

{% csrf_token %}



<!-- Industry -->
<div class="field padd">
        <div class="form_field">Industry&nbsp;&nbsp;<sub style="color:red;font-size:20px">*</sub></div>
    <select name="" multiple="" class="ui search fluid dropdown profession_industry" id="profession_industry" >
      <option value="">Enter industries or select from dropdown</option>
        {% for tag in community_profession_industry %}
      <option value="{{tag.id}}" selected>{{tag.name}}</option>
        {% endfor %}
      {% for industry in profession_industry %}
        <option value="{{industry.id}}">{{industry.name}}</option>
       {% endfor %}
    </select>
    <div class="ui pointing red basic label" id="error_profession_industry" style="display:none">
      Please enter your Industry
    </div>
</div>

<!-- -->
<!-- skill work -->
<div class="field padd">

        <div class="form_field">Skills/Roles&nbsp;&nbsp;<sub style="color:red;font-size:20px">*</sub></div>

    <select name="" multiple="" class="ui search fluid dropdown profession_skill" id="profession_skill">
      <option value="">Enter all your relevant skils </option>
        {% for tag in community_profession_skill %}
      <option value="{{tag.id}}" selected>{{tag.name}}</option>
        {% endfor %}
      {% for skill in profession_skill %}
        <option value="{{skill.id}}">{{skill.name}}</option>
       {% endfor %}
    </select>

     <div class="ui pointing red basic label" id="error_profession_skill" style="display:none">
      Please enter your skill
    </div>

</div>

<!-- -->
<!-- designation -->
<!--<div class="field padd">-->
<!--         <div class="form_field">Designation</div>-->
<!--    <select name="" multiple="" class="ui search fluid dropdown profession_designation" id="profession_designation">-->
<!--      <option value="">Enter your current designation</option>-->
<!--        {% for tag in community_profession_designation %}-->
<!--      <option value="{{tag.id}}" selected>{{tag.name}}</option>-->
<!--        {% endfor %}-->
<!--      {% for designation in profession_designation %}-->
<!--        <option value="{{designation.id}}">{{designation.name}}</option>-->
<!--       {% endfor %}-->
<!--    </select>-->
<!--</div>-->

    <div style="text-align:center;">
        <button class="ui button " type="submit" id="submit">Continue</button>
    </div><!-- -->
</div>
</body>


<script>

{% if not request.user.is_authenticated and not android %}
    $(".test").modal('show');
{% endif %}

    $('.ui.dropdown.profession_industry').dropdown({
  allowAdditions: true,
  fullTextSearch: true

});


   $('.ui.dropdown.profession_skill').dropdown({
  allowAdditions: true,
  fullTextSearch: true
});


   $('.ui.dropdown.profession_designation').dropdown({
  allowAdditions: true,
  fullTextSearch: true
});



$("#submit").click(function(e){

profession_industry=$('#profession_industry').val()


if(profession_industry == null){
    $('#error_profession_industry').css("display","block")
    return;
}


profession_skill=$('#profession_skill').val()
if(profession_skill == null){
    $('#error_profession_skill').css("display","block")
    return;
}

//profession_designation=$('#profession_designation').val()
profession_designation=""




temp={

'profession_industry':profession_industry,
'profession_skill':profession_skill,
'profession_designation':profession_designation,
'csrfmiddlewaretoken': '{{ csrf_token }}',
{% if member_id != None %}
'member_id' : '{{member_id}}',
{% endif %}

}

console.log(temp)
$('#submit').addClass("loading");

{% if request.user.is_authenticated %}

    $.ajax({

        url:"/onboarding_profession",
        type:"POST",
        data:temp,
        dataType: "json",
        success:function(data){
            //console.log(data)
            {% if community_id != None %}
            location.href="/onboarding_interest?community_id={{community_id}}"
            {% else %}
            location.href="/onboarding_interest"
            {% endif %}

        }



    })
{% else %}
    {% if android %}

     $.ajax({

        url:"/onboarding_profession",
        type:"POST",
        data:temp,
        dataType: "json",
        success:function(data){
            //console.log(data)
            {% if community_id != None %}
            location.href="/onboarding_interest?community_id={{community_id}}"
            {% else %}
            location.href="/onboarding_interest"
            {% endif %}

        }



    })
    {% else %}
    $(".test").modal('show');
    {% endif %}
{% endif %}
})
</script>
{% endblock %}

