{% extends "base.html" %}
{% load staticfiles %}


{% block menu %}
{% if android %}

{% else %}
            <div class="right menu" style="float:right; ">
                {% if user.is_authenticated %}
                <div class="ui simple dropdown item" style="padding:0;">

                    {% block user_image %}
                    <img class="ui avatar image" src="{{request.user.userinfo.image_file.url}}"/>
                    {% endblock %}
                    <div class="menu">

                        <a class="item" href="{% url 'logout_view' %}">Logout</a>
                    </div>
                </div>

                {% else %}
                <a class="item" id='test'>Signin</a>
                {% endif %}

            </div>
{% endif %}
{% endblock %}


{% block content %}

 {% block styles %}
         <link rel="stylesheet" href="{% static 'css/main_css/onboarding.css' %}">
 {% endblock %}
<body>

<h2 class="ui center aligned header" id="main_header"> What all do you associate yourself with?</h2>
<h4 class="ui center aligned header" id="sec_header">We'll show communities with people of similar background</h4>
<br/>
<div class="ui  form" onsubmit="return false">

{% csrf_token %}

    
    <!-- Geography -->
<div class="field padd">
    <div class="form_field">Current city&nbsp;&nbsp;<sub style="color:red;font-size:20px">*</sub></div>
    <select name="" multiple="" class="ui search fluid dropdown geography_city" id="geography_city">
      <option value="">Enter city or select from dropdown</option>

        {% for city in community_geography %}
      <option value="{{city.id}}" selected>{{city.name}}</option>
        {% endfor %}

      {% for city in geography %}
        <option value="{{city.id}}">{{city.name}}</option>
       {% endfor %}
    </select>
    <div class="ui pointing red basic label" id="error_geography" style="display:none">
      Please enter your city
    </div>
</div>


<!-- legacy education -->
<div class="field padd">
    <div class="form_field"> Current/Past schools or colleges&nbsp;&nbsp;<sub style="color:red;font-size:20px">*</sub> </div>
    <select name="" multiple="" class="ui search fluid dropdown legacy_education" id="legacy_education" >
      <option value="">Enter all the institute(s)</option>
      {% for tag in community_legacy_education %}
      <option value="{{tag.id}}" selected>{{tag.name}}</option>
        {% endfor %}
      {% for legacy in legacy_education %}
        <option value="{{legacy.id}}">{{legacy.name}}</option>
       {% endfor %}
    </select>
    <div class="ui pointing red basic label" id="error_legacy_eduction" style="display:none">
      Please enter your education details
    </div>
</div>

<!-- -->
<!-- legacy work -->
<!--<div class="field padd">-->
<!--    <div class="form_field">Current/past companies </div>-->
<!--    <select name="" multiple="" class="ui search fluid dropdown legacy_work" id="legacy_work">-->
<!--      <option value="">Enter all the organization(s)</option>-->
<!--      {# for tag in community_legacy_work #}-->
<!--      <option value="{{tag.id}}" selected>{{tag.name}}</option>-->
<!--        {# endfor #}-->
<!--      {# for legacy in legacy_work #}-->
<!--        <option value="{{legacy.id}}">{{legacy.name}}</option>-->
<!--       {# endfor #}-->
<!--    </select>-->
<!--</div>-->

<!-- -->
<!-- legacy hometown -->
<div class="field padd">
    <div class="form_field"> Hometown(s) </div>
    <select name="" multiple="" class="ui search fluid dropdown legacy_hometown" id="legacy_hometown">
      <option value="">Enter hometown or select from dropdown</option>
              {% for tag in community_legacy_hometown %}
      <option value="{{tag.id}}" selected>{{tag.name}}</option>
        {% endfor %}
      {% for legacy in legacy_hometown %}
        <option value="{{legacy.id}}">{{legacy.name}}</option>
       {% endfor %}
    </select>
</div>

    <div style="text-align:center;">
        <button class="ui button " type="submit" id="submit">Continue</button>
    </div>
<br/>
<!-- -->
</div>
</body>


<script>

{% if not request.user.is_authenticated and not android %}
    $(".test").modal('show');
{% endif %}

    $('.ui.dropdown.legacy_education').dropdown({
  allowAdditions: true,
  fullTextSearch: true


});


   //$('.ui.dropdown.legacy_work').dropdown({
  //allowAdditions: true,
  //fullTextSearch: true

//});


   $('.ui.dropdown.legacy_hometown').dropdown({
  allowAdditions: true,
  fullTextSearch: true
});

    $('.ui.dropdown.geography_city').dropdown({
  allowAdditions: true,
  fullTextSearch: true


});

$("#submit").click(function(e){

loc=$('#geography_city').val()


if(loc == null){
    $('#error_geography').css("display","block")
    return;
}


legacy_education=$('#legacy_education').val()
if(legacy_education == null){
    $('#error_legacy_eduction').css("display","block")
    return;
}

//legacy_work=$('#legacy_work').val()

legacy_hometown=$('#legacy_hometown').val()


temp={

'legacy_education':legacy_education,
//'legacy_work':legacy_work,
'legacy_hometown':legacy_hometown,
'csrfmiddlewaretoken': '{{ csrf_token }}',
'loc':loc,
{% if member_id != None %}
'member_id' : '{{member_id}}',
{% endif %}
}
$('#submit').addClass("loading");
{% if request.user.is_authenticated %}

    $.ajax({

        url:"/onboarding",
        type:"POST",
        data:temp,
        dataType: "json",
        success:function(data){
            //console.log(data)
            {% if community_id != None %}
            location.href="/onboarding_profession?community_id={{community_id}}"
            {% else %}
            location.href="/onboarding_profession"
            {% endif %}

        }



    })
{% else %}
    {% if android %}

         $.ajax({

        url:"/onboarding",
        type:"POST",
        data:temp,
        dataType: "json",
        success:function(data){
            //console.log(data)
            {% if community_id != None %}
            location.href="/onboarding_profession?community_id={{community_id}}"
            {% else %}
            location.href="/onboarding_profession"
            {% endif %}

        }



    })


    {% else %}
    $(".test").modal('show');
    {% endif %}
{% endif %}
})
</script>
{% endblock %}

