{% extends "base.html" %}

{% block content %}
<br/>
<body>

<h2 class="ui center aligned header"> What all do you associate yourself with?</h2>
<h4 class="ui center aligned header">We will show you communities with people of similar background</h4>
<br/><br/>
<div class="ui  form" onsubmit="return false">

{% csrf_token %}



    <!-- Geography education -->
<div class="field">
    <select name="" multiple="" class="ui search fluid dropdown geography_city" id="geography_city" >
      <option value="">My neighborhood/city</option>
      {% for city in geography %}
        <option value="{{city.id}}">{{city.name}}</option>
       {% endfor %}
    </select>
    <div class="ui pointing red basic label" id="error_geography" style="display:none">
      Please enter your city
    </div>
</div>

<br/>

<!-- legacy education -->
<div class="field">
    <select name="" multiple="" class="ui search fluid dropdown legacy_education" id="legacy_education" >
      <option value="">Current/past schools or colleges</option>
      {% for legacy in legacy_education %}
        <option value="{{legacy.id}}">{{legacy.name}}</option>
       {% endfor %}
    </select>
    <div class="ui pointing red basic label" id="error_legacy_eduction" style="display:none">
      Please enter your education details
    </div>
</div>

<!-- -->
<br/>
<!-- legacy work -->
<div class="field">


    <select name="" multiple="" class="ui search fluid dropdown legacy_work" id="legacy_work">
      <option value="">Current/past companies</option>
      {% for legacy in legacy_work %}
        <option value="{{legacy.id}}">{{legacy.name}}</option>
       {% endfor %}
    </select>
</div>

<!-- -->
<br/>
<!-- legacy hometown -->
<div class="field">

    <select name="" multiple="" class="ui search fluid dropdown legacy_hometown" id="legacy_hometown">
      <option value="">Hometown(s)</option>
      {% for legacy in legacy_hometown %}
        <option value="{{legacy.id}}">{{legacy.name}}</option>
       {% endfor %}
    </select>
</div>
    <br/>
<button class="ui button" type="submit" id="legacy_submit">Continue</button>
<!-- -->
</div>
</body>


<script>
    $('.ui.dropdown.legacy_education').dropdown({
  allowAdditions: true,

});


   $('.ui.dropdown.legacy_work').dropdown({
  allowAdditions: true,
});


   $('.ui.dropdown.legacy_hometown').dropdown({
  allowAdditions: true,
});

    $('.ui.dropdown.geography_city').dropdown({
  allowAdditions: true,

});

$("#legacy_submit").click(function(e){

loc=$('#geography_city').val()


if(loc == null){
    $('#error_geography').css("display","block")
    return;
}


legacy_education=$('#legacy_education').val()
if(legacy_education == null){
    $('#error_legacy_eduction').css("display","block")
    return;
}

legacy_work=$('#legacy_work').val()

legacy_hometown=$('#legacy_hometown').val()



temp={

'legacy_education':legacy_education,
'legacy_work':legacy_work,
'legacy_hometown':legacy_hometown,
'csrfmiddlewaretoken': '{{ csrf_token }}',
'loc':loc
}

{% if request.user.is_authenticated %}

    $.ajax({

        url:"/onboarding",
        type:"POST",
        data:temp,
        dataType: "json",
        success:function(data){
            //console.log(data)
            location.href="/onboarding_profession"

        }



    })
{% else %}
    $(".test").modal('show');
{% endif %}
})
</script>
{% endblock %}

