{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item "><a href="../dashboard"> Home </a></li>
<li class="breadcrumb-item active">Requests</li>
  
{% endblock %}

{% block content %}
<body>
  <div>
    <div class="container">
    {% for i in req %}

        {% if i.status == 0 %}
          <ol>
              <div class="ui cards" >
                  <div class="card">
                    <div class="content">
                      <img class="right floated mini ui image" src="{{i.user_info.image_url}}">
                      <div class="header">
                        {{i.user_info.name}}
                      </div>
                      <div class="meta">
                        {{i.user_info.city}}
                      </div>
                      <div class="meta">
                          For : <a href="/community/{{i.community.id}}">{{i.community}}</a>
                      </div>
                      <div class="description">
                          <a href="requests/{{i.community.id}}/user_response/{{i.user_id.id}}">See Response</a>
                        </div>
                    </div>
                    <div class="extra content" id="extra">
                      <div class="ui two buttons" >
                          
                        <div class="ui green button" onclick='accept("{{i.id}}")' >Approve</div>
                        <div class="ui red button" onclick='decline("{{i.id}}")' >Decline</div>
                      </div>
                    </div>
                  </div>
                </div>
          </ol>
        {% endif %}

    {% endfor %}
    </div>
  </div>
  <script>
    function accept( id ){
      
      div = document.getElementById('extra');
      $.ajax({
        url: "",
        type: "GET",
        data: {"status": 1, "id": id },
        cache:false,
        dataType: "json",
        beforeSend: function() {
          div.innerHTML = '';
          $('#extra').append('<img src="https://beta.likeminds.com/media/media/ajax-loader.gif" id="loading-indicator" style="display:none" />');
          
        },
        complete: function(event, request, settings) {
          div.innerHTML = '';
          $('#extra').append('<button class="ui fluid green button" >Accepted</button>');
          
        }
      });
    }

    function decline( id ){
      div = document.getElementById('extra');
      $.ajax({
        url: "",
        type: "GET",
        data: {"status": 0, "id":id},
        cache:false,
        dataType: "json",
        beforeSend: function() {
          div.innerHTML = '';
          $('#extra').append('<img src="https://beta.likeminds.com/media/media/ajax-loader.gif" id="loading-indicator" style="display:none" />');
          
        },
        complete: function(event, request, settings) {
          div.innerHTML = '';
          $('#extra').append('<button class="ui fluid red button" >Rejected</button>');
          
        }
          
      
    });
    }
  </script>

</body>
{% endblock %}
