{% extends 'base.html' %}

{% block content %}

{% if validation_error %}
<div class="container" style=" width: 91%; color: #9F6000; background-color: #FEEFB3; background-image: url('https://i.imgur.com/Z8q7ww7.png'); border: 1px solid;
 margin: 10px 0px; padding: 15px 10px 15px 50px; background-repeat: no-repeat; background-position: 10px center;">

    Please fill all the answers

</div>
{% endif %}
<body>
    <div class="container">

            <div class="ui raised padded text container segment" style="margin: 8px 8px !important;">
            <form class="ui form" action="" method="post">
                {% csrf_token %}
                <div class="center aligned content">
                        <p>In order to add relevant members to the community we would like to know few more things about you </p>
                    <br>
                    </div>

                {% for question,answer in data %}
                <div class=" required field">
                    {% if question.data_type == 'text' %}
                        {% if question.is_dropdown == 0 %}
                            <label>{{question.data}}</label>

                            {% if forloop.counter == 1 %}
                               <textarea rows="3" cols="4" name ="{{question.data}}" minlength="50" required>{{answer}}</textarea>
                            {% else %}
                               <textarea rows="3" cols="4" name ="{{question.data}}" required>{{answer}}</textarea>
                            {% endif %}
                        {% else %}
                             <label>{{question.data}}</label>
                                <div class="ui selection dropdown" id="test_options">
                                      <input type="hidden" name="{{question.data}}">
                                      <i class="dropdown icon"></i>
                                       <div class="default text">Select</div>
                                    <div class="menu">
                                        {% for option in question.dropdown_list %}
                                                <div class="item" data-value="{{option}}">{{option}}</div>
                                        {% endfor %}
                                     </div>
                                </div>

                        {% endif %}
                    {% endif %}
                </div>

                {% endfor %}
                <input type="hidden" name="ref_id" value="{{ref_id}}"/>
                <br>
                <button class="ui fluid button" type="submit" style="background-color: #1ebea5; color:white;">Submit</button>
                
            </form>
            </div>
              
                
    </div>
    <br>
</body>


<script>
       $('.ui.selection.dropdown').dropdown();

</script>
{% endblock %}
