{% extends request.is_ajax|yesno:"layouts/ajax.html,layouts/layout.html"%}
{% block yeild %}

        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.js"></script>
        <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI-Calendar/76959c6f7d33a527b49be76789e984a0a407350b/dist/calendar.min.css" rel="stylesheet" type="text/css" />
        
        {% include 'components/loader.html' %}

        {% include 'components/login_success_header_showcase.html' with data=header_showcase request=request %}

        {% include 'scripts/mixpanel.html' with mixpanel_event=mixpanel_event %}
        {% include 'scripts/create_user_mixpanel.html' with mixpanel_event=mixpanel_event request=request  %}





        <div class="container mxw960 mA ffR">
            <style>
                /* create header selector partial */
                #header .dTc {color: #fff!important; text-align: center; font-weight: bold;}
                #header {background: #3bc19f}

                .ui.attached.negative.message, .ui.negative.message {
                    border: 0!important;
                    box-shadow: none!important;
                    background: transparent!important;
                    font-size: 12px!important;
                    margin: 0;
                    padding: 12px;
                    padding-bottom: 0;
                }

                .text .fR { display: none !important; }
            </style>

            {% include 'components/header.html' with data=header %}

            <form class="ui form ffR fwR m16 mt72" onsubmit="return false" id="response_form" enctype="multipart/form-data">
                {% csrf_token %}
                <!--    TEXT = 0-->
                <!--    CHOICE_SINGLE = 1-->
                <!--    CHOICE_MULTIPLE = 2-->
                <!--    TEXT_WITH_LIMIT = 3-->
                <!--    PARAGRAPH = 4-->
                <!--    FILE_UPLOAD = 5-->
                <!--    DATE_TIME = 6-->
                <!--    INTRODUCTION = 7-->
                <!--    PROFILE_LINK=8-->
                <!--    MOBILE_NO = 9-->
                <!--    EMAIL_ID = 10-->
                {% for question in data %}
                    {% if question.optional %}
                        <div class="field mb30" id="div_{{question.id}}">
                    {% else %}
                        <div class="required field mb30" id="div_{{question.id}}">
                    {% endif %}

                        {% if question.question_state == 0 or question.question_state == 4 or question.question_state == 7 %}
                            <!--    TEXT = 0  PARAGRAPH = 4 INTRODUCTION = 7  -->
                            {% if question.question_state == 7 %}
                                <div class="ffR fR dIb bg06C3AF cF wsN p48 lh17 fs12 ls05 chatBubble_{{question.id}} pR rn16 br8 chatBubbleDown">Minimum characters: {{question.min_chars}}</div>
                                <div class="dT wp100">
                                    <label class="dTc vT c4a fs15 fwR lh22 p10 m0">{{question.data}}</label>
                                    <div class="dTc vT w16 pR p10 bs">
                                        {% include 'components/counter_progress_ring.html' with data=question  %}
                                    </div>
                                </div>
                            {% else %}
                                <label class="c4a fs15 fwR lh22 p10 m0">{{question.data}}</label>
                            {% endif %}
                            {% if question.question_state == 4 or question.question_state == 7 %}
                                {% if question.question_state == 7 %}
                                    <div class="pR">
                                        <textarea id="{{question.id}}" class="oH bd0 br8 bxs2 p16 pb24" rows="4" cols="4" name="{{question.id}}" required oninput="textareaInput('{{question.id}}', {{question.min_chars}}, {{question.max_chars}})" onblur="textareaBlur('{{question.id}}', {{question.min_chars}}, {{question.max_chars}})" onpaste="textareaInput('{{question.id}}', {{question.min_chars}}, {{question.max_chars}})" placeholder="{{question.help_text}}"></textarea>
                                        <div class="b0 fs12 lh14 p6 pA r0 c9"></div>
                                    </div>
                                {% else %}
                                    <textarea id="{{question.id}}" class="oH bd0 br8 bxs2 p16" rows="4" cols="4" name="{{question.id}}" required oninput="remove_error('{{question.id}}')" onchange="remove_error('{{question.id}}')" placeholder="{{question.help_text}}"></textarea>
                                {% endif %}
                            {% else %}
                                <textarea id="{{question.id}}" class="oH bd0 br8 bxs2 p16 h48" rows="2" cols="4" name="{{question.id}}" required oninput="remove_error('{{question.id}}')" onchange="remove_error('{{question.id}}')" placeholder="{{question.help_text}}"></textarea>
                            {% endif %}

                        {% elif question.question_state == 1 %}
                            <!--    CHOICE_SINGLE = 1-->
                            <label class="c4a fs15 fwR lh22 p10 m0">{{question.data}}</label>
                            <div class="ui fluid search selection dropdown single_select_{{question.id}} bd0 br8 bxs2 p16 h48">
                                <input id="{{question.id}}" type="hidden" name="{{question.id}}" oninput="remove_error('{{question.id}}')" onchange="remove_error('{{question.id}}')">
                                <i class="dropdown icon p16"></i>
                                <div class="default text fs16 lh18">{{question.help_text}}</div>
                                <div class="menu">
                                    {% for option in question.dropdown_list %}
                                        <div class="item p16 bs" data-value="{{option}}">{{option}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% elif question.question_state == 2 %}
                            <!--    CHOICE_MULTIPLE = 2-->
                            <label class="c4a fs15 fwR lh22 p10 m0">{{question.data}}</label>
                            <div class="ui fluid multiple search normal selection dropdown multi_select_{{question.id}} bd0 br8 bxs2 mnh48">
                                <input id="{{question.id}}" type="hidden" name="{{question.id}}" oninput="remove_error('{{question.id}}')"  onchange="remove_error('{{question.id}}')">
                                <i class="dropdown icon p16"></i>
                                <div class="default text fs16 lh18">{{question.help_text}}</div>
                                <div class="menu">
                                    {% for option in question.dropdown_list %}
                                        <div class="item p16 bs" data-value="{{option}}">{{option}}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% elif question.question_state == 3 %}
                            <!--    TEXT_WITH_LIMIT = 3-->
                            <label class="c4a fs15 fwR lh22 p10 m0">{{question.data}}</label>
                            <textarea id="{{question.id}}" class="oH bd0 br8 bxs2 p16 h48" rows="2" cols="4" name ="{{question.id}}" minlength="50" required placeholder="{{question.help_text}}"  oninput="remove_error('{{question.id}}')"  onchange="remove_error('{{question.id}}')"></textarea>
                        {% elif question.question_state == 5 %}
                            <!--  FILE_UPLOAD = 5 -->
                            <label class="c4a fs15 fwR lh22 p10 m0">{{question.data}}</label>
                            <div class="ui action input bd0 br8 bxs2 h48 oH pR">
                                <input class="bd0 h48" id="{{question.id}}" name ="{{question.id}}" type="file" formenctype="multipart/form-data" oninput="remove_error('{{question.id}}')"  onchange="remove_error('{{question.id}}')">
                                <div class="b0 bgF button icon pA r0 t0 ui">
                                    <i class="attach icon"></i>
                                </div>
                            </div>
                        {% elif question.question_state == 6 %}
                            <!--    DATE_TIME = 6-->
                            <label class="c4a fs15 fwR lh22 p10 m0">{{question.data}}</label>
                            <div class="ui calendar" id="calendar_{{question.id}}">
                                <div class="ui input right icon">
                                    <input class="bd0 br8 bxs2 p16 h48 oH pR" id="{{question.id}}" type="text" placeholder="{{question.help_text}}" name ="{{question.id}}" oninput="remove_error('{{question.id}}')" onchange="remove_error('{{question.id}}')" onsubmit="remove_error('{{question.id}}')">
                                    <i class="calendar alternate outline icon"></i>
                                </div>
                            </div>
                        {% elif question.question_state == 8 %}
                            <!--    PROFILE_LINK=8-->
                            <label class="c4a fs15 fwR lh22 p10 m0">{{question.data}}</label>
                            <input id="{{question.id}}" class="bd0 br8 bxs2 p16" rows="2" cols="4" name ="{{question.id}}" minlength="50" required placeholder="{{question.help_text}}" oninput="remove_error('{{question.id}}')" onchange="remove_error('{{question.id}}')">
                        {% elif question.question_state == 9 %}
                            <!--    MOBILE_NO = 9-->
                            <label class="c4a fs15 fwR lh22 p10 m0">{{question.data}}</label>
                            <div class="dT wp100">
                                <div class="ui fluid search selection dropdown dTc vM w120 pR h48 bd0 br8 bxs2 country_codes">
                                    <input type="hidden" name="country" id="{{question.id}}_country_code" value="India | 91">
                                    <i class="dropdown icon p16"></i>
                                    <div class="default text fs0">
                                        <span class="fL fs14"><i class="in flag"></i>91</span>
                                    </div>
                                    <div class="menu pA t48 l0 w280">
                                        {% include 'components/country_codes.html' %}
                                    </div>
                                </div>
                                <div class="dTc vM pl12 wp100">
                                    <input id="{{question.id}}" class="bd0 br8 bxs2 p16"  name="{{question.id}}" required placeholder="{{question.help_text}}" oninput="remove_error('{{question.id}}')"  onchange="remove_error('{{question.id}}')">
                                </div>
                            </div>
                        {% elif question.question_state == 10 %}
                            <!--    EMAIL_ID = 10-->
                            <label class="c4a fs15 fwR lh22 p10 m0">{{question.data}}</label>
                            <input id="{{question.id}}" class="bd0 br8 bxs2 p16" rows="2" cols="4" name ="{{question.id}}" minlength="50" required placeholder="{{question.help_text}}" oninput="remove_error('{{question.id}}')"  onchange="remove_error('{{question.id}}')">
                        {% endif %}
                    </div>
                {% endfor %}
                <input type="hidden" name="ref_id" value="{{ref_id}}"/>
            </form>

            {% if request.GET.event and request.GET.type == '6' %}
                <div id="open_event" class="cT mb16 p160 taC fs15 lh18 dB tdN">I’ll do it later</div>
            {% endif %}

            <div class="h60"></div>

            <!-- Displaying Buttons -->
            <div class="p8 bs taC pF b0 l0 r0 h60 bdtE bgBg z1">
                <button class="ui button h44 bgT cF br22 fwM ffR fs13 w228 bd0 ttU ls05" id="simple_button" type="submit">DONE</button>
            </div>

            <div class="p8 bs taC pF b0 l0 r0 h60 bdtE bgBg z1 dN" id="loading_button">
                <button class="ui button loading h44 bgT cF br22 fwM ffR fs13 w228 bd0 ttU ls05" type="submit">DONE</button>
            </div>

                  {% if footer %}
                    <div class="h60"></div>
                    <div class="taC pF b60 l0 r0 bg0 z1 p8 bs">
                        <div class="mxw960 mA cF taL">
                            {{footer.toast}}
                        </div>
                    </div>
                {% endif %}

            <!-- login model for exclusive communities -->

            {% include 'components/login_popup.html' with popup_text=""  redirect_link=request.path %}


<!--            <div class="ui modal image_container_login w300 test" >-->
<!--                <div class="h72 w72 brp50 bd2F bs bxs oH bgT mtn22 mA">-->
<!--                    <img class="h72 ofC w72 mtn2 mln2" src="https://beta.likeminds.community/media/media/ic_launcher_round.png">-->
<!--                </div>-->
<!--                <div class="h18 mt12 taC">-->
<!--                    <img class="h18 dIb vM" src="https://firebasestorage.googleapis.com/v0/b/collabmates-beta.appspot.com/o/files%2Fmain_website%2Flikeminds_logo_hdpi.png?alt=media&token=5f532ef2-20c6-4448-8efa-16e084494417"/>-->
<!--                </div>-->
<!--                <div class="p24 bs taC ffR">-->
<!--                    <p class="c0 fs13 fwR lh22 ls05 mb10 mt12 o25 p0">Login to continue</p>-->
<!--                    &lt;!&ndash; <p class="m0 p0 fs15 lh22 c9 mb16">This is an exclusive community. To view member details please login/signup and join the community.</p> &ndash;&gt;-->
<!--                    <div class="p160 ls05">-->
<!--                        <div class="fs12 mb16">-->
<!--                            <div class="googleSignin p12 bs br20 bgF c79 ffR fwM bdE c79h dN" data-next="{{request.path}}">-->
<!--                                <i class="dIb fa fa-google fs15 lh16 vM"></i>-->
<!--                                <span  class="dIb lh16 pl12 vM">LOGIN WITH GOOGLE</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="fs12 mb16">-->
<!--                            <a class="linkedinSignin p12 bs dB br20 tdN bgLi cF ffR fwM cFh"  data-next="{{request.path}}">-->
<!--                                <i class="dIb fa fa-linkedin fs15 lh16 vM"></i>-->
<!--                                <span  class="dIb lh16 pl12 vM">LOGIN WITH LINKEDIN</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="fs12">-->
<!--                            <a class="facebookSignin p12 bs dB br20 tdN bgFb cF ffR fwM cFh" data-next="{{request.path}}">-->
<!--                                <i class="fa fa-facebook dIb fs15 lh16 vM" ></i>-->
<!--                                <span class="dIb lh16 pl12 vM">LOGIN WITH FACEBOOK</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>

{% include 'components/community_question_footer.html' with title='' auto_join=footer %}


        <!-- join community back click pop-ups-->

         <div class="ui modal ffR p24 bs w280" id="back_popup">
                    <p class="c0 fs16 fwM lh24 mb16">Leave without Joining?</p>
                    <p class="c9 fs15 fwR lh22 mb16">
You are one step away from being a part of this amazing community. Are you sure you want to leave without joining?

                     <div class="taR fs13 ">
                         <span class="c9 fs13 fwM ls05 pr12  taL leave" >LEAVE</span ><div class="bs cT dIb fs13 fwM ls05 p120 taC vM stay">STAY</div>
                     </div>
        </div>


        <!-- Scripts -->
        <script>





            function showLoginPopup(){


                $('.test').modal({
                    backdrop: 'static',
                    keyboard: false,
                      // to prevent closing with Esc button (if you want this too)
                    closable: false, 
                    keyboardShortcuts: true  // to prevent closing with Esc button (if you want this too)
                      // to prevent closing with Esc button (if you want this too)
                });
                $('.test').modal('show');
            };

            {% if not request.user.is_authenticated %}
                $( document ).ready(function() {

                    showLoginPopup()

                });
            {% endif %}

            function remove_warning(id) {
                $(id).remove();
                $("#div_{{question.id}}").removeClass("error");
            };

            function remove_error(id) {
                // debugger;
                var hidden_id = '#hidden_div_'+id
                var div_id = '#div_'+id
                $(hidden_id).remove();
                $(div_id).removeClass("error");
            };

            function setProgress(percent, circumference, circle, max) {
                const offset = circumference - percent / max * circumference;
                circle.style.strokeDashoffset = offset;
            }

            function textareaBlur(id, min, max) {
                if($("#" + id).addClass("blurred").val().length < min){
                    $(".chatBubble_" + id).removeClass('bg06C3AF dN').addClass('bgd0021b').text("Minimum characters: " + min);
                }else if(max && ($("#" + id).val().length > max)){
                    $(".chatBubble_" + id).removeClass('bg06C3AF dN').addClass('bgd0021b').text("Maximum characters: " + max);
                }
            }
            function textareaInput(id, min, max) {
                var svg = $("#svg_" + id);
                var circle = $('.progressCircle' , svg[0])[0];
                var radius = circle.r.baseVal.value;
                var circumference = radius * 2 * Math.PI;
                var input = $("#" + id);
                circle.style.strokeDasharray = `${circumference} ${circumference}`;
                circle.style.strokeDashoffset = `${circumference}`;
                if(max){
                    setProgress(input.val().length, circumference, circle, max);
                }else{
                    setProgress(Math.min(input.val().length, min), circumference, circle, min);
                }
                $(".bg06C3AF.chatBubble_" + id).addClass('dN');
                if(input.val().length > min){
                    $("#" + id).addClass("blurred");
                }
                if(max && (input.val().length > max)){
                    $(".chatBubble_" + id).removeClass('bg06C3AF dN').addClass('bgd0021b').text("Maximum characters: " + max);
                }else if(input.val().length < min){
                    $(".bgd0021b.chatBubble_" + id).text("Minimum characters: " + min).removeClass('dN');
                    if($("#" + id).hasClass("blurred")){
                        $(".chatBubble_" + id).removeClass('bg06C3AF dN').addClass('bgd0021b').text("Minimum characters: " + min);
                    }
                }else{
                    $(".chatBubble_" + id).removeClass('bgd0021b').addClass('bg06C3AF dN');
                }
                input.next().text(input.val().length);

                // auto height textarea
                input[0].style.height = "auto";
                input[0].style.height = (input[0].scrollHeight)+"px";
                
                remove_error(id);
            }






            function autoGrow (oField) {
                if (oField.scrollHeight > oField.clientHeight) {
                    oField.style.height = oField.scrollHeight + "px";
                }
            }

            function isUrlValid(userInput,profile_platform) {
                var res = userInput.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
                if(res == null)
                    return false;
                else{
                    console.log(profile_platform.localeCompare("facebook"))
                    console.log(profile_platform.localeCompare("linkedin"))
                    if(profile_platform == "facebook"){
                        let fb = userInput.toLowerCase();
                        console.log(fb)
                        console.log("hello")
                        if(fb.search("facebook") != -1) return true
                        return false
                    }else if(profile_platform == "linkedin"){
                        let lin = userInput.toLowerCase();
                        console.log(lin)
                        console.log("kk")
                        if(lin.search("linkedin") != -1) return true
                        return false
                    }
                    return true
                }
            }




            {% for question in data %}
                {% if question.question_state == 6 %}
                    $('#calendar_{{question.id}}').calendar({
                        type: '{{question.date_format}}',
                        monthFirst: false,
                        formatter: {
                            date: function (date, settings) {
                                var month_shorts = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
                                if (!date) return '';
                                    var day = date.getDate() + '';
                                    if (day.length < 2) {
                                        day = '0' + day;
                                    }
                                    var month = date.getMonth() + 1;
                                    var year = date.getFullYear();
                                    {% if question.date_format == 'year' %}
                                        return year;
                                    {% elif question.date_format == 'month' and question.month_format == 'full' %}
                                        return month_shorts[date.getMonth()] + ' ' + year;
                                    {% elif question.date_format == 'month' %}
                                        var month = (date.getMonth() + 1) + '';
                                        if (month.length < 2) {
                                            month = '0' + month;
                                        }
                                        return month + ' ' + year;
                                    {% elif question.date_format == 'date' and question.date_format_full == 'full' %}
                                        return day + ' ' + month_shorts[date.getMonth()] + ' ' + year;
                                    {% else %}
                                        var month = (date.getMonth() + 1) + '';
                                        if (month.length < 2) {
                                            month = '0' + month;
                                        }
                                        return day + ' ' + month + ' ' + year;
                                    {% endif %}
                            }
                        }
                    });
                {% elif question.question_state == 1 %}
                    {% if question.allowed_addition %}
                        $('.ui.dropdown.single_select_{{question.id}}').dropdown({allowAdditions: true,hideAdditions:false});
                    {% else %}
                        $('.ui.dropdown.single_select_{{question.id}}').dropdown({allowAdditions: false});
                    {% endif %}
                {% elif question.question_state == 2 %}
                    {% if question.allowed_addition %}
                        $('.ui.normal.dropdown.multi_select_{{question.id}}').dropdown({
                            delimiter : "$#",
                            allowAdditions: true,
                            hideAdditions: false,
                            {% if question.max_selections > 0 and question.max_selections != ''  %}
                                maxSelections: {{question.max_selections}}
                            {% endif %}
                        });
                    {% else %}
                        $('.ui.normal.dropdown.multi_select_{{question.id}}').dropdown({
                            delimiter : "$#",
                            allowAdditions: false,
                            {% if question.max_selections > 0 and question.max_selections != ''  %}
                                maxSelections: {{question.max_selections}}
                            {% endif %}
                        });
                    {% endif %}
                {% elif question.question_state == 9 %}
                    $('.country_codes').dropdown();
                {% endif %}
            {% endfor %}

            $('#back_click').click(function(e){

                {% if request.user.is_authenticated  %}
                    $('#back_popup').modal('show')
                {% else %}
                    window.history.back()
                {% endif %}
            });

            //form submit click handling
            $('#simple_button').click(function(e){
                var values = $('#response_form').serialize();
                var community_id='{{community.id}}';
                var url;



                url = "/community_questions/"+community_id

                var files_exist = false;
                var files_array = [];
                var values_list = [];

                {% for question in data %}

                    $("#div_{{question.id}}").removeClass("error");
                    remove_warning('#hidden_div_{{question.id}}');

                    {% if question.question_state == 3 %}
                        values_dict = {'id':{{question.id}}};
                        var input=document.getElementById('{{question.id}}');
                        var value=input.value;
                        {% if question.optional %}
                            if(value!=''){
                                values_dict['value'] = value;
                                values_list.push(values_dict)
                            }
                        {% else %}
                            if (value.length < 50) {
                                console.log("less than 50 characters");
                                $("#div_{{question.id}}").addClass("error");
                                var tag_div_html = `
                                    <div class="ui negative message" id="hidden_div_{{question.id}}">
                                        <i class="close icon" onclick="remove_error('{{question.id}}')"></i>
                                        <div class="header">
                                            Please write your answer in bit more detail
                                        </div>
                                    </div>
                                    `
                                $('#div_{{question.id}}').append(tag_div_html)
                                $(window).scrollTop($('#div_{{question.id}}').offset().top-20)
                                return;
                            }
                            else if(value.length >= 50){
                                console.log("more than 50 characters");
                                values_dict['value'] = value;
                                values_list.push(values_dict);
                            }
                        {% endif %}
                    {% elif question.question_state == 7 %}
                        values_dict = {'id':{{question.id}}};
                        var input=document.getElementById('{{question.id}}');
                        var value=input.value;

                        {% if question.optional %}
                            if(value!=''){
                                values_dict['value'] = value;
                                values_list.push(values_dict);
                            }
                        {% else %}
                            {% if not question.no_limit %}
                            if (value.length >= {{question.min_chars}} && value.length <= {{question.max_chars}}) {
                            {% else %}
                            if (value.length >= {{question.min_chars}}) {
                            {% endif %}
                                if(value!=''){
                                    values_dict['value'] = value;
                                    values_list.push(values_dict)
                                }
                            }else {
                                console.log("less than 50 characters");
                                $("#div_{{question.id}}").addClass("error");
                                var tag_div_html = `
                                    <div class="ui negative message" id="hidden_div_{{question.id}}">
                                        <i class="close icon" onclick="remove_error('{{question.id}}')"></i>
                                        <div class="header">
                                            {% if not question.no_limit %}
                                                Please enter valid introduction with atleast {{question.min_chars}} characters but not more than {{question.max_chars}} characters
                                            {% else %}
                                                Please enter valid introduction with atleast {{question.min_chars}} characters
                                            {% endif %}
                                        </div>
                                    </div>
                                    `
                                $('#div_{{question.id}}').append(tag_div_html);
                                $(window).scrollTop($('#div_{{question.id}}').offset().top-20);
                                return;
                            }
                        {% endif %}
                    {% elif question.question_state == 9 %}
                        values_dict = {'id':{{question.id}}};
                        var country_code = $('#{{question.id}}_country_code').val() || "";
                        if(country_code){
                            country_code = country_code.split(' | ');
                            if(country_code.length > 0){
                                country_code = country_code[1] + "-";
                            }
                        }
                        value = $('#{{question.id}}').val();
                        {% if question.optional %}
                            if(value!=''){
                                values_dict['value'] = country_code + value;
                                values_list.push(values_dict)
                            }
                        {% else %}
                            if(value != ''){
                                values_dict['value'] = country_code + value;
                                values_list.push(values_dict)
                            } else{
                                // country code default value set to 91 => india, 
                                // when not set to default, check is required here for showing error in case of required input
                                $("#div_{{question.id}}").addClass("error");
                                var tag_div_html = `<div class="ui negative message" id="hidden_div_{{question.id}}">
                                                        <i class="close icon" onclick="remove_error('{{question.id}}')"></i>
                                                        <div class="header">
                                                            Please enter valid mobile no
                                                        </div>
                                                    </div>`
                                $('#div_{{question.id}}').append(tag_div_html)
                                $(window).scrollTop($('#div_{{question.id}}').offset().top-20)
                                return;
                            }
                        {% endif %}
                    {% elif question.question_state == 10 %}
                        values_dict = {'id':{{question.id}}};
                        value = $('#{{question.id}}').val();
                        {% if question.optional %}
                            if(value!=''){
                                values_dict['value'] = value;
                                values_list.push(values_dict)
                            }
                        {% else %}
                            var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,})+$/;
                            if(value.match(mailformat)){
                                values_dict['value'] = value;
                                values_list.push(values_dict)
                            } else{
                                $("#div_{{question.id}}").addClass("error");
                                var tag_div_html = `<div class="ui negative message" id="hidden_div_{{question.id}}">
                                                        <i class="close icon" onclick="remove_error('{{question.id}}')"></i>
                                                        <div class="header">
                                                            Please enter valid email address
                                                        </div>
                                                    </div>`
                                $('#div_{{question.id}}').append(tag_div_html)
                                $(window).scrollTop($('#div_{{question.id}}').offset().top-20)
                                return;
                            }
                        {% endif %}
                    {% elif question.question_state == 8 %}
                        values_dict = {'id':{{question.id}}};
                        value = $('#{{question.id}}').val();
                        {% if question.optional %}
                            if(value!=''){
                                values_dict['value'] = value;
                                values_list.push(values_dict)
                            }
                        {% else %}
                            var valid =isUrlValid(value,"{{question.profile_platform}}")
                            if(valid){
                                values_dict['value'] = value;
                                values_list.push(values_dict);
                            } else{
                                $("#div_{{question.id}}").addClass("error");
                                var tag_div_html = `<div class="ui negative message" id="hidden_div_{{question.id}}">
                                                        <i class="close icon" onclick="remove_error('{{question.id}}')"></i>
                                                        <div class="header">
                                                            Please enter valid {{question.profile_platform}} profile link
                                                        </div>
                                                    </div>`
                                $('#div_{{question.id}}').append(tag_div_html)
                                $(window).scrollTop($('#div_{{question.id}}').offset().top-20)
                                return;
                            }
                        {% endif %}
                    {% elif question.question_state == 2 %}
                        values_dict = {'id':{{question.id}}};
                        value = $('#{{question.id}}').val();
                        {% if question.optional %}
                            if(value!=''){
                                values_dict['value'] = value;
                                values_list.push(values_dict);
                            }
                        {% else %}
                            if(value != '' ){
                                value=value.split(',').join(', ');
                                values_dict['value'] = value;
                                values_list.push(values_dict);
                            }else{
                                $("#div_{{question.id}}").addClass("error");
                                var tag_div_html = `<div class="ui negative message" id="hidden_div_{{question.id}}">
                                                        <i class="close icon" onclick="remove_error('{{question.id}}')"></i>
                                                        <div class="header">
                                                            Please ${$(".default.text", $("#div_{{question.id}}")[0]).text().toLowerCase()}
                                                        </div>
                                                    </div>`
                                $('#div_{{question.id}}').append(tag_div_html)
                                $(window).scrollTop($('#div_{{question.id}}').offset().top-20)
                                return;
                            }
                        {% endif %}
                    {% elif question.question_state != 5 %}
                        //console.log('check-2')
                        value = $('#{{question.id}}').val();
                        values_dict = {'id':{{question.id}}};
                        if (value == ''){
                            {% if question.optional %}
                                if(value!=''){
                                    values_dict['value'] = value;
                                    values_list.push(values_dict)
                                }
                            {% else %}
                                $("#div_{{question.id}}").addClass("error");
                                var tag_div_html = `
                                    <div class="ui negative message" id="hidden_div_{{question.id}}">
                                        <i class="close icon" onclick="remove_error('{{question.id}}')"></i>
                                        <div class="header">
                                        {% if question.question_state == 0 %}
                                            Please enter the required field
                                        {% elif question.question_state == 1 or question.question_state == 2 %}
                                            Please ${$(".default.text", $("#div_{{question.id}}")[0]).text().toLowerCase()}
                                        {% elif question.question_state == 4 %}
                                        Please enter the required field
                                        {% elif question.question_state == 5 %}
                                            Please upload a file
                                        {% elif question.question_state == 6 %}
                                            Please enter valid date
                                        {% elif question.question_state == 7 %}
                                            Please write your introduction in bit more detail
                                        {% elif question.question_state == 8 %}
                                            Please fill this detail
                                        {% else %}
                                            Please write your answer in bit more detail
                                        {% endif %}
                                        </div>
                                    </div>
                                    `
                                $('#div_{{question.id}}').append(tag_div_html)
                                $(window).scrollTop($('#div_{{question.id}}').offset().top-20)
                                return;
                            {% endif %}
                        }else{
                            values_dict['value'] = value;
                            values_list.push(values_dict)
                        }
                    {% elif question.question_state == 5 %}
                        if ($('#{{question.id}}')[0].files.length === 0){
                            {% if question.optional %}
                                file =$('#{{question.id}}').prop('files')[0];
                            {% else %}
                                $("#div_{{question.id}}").addClass("error");
                                var tag_div_html = `
                                    <div class="ui negative message" id="hidden_div_{{question.id}}">
                                        <i class="close icon" onclick="remove_error('{{question.id}}')"></i>
                                        <div class="header">
                                            Please attach file
                                        </div>
                                    </div>
                                    `
                                $('#div_{{question.id}}').append(tag_div_html)
                                $(window).scrollTop($('#div_{{question.id}}').offset().top-20)
                                return;
                            {% endif %}
                        }else if($('#{{question.id}}')[0].files.length > 0) {
                            file =$('#{{question.id}}').prop('files')[0];
                            files_exist = true;
                            file_dict = {'id':{{question.id}},'value': file};
                            files_array.push(file_dict);
                        }
                    {% endif %}
                {% endfor %}

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        xhr.setRequestHeader("X-CSRFToken", '{{csrf_token}}');
                    }
                });

                // uploading files
                if(files_exist){
                    files_array.forEach((element) => {
                        console.log(element)
                        console.log(element.id)
                        console.log(element.value)
                        var file_data = new FormData();
                        file_data.append("file", element.value);
                        $.ajax({
                            url:"/utils/upload_question_file/"+ community_id +"/" + element.id,
                            type:"POST",
                            async: false,
                            data:file_data,
                            processData:false,
                            contentType: false,
                            cache: false,
                            success:function(data){
                                console.log("image_url : ");
                                var image_url = data.image_url;
                                console.log(image_url);
                                file_dict = {'id':element.id,'value': ''+image_url};
                                values_list.push(file_dict);
                            }
                        });
                    })
                }

                $("#loading_button").removeClass("dN");




                var questions = {"data": JSON.stringify(values_list),"aj":'{{footer.aj}}',"aj_expired":'{{footer.aj_expired}}',"source":'{{source}}'}
                $.ajax({
                    url:url,
                    type:"POST",
                    data:questions,
                    dataType:'json',
                    success:function(data){

                             <!--     MIXPANEL TRACKER -->


                                             mixpanel.track("Community Join Request Submitted",{
                                             "Community Name":"{{community.name}}",
                                             "User Community State":"{{mixpanel_event.user_community_state}}",
                                             "click date" : new Date() + ""
                                             })

                             <!--    TRACKER ENDS    -->



                        if('source' in data){
                            if(data['source'] == "members_directory"){

                             location.href="/members_directory/"+'{{community.id}}'
                             return

                            }else if(data['source'] == "private_link"){

                             location.href="/community/"+'{{community.id}}';
                            }

                        }
                        {% if request.GET.event %}
                            location.href = "/collabcard/{{request.GET.event}}?email=true";
                        {% elif request.GET.poll %}
                            location.href = "/collabcard/{{request.GET.poll}}?email=true";
                        {% elif request.GET.collabcard %}
                            location.href = "/collabcard/{{request.GET.collabcard}}?email=true";
                        {% else %}

                            location.href="/community/"+'{{community.id}}';

                        {% endif %}
                    }
                });
            });
            {% if request.GET.event and request.GET.type == '6' %}
                $("#open_event").click(function(){
                    $(".ldrT", $('#loader')[0]).text("Loading...");
                    $('#loader').show();
                    location.href = "/collabcard/{{request.GET.event}}";
                });
            {% endif %}




            $('.leave').click(function(){

                mixpanel.track("Community Join Not Completed",{


                "Click Date" : new Date() + "",
                "Other Community Promotor": "{{analytics.other_community_promoter}}",
                "Count Communities Joined":"{{analytics.community_member_count}}",
                "Joined Communities Name":"{{analytics.community_list|safe}}",
                "Community Name" : "{{community.name}}"

                })


                window.history.back()
            })


            $('.stay').click(function(){

            $('#back_popup').modal('hide')
            })



         <!-- MIX PANEL EVENT --->

         {% if user_directory %}

                mixpanel.track("Community Join Directory",{

                {% if not footer.aj_expired %}
                    "Directory Link Status" : "Valid",
                 {% else %}

                     "Directory Link Status" : "Expired",

                 {% endif %}

                 "click date" : new Date() + ""

                })

         {% endif %}
         <!--    Event end               --->


        </script>
        {% include 'scripts/google_auth.html' with client_id=google_oauth_client_id  %}
        {% include 'scripts/facebook_auth.html' with facebook_auth_id=facebook_auth_id%}
        {% include 'scripts/linkedin_auth.html' with request=request %}
    </body>
</html>
{% endblock %}