{% extends 'base.html' %}


{% block content %}

<div class="ui raised padded text container segment" style="margin: 8px 8px !important;">
    <br>
    <h3 class="ui header" style="color:#1ebea5;">Thank You for your request to join this community.<br> <br>Your response has been forwarded to the admin
    of this community and we will notify you over email once it is approved.    </h3>
    <br>
</div>
<div class="ui celled list">
        <h4> Similar Communities </h4>
        <div class="ui container" style=" padding-left:10px; overflow-y:auto;white-space:nowrap;" >
        {% for i in similar_communities %}
        <div class="ui card" style="display:inline-block; width:150px; padding:0px 0px; margin-right:10px;">
                <a href="../community/{{i.id}}"  >
                  <img class="ui medium fluid image" src="https://beta.collabmates.com/media/{{i.image_url}}" style=" margin:0 auto; height:100px; width: 150px;">
                </a>
                <div class="content">
                  <a class="header" href="../community/{{i.id}}" style="margin: 0 auto; overflow-x:hidden ; text-align:center; ">{{i.name}}</a>
                </div>
              </div>
        {% endfor %}
        
    </div>
</div>

{% endblock %}