{% extends 'base.html' %}


{% block content %}
<head>

</head>
<div class=" ui small breadcrumb" style="padding: 0 10px;">
        <a class="section" href = "{% url 'home' %}">Home</a>
        <i class="right chevron icon divider"></i>
        <a class="section" href = "{% url 'comunity' community.id %}">{{community.name}}</a>
        <i class="right chevron icon divider"></i>
        <div class="active section"> Join Community</div>
</div>

<body>

<div class="ui fluid card" style="margin-top:8px; max-width:786px;">
<div class="ui raised padded text container segment" style="margin: 3vw 3vw !important; padding: 12px 12px;">
    <br>

    <p style="font-size: 16px; color:#4a4a4a;">Thank You for your request to join this community . Your response has been forwarded to the admin
    of this community and we will notify you over email once it is approved.    </p>

        <p style="font-size: 16px; color:#4a4a4a;">Meanwhile, you can explore more communities on CollabMates </p>
    {% if not onboard %}
        <div style="text-align:center">
            <button class="ui button"  onclick="onbaording();"  style="background-color: #00897b; border-radius:20px; color:white;" >Show relevant communities</button>
        </div>
    {% endif %}
<!-- {% if community_tag == 'iitd' %}-->
<!--    <p>Meanwhile, you can get early access to the CollabMates App by signing up for our alpha program. If you already signed up, you can download the android app now. </p>-->
<!--    <button class="ui button" onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSes87js8cTiGg0x-Vw9DYrnY1BCZTolba0B1WBvcVSYZSGAwg/viewform';"  style="margin-left:100px;margin-bottom:30px;background-color: #00897b; border-radius:20px; color:white;" >Sign up for Alpha</button>-->
<!--    <button class="ui button" onclick="location.href='https://play.google.com/apps/testing/com.collabmates'" style="margin-left:100px;border-radius:20px; color:#00897b; border: 2px solid #00897b;" >Download App</button>-->
<!-- {% elif community_tag == 'nsit' %}-->
<!--    <p>Meanwhile, you can get early access to the CollabMates App by signing up for our alpha program. If you already signed up, you can download the android app now. </p>-->
<!--     <button class="ui button" onclick="location.href='https://docs.google.com/forms/d/e/1FAIpQLSfqN2z1wg6CCJ4ZKH1lxQQgJ8iUWEbtTT0R9NT64zg5f13_ig/viewform';" style="margin-left:100px;margin-bottom:30px; background-color: #00897b;border-radius:20px; color:white;">Sign up for Alpha</button>-->
<!--    <button class="ui button" onclick="location.href='https://play.google.com/apps/testing/com.collabmates'" style="margin-left:100px;border-radius:20px; color:#00897b; border: 2px solid #00897b;" >Download App</button>-->
<!-- {% else %}-->
<!--    <p>Meanwhile, you can get early access to the CollabMates App by signing up for our alpha program. If you already signed up, you can download the android app now. </p>-->
<!--        <button class="ui button" onclick="location.href='https://collabmates.com'" style="background-color: #00897b;border-radius:20px; color:white;">Sign Up</button>-->

<!-- {% endif %}-->


</div>
    <div style="text-align:center">
{% if onboard %}
<button class="ui fluid button " style=" z-index:2;width:60%; left:20%; margin:0 auto; background-color: #00897b; border-radius:20px; color:white; bottom:1%; position:fixed;" onclick="open_community({{community.id}});"> Back To Explore  </button>
{% else %}
<button class="ui fluid button " style=" z-index:2;width:60%; left:20%; margin:0 auto; background-color: #00897b; border-radius:900px; color:white; bottom:1%; position:fixed;" onclick="onbaording();"> Show relevant communities  </button>

{% endif %}
</div>

 {% if onboard %}
 <div class="content">
          <h4>Similar Communities

          </h4>

  <div class="ui container" style=" overflow-y:auto;white-space:nowrap;" >
                      
      <div class="ui big horizontal divided list">
      {% for i in similar_communities %}
          <div class="item" onclick="open_community({{i.id}});">
          <br><br>
          
              <img class="ui avatar image" src="/media/{{i.image_url.url}}">
              <div class="content" style="font-size:14px;">
              <div class="header" style="font-size:1.2rem;">{{i.name}}</div>
              {{i.members_count}} Members
              </div>
              <br><br><br><br>
          
          </div>
          {% endfor %}
      </div>
  </div>


  </div>
  {% endif %}
</div>
</body>

<script>
function open_community(id){
                    //window.location.href = "../"+id;
                    path=window.location.href
                    path = path.substring(0, path.lastIndexOf('/'));
                    path=path+"/"+id;
                    location.href=path



                }

                function onbaording(){
                    path="/onboarding?community_id={{community.id}}";
                    location.href=path

                }
</script>

{% endblock %}
