{% extends 'base.html' %}


{% block content %}

<div class = "ui raised very padded text container segment">
    <br>
    <h3 class="ui header" style="color:#1ebea5;">Thank You for your request to join this community.<br> <br>Your response has been forwarded to the admin
    of this community and we will notify you over email once it is approved.    </h3>
    <br>
</div>
<div class="ui celled list">
        <h4> Similar Communities </h4>
        <br>
    <div class="ui small images features grid noMargin" style="overflow-y:auto;white-space:nowrap;" >
        {% for i in similar_communities %}
        
                <a class="image" href="../{{i.id}}">
                    
                    <img class="ui image" src="http://beta.collabmates.com/media/{{ i.image_url }}" style="height:100px;" >
                    <figcaption>{{i.name}}</figcaption>
                </a>
        {% endfor %}
        
    </div>
</div>

{% endblock %}