{% load static %}
<html>
<head>
    <!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
           function clearcontent(question_no) {

            $('#div_'+question_no).remove();
            var question_no = parseInt(question_no);
            var i;
            for(i=question_no+1;i<=count;i++)
            {
                var label_id = 'label_'+i
                var text = 'Option:'+(i-1)

                document.getElementById(label_id).innerText = text;


            }
        }

    </script>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #075e54;">
  <div class="container">
      <img style="height:40px; width:40px;" src="https://beta.collabmates.com/media/media/ic_launcher_round.png">
      <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;CollabMates</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/admin_dashboard">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
          <li class="nav-item active" style="padding-right:10px;">
          <a class="nav-link" href="/admin_dashboard/logout">Logout
                <span class="sr-only">(current)</span>
              </a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<br/><br/><br/>

<div style="width:800px;  margin-left: 40px;">
<h1>{{question_name}}</h1>


<form id="my_form" onsubmit="return false" >

    {% for dropdown in dropdown_list %}


    <div class="form-group" id="div_{{forloop.counter}}">

        <label id="label_{{forloop.counter}}"><b>Option:{{ forloop.counter }}</b></label>&nbsp; <a href="#" id="delete_dropdown" onclick="clearcontent('{{forloop.counter}}')" style="color:red;"><i class="fa fa-trash" aria-hidden="true"></i></a>

<!--            <input type="hidden" id="id{{forloop.counter}}" value="{{question.id}}"/>-->
            <input type="text" class="form-control" id="option{{forloop.counter}}" value="{{dropdown}}"/>
    </div>
  {% endfor %}
  <div id="form_field"></div>

  <button type="submit" class="btn btn-outline-secondary">Submit</button>
    {% if dropdown_status == 1 or dropdown_status == 0 %}
  &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"   value="1" class="multiple_select"> Multiple Select<br>
    {% elif dropdown_status == 2 %}
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"   value="2" class="multiple_select" checked> Multiple Select<br>

    {% endif %}


</form>
<button type="button" class="btn btn-primary" id="add">Add</button>
<button type="button" class="btn btn-danger" id="delete">Delete</button>

</div>
</body>


</html>

<script>

    $(document).ready(function(){
    count={{length}}

    $('#add').click(function(){
    count=count+1
    var id='option'+count
     var new_field= " <div class='form-group'> <label for='option'>Option\"" + count + "\"</label> <input type='text' class='form-control' id=\"" + id + "\"></div>"
      $('#form_field').append(new_field);
    })

   $('#delete').click(function(){
   var id='option'+count
   $('#'+id).parent('div').remove();
   count=count-1;

   })


    $('#my_form').submit(function(){

    var data=[]
    update_count={{length}};

    for(var i=1;i<=update_count;i++)
    {
        option=$('#option'+i).val()
        if(typeof option === 'undefined')
            continue;
        console.log(option)
        id=$('#id'+i).val()
        var update_object={
        'option':option,
        'update':true,
        'id':id
        }

        data.push(update_object)
    }


    for(var i=update_count+1;i<=count;i++)
    {

        option=$('#option'+i).val()
        console.log(option)
        var create_object={
        'option':option,
        'update':false
        }

        data.push(create_object)

    }

    is_multiple_dropdown=$('.multiple_select').is(':checked');
    let dropdown_state=0
    if(is_multiple_dropdown)
    {
        dropdown_state=2
    }else{
        dropdown_state=1
    }


    option_data={
    'data':JSON.stringify(data),
    'csrfmiddlewaretoken':'{{csrf_token}}',
    'dropdown_state':dropdown_state

    }
    console.log(option_data)
    //ajax

     $.ajax({

            url:'/admin_dashboard/add_dropdown_responses/'+{{question_id}},
            data:option_data,
            type:"POST",
            dataType:'json',
            success:function(data){

             if(data['success']){

                 location.reload(true)

             }else{

                 alert('Please add the dropdown options')
                 return;
             }


            }

         })


    })

    })

</script>
