{% extends "base.html" %}
<html>


<body>
{% block content %}
<br/>
<br/>
<div class="ui cards">

    <!-- create flow -->
  <div class="card">
    <div class="content">
      <div class="header">Create Flow</div>
      <br/>
      <div class="description">
        <h4>Total Community :{{community_count}}</h4>
        <h4>Public Communities:{{public_communities}}</h4>
        <h4>Private Communities:{{private_communities}}</h4>
      </div>
    </div>
  </div>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
    <!-- Join flow -->
  <div class="card">
    <div class="content">
      <div class="header">Join Flow</div>
      <div class="description">
        <h4>User :{{user_count}}</h4>
        <h4>Promoter/Members :{{promoter_member_count}}</h4>
        <h4>Unique Promoter :{{promoter_count}}</h4>
        <h4>Unique Member :{{member_count}}</h4>
        <h4>Total Promoter :{{total_promoter_count}}</h4>
        <h4>Total Members :{{total_member_count}}</h4>
      </div>
    </div>
  </div>

<!-- Engagement Flow -->
    <div class="card">
        <div class="content">
            <div class="header">Engagement Flow</div>
            <div class="description">
                <h4>Conversations :{{conversations_count}}</h4>
                <h4>Responses :{{responses_count}}</h4>
            </div>
        </div>
    </div>

</div>


{% endblock %}
</body>
</html>