<html>


<body>

<h1>Analytics</h1>
<h2>Total Community Count:{{community_count}}</h2>
<h2>Public Communities:{{public_communities}}</h2>
<h2>Private Communities:{{private_communities}}</h2>

<h2>User Count:{{user_count}}</h2>
<h2>Promoter/Members Count:{{promoter_member_count}}</h2>
<h2>Promoter Count:{{promoter_count}}</h2>
<h2>Member Count:{{member_count}}</h2>
<h2>Conversations Count:{{conversations_count}}</h2>
<h2>Responses Count:{{responses_count}}</h2>
<h2>Total Promoter Count:{{total_promoter_count}}</h2>
<h2>Total Members Count:{{total_member_count}}</h2>


</body>
</html>