{% load static %}

<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css'>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130288684-1"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
table {
  border-collapse: separate;
  border-spacing: 50px 0;
}

td {
  padding: 10px 0;
}

</style>

<body>
<br/>
<div style="padding-right:20px; text-align:right;">
  <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 pull-right " href="{% url 'admin_dashboard' %}"><i class="fa fa-home"
                                                                                                     aria-hidden="true"></i>&nbsp;Go
    to Home</a>

</div>
<div align="center">
<h2 style="">Create Tag</h2>
</div>
<div style=" width:1000px;padding-top:20px;padding-left:50px;">
  <form id="tag_form" onsubmit="return false">


    <table>

      <tr>
        <td>
          <label class="radio-inline"><input type="radio" name="optradio" checked value="normal_tag"> Normal Tag</label>
        </td>

        <td>
          <label class="radio-inline"><input type="radio" name="optradio" value="cluster_tag"> Cluster Tag</label>
        </td>

      </tr>
      <tr>
        <td>
          <label for="new_tag">Tag name</label>
          <input type="text" class="form-control" id="new_tag" placeholder="New Tag Name Here" style="width:300px;">
        </td>

        <td id="select_cluster">
           <label for="category">Existing Cluster</label>
          <select id="existing_cluster" class="form-control" style="width:300px;">
            <option selected style="color:black;" disabled>Choose...</option>
            {% for cat in existing_clusters %}
            <option value="{{cat.name}}">{{cat.name}}({{cat.attribute_id}})</option>
            {% endfor %}
          </select>
        </td>
      </tr>
     <!-- Radio Buttons for tag cluster -->

<!---->
      <tr id="normal_options">
        <td>
          <label for="category">Category</label>
          <select id="category" class="form-control">
            <option selected style="color:black;" disabled>Choose...</option>
            {% for cat in categories %}
            <option value="{{cat.id}}">{{cat.name}}</option>
            {% endfor %}
          </select>
        </td>
        <td style="width:300px;">
          <label for="attribute">Attribute</label>
          <select id="attribute" class="form-control">
            <option selected disabled>Choose...</option>

          </select>
        </td>

      </tr>


<!-- clustar dropdown -->

       <tr id="cluster_options">
        <td>
          <label for="cluster_attribute">Cluster</label>
          <select id="cluster_attribute" class="form-control">
                        <option selected style="color:black;" disabled>Choose...</option>

            {% for cat in clusters %}
            <option value="{{cat.id}}">{{cat.attribute_name}}</option>
            {% endfor %}
          </select>
        </td>


      </tr>



<!---->

      <!-- select type of cluster-->
      <tr><td>
        <div id="cluster_dropdown" style="max-width:300px;display:none;">
   <select name="" multiple="" class="ui search fluid dropdown cluster" id="cluster">
      <option value="">Enter Tags for Cluster</option>
      {% for tag in tags %}
        <option value="{{tag.id}}" id="{{tag.id}}">{{tag.name}}</option>
       {% endfor %}
    </select>
    </div>
        </td>


      </tr>

      <!---->
      <tr>
        <td>
          <button id="submit" type="submit" class="btn btn-primary">Submit</button>
        </td>
      </tr>

    </table>

  </form>
</div>


{% autoescape off %}
<script>
var options="";
$("#category").on('change',function(){
    var value=$(this).val();
    $('#attribute').find('option').remove();
    if(value=="1")
    {
    {% for attr in legacy_attributes %}
               $("#attribute").append('<option value="{{attr.id}}">{{attr.attribute_name}}</option>');

    {% endfor %}

    }
    else if(value=="2")
    {
    {% for attr in profession_attributes %}
               $("#attribute").append('<option value="{{attr.id}}">{{attr.attribute_name}}</option>');

    {% endfor %}
    }

    else if(value=="3")
    {
    {% for attr in interests_attributes %}
               $("#attribute").append('<option value="{{attr.id}}">{{attr.attribute_name}}</option>');

    {% endfor %}
    }

    else if(value=="4")
    {
    {% for attr in geography_attributes %}
               $("#attribute").append('<option value="{{attr.id}}">{{attr.attribute_name}}</option>');
    {% endfor %}
    }

    else if(value=="5")
    {
    {% for attr in global_attributes %}
               $("#attribute").append('<option value="{{attr.id}}">{{attr.attribute_name}}</option>');
    {% endfor %}

    }

    else
        $("#attribute").find('option').remove()
});



    $(document).ready(function(){


      $('#cluster_options').hide()
      $('#select_cluster').hide()
       $('input[name="optradio"]').on("click", function(e) {

       tag_type=$('input[name=optradio]:checked').val();

       if(tag_type == "cluster_tag")
       {
            $('#cluster_dropdown').css("display","block")
            $('#select_cluster').show()
            $("#existing_cluster").on('change',function(){
              value=this.value
              $('#new_tag').val(value)
              var html=""
               {% for tag in clustered_tags %}
                    if(this.value == '{{tag.name}}')
                    {
                        {% for cluster in tag.clusters %}
                            var temp=`<option value="{{cluster.id}}" selected id="{{cluster.id}}">{{cluster.name}}</option>`
                            html=html+temp;
                        {% endfor%}
                        {{break}}
                    }
               {% endfor%}



       $("#cluster").append(html);


            })

       }else{

            $('#cluster_dropdown').css("display","none")
           $('#normal_options').show()
          $('#cluster_options').hide()
          $('#select_cluster').hide()



       }

      })



 $('.ui.dropdown.cluster').dropdown({
  allowAdditions: false,
  fullTextSearch: false
});






       $('#tag_form').on('submit',function()
       {
         category=$('#category').val();
         attribute=$('#attribute').val();
         tag_type=$('input[name=optradio]:checked').val();
         new_tag = $('#new_tag').val();
         cluster_tags=$('#cluster').val()

         attribute_cluster=$('#cluster_attribute').val()
         select=""

         temp={
            'category':category,
           'attribute':attribute,
           'new_tag':new_tag,
           'tag_type':tag_type,
           'cluster_tags':cluster_tags,
           'attribute_cluster':attribute_cluster

         }
         console.log(new_tag)
         if(!new_tag)
         {
             alert("Please Enter the Tag Name")
             return;

         }
         if(category == null || attribute == null)
         {
            alert("Please Select the category and attribute")
            return;
         }
        $.ajax({

            url:'/admin_dashboard/create_tag',
            type: "POST",
            data:temp,
            dataType:'json',
            success:function(data){

               location.reload(true)

            }

         })

       })

    })
</script>
{% endautoescape %}
</body>
</html>
