<!DOCTYPE html>
{% load static %}
<html>
{% if request.user.is_superuser %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




    <style type="text/css">

  body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  width:1050px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-orange {
 background-color: #f08c35;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border-radius: 5px;
  border: 1px solid #ddd; /* Gray */

}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


#search {
    color: red;

}


    </style>

<script>
    $('select').selectpicker();
    $.fn.selectpicker.Constructor.DEFAULTS.noneSelectedText = 'Search here ...';
    $.fn.selectpicker.Constructor.DEFAULTS.maxOptions = 1;

</script>


</head>

<body>
<table>
<tr>
<td style="padding-left:80px;">
    <a class="btn btn-success" href="{% url 'metrics' %}">Metrics</a>
</td>
<td style="padding-left:250px;">
    <select class="selectpicker" id="select" data-style="btn-primary"   data-live-search="true" data-show-subtext="true">
    <option value="pilot_live" disabled selected>Filter By</option>
    <option value="pilot_live">Live communities (pre-created)</option>
    <option value="pilot_0_interested">Pilot communities (0 interested)</option>
    <option value="pilot_1_interested">Pilot communities (1 or more interested)</option>
   <option value="user_created">User Created</option>
   <option value="members_count_ascending">Members Count (Ascending)</option>
   <option value="members_count_descending">Members Count (Descending)</option>
   <option value="interested_count_ascending">Interested Count (Ascending)</option>
   <option value="interested_count_descending">Interested Count (Descending)</option>
   <option value="None">All communities</option>


</select>
</td>

<!--    <td class="row-fluid" style="text-align:right;padding-right:30px;padding-left:200px">-->
<!--&lt;!&ndash;      <select class="selectpicker" id="del_tag" data-show-subtext="true" data-live-search="true">&ndash;&gt;-->

<!--&lt;!&ndash;      </select>&ndash;&gt;-->
<!--    <select class="selectpicker" id="search" data-style="btn-info"  multiple data-live-search="true" data-show-subtext="true"  >-->

<!--          {% autoescape off %}-->
<!--                    {% for tag in tags %}-->
<!--                        <option value="{{tag.id}}">{{tag.name}} ({{tag.attribute}})</option>-->
<!--                    {% endfor %}-->
<!--          {% endautoescape %}-->
<!--    </select>-->
<!--      <span class="help-inline"> &nbsp;-->


<!--        <button id="search_submit" type="submit" class="btn btn-danger">Search</button></span>-->
<!--    </td>-->

</tr>

</table>
<br/><br/>

<main role="main" class="container">

    <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 " href="{% url 'all_user' %}">Users</a>
<a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 " href="{% url 'analytics' %}">Analytics</a>
<a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 " href="{% url 'send_tester_mail' %}">Mail</a>
<a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 " href="{% url 'deleted_communities' %}">Deleted Communitites</a>
<a class="btn btn-primary btn-sm mt-1 mb-1 mr-4" href="{% url 'create_tag' %}" role="button">Create Tag</a>
<a class="btn btn-primary btn-sm mt-1 mb-1 mr-4" href="{% url 'categorize_tag' %}" role="button">Categorize Tag</a>
<a class="btn btn-primary btn-sm mt-1 mb-1 mr-4" href="{% url 'update_tag' %}" role="button">Update Tag</a>
<a class="btn btn-primary btn-sm mt-1 mb-1 mr-4" href="{% url 'rename_tag' %}" role="button">Rename Tag</a>
<a class="btn btn-danger btn-sm mt-1 mb-1 mr-4" href="{% url 'delete_tags' %}" role="button">Delete Tag</a>

    <div style="padding-top:20px;">
        <a class="btn btn-primary btn-sm mt-1 mb-1 mr-4" href="{% url 'map_all_tags' %}" role="button">Map all Tags</a>
        <a class="btn btn-primary btn-sm mt-1 mb-1 mr-4" href="{% url 'create_user_update' %}" role="button">App Update</a>

    </div>
    <br><br>
    <div class="row">


        <div class="col-md-8" id="community_div">

            {% for community in communities %}
            <article class="media content-section">
                <img class="rounded-circle article-img" src="{{ community.image_url.url }}">
                <div class="media-body">
                    <div class="article-metadata">

                        <!--      <small class="text-muted">{{ community.active_since|date:"F d, Y" }}</small>-->
                        <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 " href="{% url 'update_form' community.id %}">Update</a>
                        <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 "
                           href="{% url 'community_delete' community.id %}">Delete</a>
                        <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 "
                           href="{% url 'add_dashboard_admin' community.id %}">Add Admin</a>
                        <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 "
                           href="{% url 'add_dashboard_member' community.id %}">Add Member</a>
                        {% if community.pending_member_count != 0 %}
                        <a class="btn btn-danger btn-sm mt-1 mb-1 mr-4 " href="{% url 'all_members' community.id %}">Members&nbsp;({{community.members_count}})</a>
                        {% else %}
                        <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 " href="{% url 'all_members' community.id %}">Members&nbsp;({{community.members_count}})</a>
                        {% endif %}


                        {% if community.hidden_tags_count == 0 %}

                        <a class="btn btn-danger btn-sm mt-1 mb-1 mr-4 " href="{% url 'hidden_tags' community.id %}">Tags({{community.hidden_tags_count}})</a>
                        {% else %}
                        <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 " href="{% url 'hidden_tags' community.id %}">Tags({{community.hidden_tags_count}})</a>
                        {% endif %}

                        {% if community.question_count == 0 %}

                        <a class="btn btn-danger btn-sm mt-1 mb-1 mr-4 " href="{% url 'add_questions' community.id %}">Questions({{community.question_count}})</a>
                        {% else %}
                        <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 " href="{% url 'add_questions' community.id %}">Questions({{community.question_count}})</a>
                        {% endif %}
                        <br/><br/>
                        <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 "
                           href="{% url 'send_invitation' community.id %}">Nominate Promoter</a>
                        <a class="btn btn-warning btn-sm mt-1 mb-1 mr-4 "
                           href="{% url 'analytics_community' community.id %}">Analytics</a>


                    </div>
                    <h2><a class="article-title" href="{% url 'update_form' community.id %}">{{ community.name }}</a>
                    </h2>
                    <p class="article-content">{{ community.purpose }}</p>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>



</main>

<div style="padding-left:450px;">
<ul class="pagination">


{% if community.number|add:'-4' > 1 %}
    <li><a href="?filter={{select_type}}&page={{ community.number|add:'-5' }}">&hellip;</a></li>
{% endif %}

{% for i in community.paginator.page_range %}
    {% if community.number == i %}
        <li style="border: 1px solid #ddd;border-radius: 5px;padding: 8px 16px;background-color:#f0ad4e;border-color: #eea236;"><span>{{ i }} </span></li>
    {% elif i > community.number|add:'-5' and i < community.number|add:'5' %}
        <li><a href="?filter={{select_type}}&page={{ i }}">{{ i }}</a></li>
    {% endif %}
{% endfor %}

{% if community.paginator.num_pages > community.number|add:'4' %}
    <li><a href="?filter={{select_type}}&page={{ community.number|add:'5' }}">&hellip;</a></li>
{% endif %}



</ul>
</div>

<br/>

</body>

<script>

     $('#search_submit').click(function()
       {
         search_tags=$('#search').val();
         console.log(search_tags)
         window.location.href='./search/'+search_tags
       })

      $('#select').on('change', function() {
          var val=this.value
          console.log(val)
          window.open("./?filter="+val,"_self")
        });


</script>
{% endif %}
</html>