<!DOCTYPE html>
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
    .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
</style>
<body>

<h2 align="left">Hidden Tags</h2>

    <form id="my_form" onsubmit="return false">
      <div class="form-group center_div">
        <label for="tag">Hidden Tags</label>
        <input type="text" name="tags" id="previous_categories" value="{{hidden_tags}}"  readonly class="form-control" >
      </div>
      <br/><br/>
     <div class="form-group center_div">

    <select name="select_tags"  id="my_select" class="form-control">
          <option value="41">IIT Delhi</option>
          <option value="42">NSIT College</option>
          <option value="0">None</option>
     </select>
     </div>
        <br/>
      <div class="center_div">
        <button type="submit" class="btn btn-default ">Submit</button>
       </div>

    </form>

</body>
</html>

<script>

    $(document).ready(function(){

       $('#my_form').on('submit',function()
       {

         var hidden=$('#my_select').val()
         console.log(hidden)
         console.log({{community_id}})
          temp={
          'hidden_tag_id':hidden,
          'community_id':{{community_id}}
          }

          $.ajax({

            url:'/admin_dashboard/add_hidden_tags',
            data:temp,
            dataType:'json',
            success:function(data){
               console.log(data)
               location.reload(true)

            }

         })



       })

    })
</script>