<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<title>Collabmates</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="https://beta.likeminds.community/media/media/ic_launcher_round.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login/css/main.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form id="login_form" class="login100-form validate-form" onsubmit="return false;">
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid username is required">
						<input id="username" class="input100" type="text" name="username">
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input id="passcode" class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
<!--						<div class="contact100-form-checkbox">-->
<!--							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">-->
<!--							<label class="label-checkbox100" for="ckb1">-->
<!--								Remember me-->
<!--							</label>-->
<!--						</div>-->

<!--						<div>-->
<!--							<a href="#" class="txt1">-->
<!--								Forgot Password?-->
<!--							</a>-->
<!--						</div>-->
					</div>
			

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn">
							Login
						</button>
					</div>
					
<!--					<div class="text-center p-t-46 p-b-20">-->
<!--						<span class="txt2">-->
<!--							or sign up using-->
<!--						</span>-->
<!--					</div>-->

<!--					<div class="login100-form-social flex-c-m">-->
<!--						<a href="{% url 'social:begin' 'facebook' %}" class="login100-form-social-item flex-c-m bg1 m-r-5">-->
<!--							<i class="fa fa-facebook-f" aria-hidden="true"></i>-->
<!--						</a>-->

<!--						<a href="{% url 'social:begin' 'linkedin-oauth2' %}" class="login100-form-social-item flex-c-m bg2 m-r-5">-->
<!--							<i class="fa fa-twitter" aria-hidden="true"></i>-->
<!--						</a>-->
<!--					</div>-->
				</form>

				<div class="login100-more" style="background-image: url('{% static 'login/images/bg-01.jpg' %}');">
				</div>
			</div>
		</div>
	</div>
	
	
<script>
	    $(document).ready(function(){

       $('#login_form').on('submit',function()
       {

         var username=$('#username').val()
         var passcode=$('#passcode').val()

          temp={
          'username':username,
          'passcode':passcode,
          'csrfmiddlewaretoken':'{{csrf_token}}'


          }

          $.ajax({

				url:'/admin_dashboard/login',
				data:temp,
				type: "POST",
				dataType:'json',
				success:function(data){
				if(data['success']){

					if(data['is_super_user']){
						location.href="/admin_dashboard"
					}
					else{
					location.href="/communities"}
				}
				else if(data['raise_error']){
					var input = $('.validate-input .input100');

					var thisAlert = $(input).parent();
					$(thisAlert).addClass('alert-validate');

				}
				else{
					location.href="/page_not_found"
				}

				}

         })



       })

    })
</script>
	
	
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login/js/main.js' %}"></script>



</body>
</html>