
<!DOCTYPE html>
{% load static %}
<html>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.tagsinput-revisited.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery.tagsinput-revisited.css' %}">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>

    .center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
</style>
<body>

<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #075e54;">
  <div class="container">
      <img style="height:40px; width:40px;" src="https://beta.likeminds.com/media/media/ic_launcher_round.png">
      <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;&nbsp;LikeMinds</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/admin_dashboard">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
          <li class="nav-item active" style="padding-right:10px;">
          <a class="nav-link" href="/admin_dashboard/logout">Logout
                <span class="sr-only">(current)</span>
              </a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<br><br>
<div style="padding-top:25px; padding-left:20px;">
<a class="btn btn-warning" href="{% url 'create_tag' %}" role="button">Create Tag</a>
&nbsp &nbsp &nbsp
<a class="btn btn-primary" href="{% url 'categorize_tag' %}" role="button">Categorize Tag</a>
</div>
<br>
<h2 align="left" style="padding-left:20px">User Hidden Tags : {{user_name}}</h2>

<br>
<br>

    <form id="legacy_form" onsubmit="return false">
     <div class="form-group center_div">
            <label for="legacy">Legacy Tags :</label>
            <input id="legacy" name="legacy" type="text" value="{{hidden_legacy_tag}}">
        </div>
      <br>


    </form>


    <form id="profession_form" onsubmit="return false">
        <br>
     <div class="form-group center_div">
            <label for="profession">Profession Tags :</label>
            <input id="profession" name="legacy" type="text" value="{{hidden_profession_tag}}">
        </div>

        <br>


    </form>
<br>
    <form id="interests_form" onsubmit="return false">
     <div class="form-group center_div">
            <label for="interests">Interests Tags :</label>
            <input id="interests" name="legacy" type="text" value="{{hidden_interests_tag}}">
        </div>
      <br>



    </form>
<br>


    <form id="geography_form" onsubmit="return false">
     <div class="form-group center_div">
            <label for="geography">Geography Tags :</label>
            <input id="geography" name="legacy" type="text" value="{{hidden_geography_tag}}">
        </div>
      <br>
       <br>


      <div class="center_div">
        <button type="submit" class="btn btn-outline-secondary ">Submit</button>
       </div>
        <br>

    </form>


</body>
</html>
{% autoescape off %}

<script>
$('#legacy').tagsInput({

  'autocomplete': {
  source:[
  {%for tag in legacy_tags %}
  '{{tag}}',
  {%endfor%}
  ]

  }


});


$('#profession').tagsInput({

  'autocomplete': {
    source: [
  {%for tag in profession_tags %}

  '{{tag}}',

  {%endfor%}
    ]
  }


});


$('#interests').tagsInput({

  'autocomplete': {
    source: [
  {%for tag in interests_tags %}
  '{{tag}}',
  {%endfor%}
    ]
  }


});


$('#geography').tagsInput({

  'autocomplete': {
    source: [
  {%for tag in geography_tags %}
  '{{tag}}',
  {%endfor%}
    ]
  }


});



    $(document).ready(function(){

       $('#geography_form').on('submit',function()
       {

         var legacy_tags=$('#legacy').val()
         var profession_tags=$('#profession').val()
         var interests_tags=$('#interests').val()
         var grography_tags=$('#geography').val()


         console.log({{user_id}})
          temp={
          'legacy_tags':legacy_tags,
          'profession_tags':profession_tags,
          'interests_tags':interests_tags,
          'grography_tags':grography_tags,
          'user_id':{{user_id}},
          'type':'Legacy',

          }

          $.ajax({

            url:'/admin_dashboard/add_user_tags',
            data:temp,
            dataType:'json',
            success:function(data){
               console.log(data)
               location.reload(true)

            }

         })



       })

    })

</script>

{% endautoescape %}