 .padd{
    padding-left:10px;
    padding-right:10px;
    padding-bottom:18px;
    padding-top:0px;

    }

    .form_field{

    padding-bottom:6px;

    }

    #main_header{

        font-family:Arial, Helvetica, sans-serif;
        padding-left:10px;
        padding-right:10px;

    }

    #sec_header{

    font-family:Roboto;
    padding-left:5px;
    padding-right:5px;
    font-size:14px;
    font-style: italic;
    color:#00897b;
    }

    #referal{

    font-family:Roboto;
    padding-left:5px;
    padding-right:5px;
    font-size:14px;
    color:#00897b;
    }

    #submit{
    padding-left:60px;padding-right:60px;background-color: #00897b;border-radius:20px; color:white;

    }