<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- NAME: SIMPLE TEXT -->
    <!--[if gte mso 15]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{subject}}</title>
<style>
.background_display{
    background-color:#e6e6e6;
    }

@media only screen and (min-width: 992px) {

.web_display{

    padding-top:2px; padding-right:170px; padding-bottom:0px; padding-left:170px;

}


.bottom_text{

font-size:8px;

}

}


@media screen and (max-width: 600px){

.TextHead{

font-size:18px;

}

.profile_text{

font-size:16px;

}

.profile_heading{

font-size:14px;

}

.bottom_text{

font-size:8px;

}
}


</style>
</head>
<body>


<center>


                          <table border="0" cellpadding="0" cellspacing="0">
                          <tbody class="background_display">
                                            <tr>

                                                <td valign="center"
                                                    class="web_display">
<!-- header section -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"  width="100%"
                                                           >
                                                        <tr style="background-color:#f2f2f2">
                                                            <td style="padding-top:4px; padding-right:18px; padding-bottom:3px; padding-left:18px;">
                                                                <img src="https://likeminds.community/media/media/ic_launcher_round.png"
                                                                     style="width:45px;height:45px;border-radius:50%;"/>

                                                            <td style="padding-top:4px;padding-bottom:3px; padding-left:300px;overflow:hidden; white-space:nowrap;">
                                                            <p>{{reciever}}</p>
                                                            </td>

                                                            <td valign="center"
                                                                style="padding-top:4px; padding-right:20px; padding-bottom:3px;padding-left:18px;">
                                                                <img src="{{reciever_image}}"
                                                                     style="width:40px;height:40px; border-radius: 50%;"/>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <!--conversation count -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                           style="max-width:100%; min-width:100%; background-color:white;"
                                                           width="100%" >
                                                        <tr>
                                                            <td style="padding-top:20px; padding-right:18px; padding-bottom:20px; padding-left:18px;text-align:center"
                                                                class="TextHead">
                                                                1 new conversation in <b>{{community_name}}</b>
                                                                Community
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <!-- Profile Section -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                           style="max-width:100%; min-width:100%; background-color:white;margin-top:2px;"
                                                           width="100%" >
                                                        <tr>
                                                            <td style="padding-top:15px; padding-right:18px; padding-bottom:1px; padding-left:18px;text-align:center"
                                                                class="mcnTextContent">

                                                                <img src="{{collabcard_creater_image}}"
                                                                     style="width:100px; border-radius: 50%;"/>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="padding-top:0px; padding-right:18px; padding-bottom:0px; padding-left:14px;text-align:center"
                                                                class="profile_text">
                                                                <b>{{collabcard_creater}}</b>
                                                            </td>
                                                        </tr>
                                                        {% if creater_header != None %}
                                                        <tr>
                                                            <td style="padding-top:15px; padding-right:18px; padding-bottom:15px; padding-left:14px;text-align:center;font-size:13px;"
                                                                class="profile_heading">
                                                                {{creater_header}}
                                                            </td>
                                                        </tr>
                                                        {% else %}
                                                        <td style="padding-top:0px; padding-right:18px; padding-bottom:15px; padding-left:14px;text-align:center;font-size:13px;">

                                                        </td>
                                                        {% endif %}

                                                        <tr>
                                                            <td style="padding-top:0px; padding-right:18px; padding-bottom:15px; padding-left:14px;text-align:center">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                       width="100%"
                                                                       style="min-width:100%;">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;"
                                                                            valign="top" align="center">
                                                                            <table border="0" cellpadding="0"
                                                                                   cellspacing="0"
                                                                                   style="border-collapse: separate !important;border-radius: 0px;background-color: #075E54;">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td align="center" valign="middle"
                                                                                        style="font-family: Arial; font-size: 16px; padding: 10px;">
                                                                                        <a title="Create Your Community"
                                                                                           href="{{url}}"
                                                                                           target="_blank"
                                                                                           style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;font-size:12px;">View
                                                                                            Conversation</a>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <!--footer secion -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                           style="max-width:100%; min-width:100%; " width="100%">

                                                        <tr style="background-color:#f2f2f2">
                                                            <td style="padding-top:5px;padding-left:18px;">
                                                                <a href="{{android_app_download_link}}">
                                                                    <img src="https://likeminds.community/media/playstore_icon.png"
                                                                         style="width:90px; height:30px;"/>
                                                                </a>

                                                            </td>

                                                            <td style="padding-top:20px; text-align: center; padding-bottom:20px;padding-left:18px;"
                                                                class="bootom_text">
                                                                	Never miss any conversation. Get the LikeMinds App.
                                                            </td>

                                                            <td style="padding-top:20px; padding-bottom:20px;padding-right:0px;"
                                                                class="bootom_text">
                                                                <a href="{{ios_app_download_link}}">
                                                                    <img align="right" src="https://assets.skybound.com/wp-content/uploads/2019/10/12163811/download-apple-app-store-icon.png"
                                                                         style="width:90px; height:30px;padding-right:18px;"/>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </a>

                                                    </table>

                                                </td>

                                            </tr>
                                            </tbody>

                          </table>

</center>
</body>
</html>

