{% extends 'mails/base.html' %}
{% block extracss %}
<style>
strong{
    color:#00897b;
}
.row{
    display: flex;
}
</style>
{% endblock %}
{% block mail %}
<div class="username">Hi, {{member_name}}!</div>
<div class="row">
    <div class="text">
        <p>
            It's been 3 days of missed opportunities. Three days without:
        </p>
        <ul style="color:#718297;line-height: 1.5;font-size:16px;">
            <li>  A Network of over 1,000 founders, industry leaders and community builders</li>
            <li>  Utilising the chance of introducing yourself and being part of interesting conversations</li>
            <li>  Exclusive resources available only to CommunityHood members</li>
        </ul>
        <p>
            There is a lot more happening and instead of creating a list, we simply encourage you to witness the action yourself.
        </p>
        <p class="cta-wrapper" style="text-align: center;">
            <a href="https://likeminds.community/download_the_app" class="cta">Download The App</a>
        </p>

    </div>
</div>
{% endblock %}
