<div style="width: 98px; height: 48px; margin: auto; overflow: visible"></div>
<div
  style="
    height: 503px;
    width: 500px;
    padding: 65px 48px 0;
    max-width: 500px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #eee;
    box-sizing: border-box;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #666666;
  "
>
  <div style="margin-bottom: 35px">Hello,</div>
  <div style="font-size: 16px; line-height: 12px; font-weight: 400">
    <div style="margin-bottom: 10px; line-height: 24px">
      The rate limit for international OTP was hit.
    </div>
    <div style="margin-bottom: 10px; line-height: 24px">
      Please find attached file for details.
    </div>
    <div style="line-height: 24px">Regards <br />Team LikeMinds</div>
  </div>
</div>
