{% extends 'base.html' %}
{% block extracss %}
{% endblock %}
{% block mail %}
<div class="username">Hi, {{username}}!</div>
<p>Your community <strong>LikeMinds Extended Team</strong> on LikeMinds is all set up to be a vibrant place! But you haven’t yet got many new member applications 😟. </p>
<p>Don’t worry, we have got your back. Just go to your community on the LikeMinds App and follow the prompt to level up on the main screen. Once you have invited member applications from various external sources (e.g. social media platforms) and approved at least 10 of them, you will have achieved our highest level of community, and these prompts will disappear. </p>
<p>Click the link below to invite new member applications and level up:</p>
<p class="cta-wrapper">
    <a href="#" class="cta">invite new member applications</a>
</p>
<p>PS: This link ☝️ opens in mobile phone only. </p>
<p>👉 If you are wondering how to go about growing your community, <a href="#">click here</a> to read some wonderful advice from our resident community managers.</p>
</p>
{% endblock %}