<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="telephone=no" name="format-detection">
    <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=no;" name="viewport">
    <meta content="IE=9; IE=8; IE=7; IE=EDGE" http-equiv="X-UA-Compatible"/>

    <title>Page title</title>

    <style type="text/css">
        @media screen and (max-width: 630px) {

        }

         @import url(http://fonts.googleapis.com/css?family=Roboto:300); /*Calling our web font*/

        /* Some resets and issue fixes */
        #outlook a { padding:0; }
        body{ width:100% !important; -webkit-text; size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; }
        .ReadMsgBody { width: 100%; }
        .ExternalClass {width:100%;}
        .backgroundTable {margin:0 auto; padding:0; width:100%;!important;}
        table td {border-collapse: collapse;}
        .ExternalClass * {line-height: 115%;}
        /* End reset */


        /* These are our tablet/medium screen media queries */
        @media screen and (max-width: 630px){


            /* Display block allows us to stack elements */
            *[class="mobile-column"] {display: block;}

            /* Some more stacking elements */
            *[class="mob-column"] {float: none !important;width: 100% !important;}

            /* Hide stuff */
            *[class="hide"] {display:none !important;}

            /* This sets elements to 100% width and fixes the height issues too, a god send */
            *[class="100p"] {width:100% !important; height:auto !important;}

            /* For the 2x2 stack */
            *[class="condensed"] {padding-bottom:40px !important; display: block;}

            /* Centers content on mobile */
            *[class="center"] {text-align:center !important; width:100% !important; height:auto !important;}

            /* 100percent width section with 20px padding */
            *[class="100pad"] {width:100% !important; padding:20px;}

            /* 100percent width section with 20px padding left & right */
            *[class="100padleftright"] {width:100% !important; padding:0 20px 0 20px;}

            /* 100percent width section with 20px padding top & bottom */
            *[class="100padtopbottom"] {width:100% !important; padding:20px 0px 20px 0px;}


        }



    </style>


</head>

<body style="padding:0; margin:0">

<table border="0" cellpadding="0" cellspacing="0" style="margin: 0; padding: 0" width="100%">
    <tr>
        <td align="left" valign="top">

            <div style="padding:0;margin:0 auto;width:100%!important;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif">
                <div style="overflow:hidden;color:transparent;width:0;font-size:0;opacity:0;height:0">
                    i know this is not gonna work
                </div>
                <table align="center" bgcolor="#EDF0F3" border="0" cellpadding="0"
                       cellspacing="0" style="background-color:#edf0f3;table-layout:fixed" width="100%">
                    <tbody>
                    <tr>
                        <td align="center">
                            <center style="width:100%">
                                <table bgcolor="#FFFFFF"
                                       border="0"
                                       cellpadding="0" cellspacing="0" class="m_3275122810483790519m_-651433597433303735m_3281155217784709179phoenix-email-container" style="background-color:#ffffff;margin:0 auto;max-width:512px;width:inherit"
                                       width="512">
                                    <tbody>
                                    <tr>
                                        <td bgcolor="#F6F8FA"
                                            style="background-color:#f6f8fa;padding:5px 16px 13px;border-bottom:1px solid #ececec">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%!important;min-width:100%!important"
                                                   width="100%">
                                                <tbody>
                                                <tr>
                                                    <td align="left" valign="middle">
                                                        <a href="www.google.com"
                                                           style="color:#008cc9;display:inline-block;text-decoration:none"
                                                           target="_blank">
                                                            <img alt="LinkedIn" border="0"
                                                                 class="CToWUd"
                                                                 height="42"
                                                                 src="https://collabmates.com/media/media/ic_launcher_round.png"
                                                                 style="outline:none;color:#ffffff;text-decoration:none"></a>
                                                    </td>
                                                    <td align="right" style="padding:0 0 0 10px;padding-top:7px" valign="middle"
                                                        width="100%">
                                                        <a href="www.google.com"
                                                           style="margin:0;color:#008cc9;display:inline-block;text-decoration:none"
                                                           target="_blank">
                                                            <span style="word-wrap:break-word;color:#4c4c4c;word-break:break-word;font-weight:400;font-size:14px;line-height:1.429">{{promoter}}</span>
                                                        </a>
                                                    </td>
                                                    <td style="padding-top:7px;padding-left:10px" valign="middle"
                                                        width="40">
                                                        <a href="www.google.com"
                                                           style="border-radius:50%;color:#008cc9;display:inline-block;text-decoration:none"
                                                           target="_blank">
                                                            <img alt="" border="0" class="CToWUd" height="36"
                                                                 src="{{url}}{{promoter_image}}"
                                                                 style="border-radius:50%;outline:none;color:#ffffff;text-decoration:none"
                                                                 width="36">
                                                        </a>
                                                    </td>
                                                    <td width="1">&nbsp;</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                <tr>
                                                    <td style="padding:0 0 32px 0" width="100%">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td align="center" bgcolor="#f5f5f5"
                                                                    style="background-color:green;padding:25px 20px;color:#ffffff;font-size:14px;line-height:1">
                                                                    We noticed you're getting a lot of invitations

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" style="padding:24px 0 16px">
<!--                                                                    <h2 style="margin:0;color:#262626;font-weight:700;font-size:16px;line-height:1.5">-->
<!--                                                                        Here are 8 invitations that stand out</h2>-->
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td align="center" style="padding:0 16px 5px">
                                                                    <table align="center" border="0"
                                                                           cellpadding="0"
                                                                           cellspacing="0" class="m_3275122810483790519m_-651433597433303735m_3281155217784709179cards-container" style="max-width:400px"
                                                                           width="400">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="padding-bottom:24px">
                                                                                <table align="left" border="0"
                                                                                       cellpadding="0" cellspacing="0"
                                                                                       width="100%">
                                                                                    <tbody>

                                                                        {% for member in pending_members %}
                                                                        <tr>
                                                                            <td style="padding-bottom:24px">
                                                                                <table align="left" border="0"
                                                                                       cellpadding="0" cellspacing="0"
                                                                                       width="100%">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td style="vertical-align:top" valign="top"
                                                                                            width="50">
                                                                                            <a href="www.google.com"
                                                                                               style="border-radius:50%;color:#008cc9;display:inline-block;text-decoration:none"
                                                                                               target="_blank">
                                                                                                <img alt="" border="0"
                                                                                                     class="CToWUd"
                                                                                                     height="54"
                                                                                                     src="{{url}}{{member.member_id.userinfo.image_file.url}}"
                                                                                                     style="border-radius:50%;outline:none;color:#ffffff;text-decoration:none"
                                                                                                     width="54">
                                                                                            </a>
                                                                                        </td>
                                                                                        <td style="padding:0 16px"
                                                                                            valign="top">
                                                                                            <table align="left"
                                                                                                   border="0"
                                                                                                   cellpadding="0"
                                                                                                   cellspacing="0"
                                                                                                   width="auto">
                                                                                                <tbody>
                                                                                                <tr>
                                                                                                    <td align="left" style="padding-top:7px;"><a
                                                                                                            href="www.google.com"
                                                                                                            style="color:#008cc9;display:inline-block;text-decoration:none;padding-bottom:4px"
                                                                                                            target="_blank">

                                                                                                        <span style="word-wrap:break-word;color:#262626;word-break:break-word;font-weight:700;font-size:14px;line-height:1.429 ">{{member.member_id.userinfo.name}}</span>
                                                                                                    </a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="left"
                                                                                                        style="padding-bottom:4px">
                                                                                                        {% if member.member_id.userinfo.headline != None %}
                                                                                                        <h2 style="margin:0;word-wrap:break-word;color:#737373;word-break:break-word;font-weight:400;font-size:12px;line-height:1.333">
                                                                                                            {{member.member_id.userinfo.headline}}</h2>
                                                                                                        {% endif %}
                                                                                                    </td>
                                                                                                </tr>
<!--                                                                                                <tr>-->
<!--                                                                                                    <td style="color:#737373">-->
<!--                                                                                                        <img alt=""-->
<!--                                                                                                             class="CToWUd"-->
<!--                                                                                                             src="https://ci5.googleusercontent.com/proxy/_TvlYBOsEYHQ4n1dieZKghhGTtVr4LzqDnz9OJQHjD1m5OJyy4sTIFTwaVM6wLSfuMhceDd704e0JY3PZj67yH0fn2lyJhQmQJpNkxNBR4jLYS9MfaOqBH1dikcmVb7XUgBoM-4j64aCNX3pQbKkZ3tsO_M3WT35z7uUhoeZYOuUdclPSDCwQLWNIkyA5RzgmuxljRlvZj8eymtwTA78T3Il-SakWN5rnd7ekEqLwhUPRBd1cNfx2LBbIYmTD8tKSUWU0zNcEpgze3jixPH3Py9EqkgjRfg74LZxxj3UXX9eQNmVIN7_kxi2NENkgC2KV_JuuA=s0-d-e1-ft#https://static.licdn.com/sc/p/com.linkedin.email-assets-frontend%3Aemail-assets-frontend-static-content%2B__latest__/f/%2Femail-assets-frontend%2Fimages%2Femail%2Fphoenix%2Ficons%2Ficon_phoenix_connect_in_common_32x32_v1.png"-->
<!--                                                                                                             style="outline:none;color:rgba(0,0,0,0.6);text-decoration:none;vertical-align:bottom;width:16px;height:16px">&nbsp;-->
<!--                                                                                                        <span style="font-size:12px">You have 211 connections in common.</span>-->
<!--                                                                                                    </td>-->
<!--                                                                                                </tr>-->
                                                                                                <tr>
                                                                                                    <td align="left">
                                                                                                        <table align="left"
                                                                                                               border="0"
                                                                                                               cellpadding="0"
                                                                                                               cellspacing="0"
                                                                                                               width="auto">
                                                                                                            <tbody>
                                                                                                            <tr>
                                                                                                                <td valign="middle">
                                                                                                                    <div>
                                                                                                                        <table align="left"
                                                                                                                               border="0"
                                                                                                                               cellpadding="0"
                                                                                                                               cellspacing="0"
                                                                                                                               valign="middle"
                                                                                                                               width="auto">
                                                                                                                            <tbody>
                                                                                                                            <tr>
                                                                                                                                <td class="m_3275122810483790519m_-651433597433303735m_3281155217784709179card-accept-link-wrapper-mobile"
                                                                                                                                    style="padding-right:16px">
                                                                                                                                    <table border="0"
                                                                                                                                           cellpadding="0"
                                                                                                                                           cellspacing="0"
                                                                                                                                           style="display:inline-block">
                                                                                                                                        <tbody>
                                                                                                                                        <tr>
                                                                                                                                            <td align="center"
                                                                                                                                                valign="middle">
                                                                                                                                                <a href="www.google.com"
                                                                                                                                                   style="word-wrap:normal;color:#008cc9;word-break:normal;white-space:nowrap;display:block;text-decoration:none"
                                                                                                                                                   target="_blank">
                                                                                                                                                    <table border="0"
                                                                                                                                                           cellpadding="0"
                                                                                                                                                           cellspacing="0"
                                                                                                                                                           width="auto">
                                                                                                                                                        <tbody>
<!--                                                                                                                                                        <tr>-->
<!--                                                                                                                                                            <td bgcolor="#008CC9"-->
<!--                                                                                                                                                                style="padding:3px 16px;color:#ffffff;font-weight:500;font-size:14px;border-color:#008cc9;background-color:green;border-radius:2px;border-width:1px;border-style:solid">-->
<!--                                                                                                                                                                <a href="www.google.com"-->
<!--                                                                                                                                                                   style="color:#ffffff;display:inline-block;text-decoration:none"-->
<!--                                                                                                                                                                   target="_blank">Accept</a>-->
<!--                                                                                                                                                            </td>-->
<!--                                                                                                                                                        </tr>-->
                                                                                                                                                        </tbody>
                                                                                                                                                    </table>
                                                                                                                                                </a>
                                                                                                                                            </td>
                                                                                                                                        </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </div>
                                                                                                                </td>
                                                                                                                <td valign="middle">
<!--                                                                                                                    <a href="www.google.com" style="word-wrap:normal;color:#008cc9;white-space:nowrap;display:inline-block;text-decoration:none"-->
<!--                                                                                                                       target="_blank">-->
<!--                                                                                                                        <span style="color:#008cc9;font-weight:400;font-size:14px;line-height:1.429">View profile</span></a>-->
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td align="right" valign="top">
                                                                                            <div class="m_3275122810483790519m_-651433597433303735m_3281155217784709179card-accept-link-wrapper-container-desktop"
                                                                                                 style="overflow:hidden;display:none;width:0;height:0">
                                                                                                <table align="right"
                                                                                                       border="0"
                                                                                                       cellpadding="0"
                                                                                                       cellspacing="0"
                                                                                                       style="width:auto"
                                                                                                       valign="middle"
                                                                                                       width="auto">
                                                                                                    <tbody>
                                                                                                    <tr>
                                                                                                        <td height="54"
                                                                                                            valign="middle">
                                                                                                            <div>
                                                                                                                <table align="left"
                                                                                                                       border="0"
                                                                                                                       cellpadding="0"
                                                                                                                       cellspacing="0"
                                                                                                                       valign="middle"
                                                                                                                       width="auto">
                                                                                                                    <tbody>
                                                                                                                    <tr>
                                                                                                                        <td>
                                                                                                                            <table border="0"
                                                                                                                                   cellpadding="0"
                                                                                                                                   cellspacing="0"
                                                                                                                                   style="display:inline-block">
                                                                                                                                <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td align="center"
                                                                                                                                        valign="middle">
                                                                                                                                        <a href="www.google.com" style="word-wrap:normal;color:#008cc9;word-break:normal;white-space:nowrap;display:block;text-decoration:none"
                                                                                                                                           target="_blank">
                                                                                                                                            <table border="0"
                                                                                                                                                   cellpadding="0"
                                                                                                                                                   cellspacing="0"
                                                                                                                                                   width="auto">
                                                                                                                                                <tbody>
<!--                                                                                                                                                <tr>-->
<!--                                                                                                                                                    <td bgcolor="#008CC9"-->
<!--                                                                                                                                                        style="padding:3px 16px;color:#ffffff;font-weight:500;font-size:14px;border-color:#008cc9;background-color:#008cc9;border-radius:2px;border-width:1px;border-style:solid">-->
<!--                                                                                                                                                        <a href="www.google.com"-->
<!--                                                                                                                                                           style="color:#ffffff;display:inline-block;text-decoration:none"-->
<!--                                                                                                                                                           target="_blank">Accept</a>-->
<!--                                                                                                                                                    </td>-->
<!--                                                                                                                                                </tr>-->
                                                                                                                                                </tbody>
                                                                                                                                            </table>
                                                                                                                                        </a>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        {% endfor %}

                                                                                     <td align="center">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                           style="display:inline-block">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" valign="middle"><a
                                                                                    href="www.google.com"
                                                                                    style="word-wrap:normal;color:#008cc9;word-break:normal;white-space:nowrap;display:block;text-decoration:none"
                                                                                    target="_blank">
                                                                                <table border="0" cellpadding="0"
                                                                                       cellspacing="0" width="auto">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td style="color:#008cc9;font-weight:500;font-size:16px;line-height:20px;border-bottom:1px solid #008cc9">
                                                                                            <a href="www.google.com"
                                                                                               style="color:#008cc9;display:inline-block;text-decoration:none"
                                                                                               target="_blank">See
                                                                                                all invitations</a></td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </a></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
<!--                                                            <tr>-->
<!--                                                                <td align="center" style="padding:15px 0 0">-->
<!--                                                                    <hr style="background-color:#d9d9d9;margin:0;color:#d9d9d9;border-color:#d9d9d9;border-width:0;border-style:solid;height:1px">-->
<!--                                                                </td>-->
<!--                                                            </tr>-->
<!--                                                            <tr>-->
<!--                                                                <td align="center" style="padding:16px 0 12px"><h2-->
<!--                                                                        style="margin:0;color:#262626;font-weight:700;font-size:16px;line-height:1.5">-->
<!--                                                                    2 more people are waiting to join your network</h2>-->
<!--                                                                </td>-->
<!--                                                            </tr>-->
<!--                                                            <tr>-->
<!--                                                                <td align="center">-->
<!--                                                                    <table border="0" cellpadding="0" cellspacing="0"-->
<!--                                                                           style="display:inline-block">-->
<!--                                                                        <tbody>-->
<!--                                                                        <tr>-->
<!--                                                                            <td align="center" valign="middle"><a-->
<!--                                                                                    href="www.google.com"-->
<!--                                                                                    style="word-wrap:normal;color:#008cc9;word-break:normal;white-space:nowrap;display:block;text-decoration:none"-->
<!--                                                                                    target="_blank">-->
<!--                                                                                <table border="0" cellpadding="0"-->
<!--                                                                                       cellspacing="0" width="auto">-->
<!--                                                                                    <tbody>-->
<!--                                                                                    <tr>-->
<!--                                                                                        <td style="color:#008cc9;font-weight:500;font-size:16px;line-height:20px;border-bottom:1px solid #008cc9">-->
<!--                                                                                            <a href="www.google.com"-->
<!--                                                                                               style="color:#008cc9;display:inline-block;text-decoration:none"-->
<!--                                                                                               target="_blank">See-->
<!--                                                                                                all invitations</a></td>-->
<!--                                                                                    </tr>-->
<!--                                                                                    </tbody>-->
<!--                                                                                </table>-->
<!--                                                                            </a></td>-->
<!--                                                                        </tr>-->
<!--                                                                        </tbody>-->
<!--                                                                    </table>-->
<!--                                                                </td>-->
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </center>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <img alt=""
                     class="CToWUd"
                     src="https://ci6.googleusercontent.com/proxy/G-1qrwICfCWLI1cH9bjDpTDSsphzeDjCBYkGjJi6XgXO61mD73W8oSsdwK9jManFsWzSMktnmPKBh_trnsUMFG-GC3fiHbasoRRPagF-QdMFe4uakD3alWjBNOuYdkTDJgatmIt0XX_ky_hRocLZAYz6fnuJOv3Li_pzMLmGxHF5WrLSiiDIZFSFhK_2=s0-d-e1-ft#https://www.linkedin.com/emimp/ip_TVRKak5HMTVMV3A1ZW5GcGRHVnZMWEJrOlpXMWhhV3hmYlRKdFgybHVkbWwwWlY5a2FXZGxjM1JmTURJPTo=.gif" style="outline:none;color:#ffffff;text-decoration:none;width:1px;height:1px">
                <div class="yj6qo"></div>
                <div class="adL">
                </div>
            </div>

        </td>
    </tr>
</table>

</body>
</html>