<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
    </head>
    <body style="margin:0;padding:0;">
        <div style="font-family:Roboto,Helvetica,Arial,sans-serif;text-align:center;margin:12px auto;">
            <div style="width:98px;height:48px;margin:auto;overflow:visible;position:relative;z-index:1;">
                <img src="https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Flogo.png?alt=media&token=2e66c0e5-35ef-4f94-ad2b-356c78eeaaba" style="width:98px;height:98px;" />
            </div>
            <div style="padding:24px;padding-top:72px;max-width:500px;margin:auto;background:#fff;border-radius:8px;border: 1px solid #eee;box-sizing:border-box;">
                <div style="font-size:20px;color:#666;text-align:left;font-weight:bold;">
                    Hello admin!
                </div>
                <div style="margin-top:18px;font-size:16px;line-height:24px;color:#718297;text-align:left;">
                    <b>User Details</b><br>
                    Name: {{user_info_context.name}}<br>
                    User ID: {{user_info_context.user_id}}
                </div>
                {% if user_emails %}
                <div style="margin-top:18px;font-size:16px;line-height:24px;color:#718297;text-align:left;">
                    <b>User Email</b><br>
                    {% for user_email in user_emails_context %}
                    {{user_email}}<br>
                    {% endfor %}
                </div>
                {% endif %}
                <div style="margin-top:18px;font-size:16px;line-height:24px;color:#718297;text-align:left;">
                    <b>User Mobile</b><br>
                    {% for mobile in user_mobiles_context %}
                    {{mobile.country_code}} {{mobile.mobile_no}}<br>
                    {% endfor %}
                </div>
                <div style="margin-top:18px;font-size:16px;line-height:24px;color:#718297;text-align:left;">
                    <b>Feedback</b><br>
                    {{feedback.feedback}}
                </div>
                <div style="margin:18px 0;font-size:16px;line-height:24px;color:#000;font-weight:bold;text-align:left">
                    {% if images %}
                    <b>Images</b><br>
                    {% for i in images %}
                    <img src="{{i.image_url }}" alt="" style="width:500px;max-width:100%;">
                    {% endfor %}
                    {% endif %}

                </div>
                <div style="text-align:left;margin-top:20px;">
                    <div style="color:#718297;font-size:16px;">
                        Regards
                    </div>
                    <div style="color:#666;font-size:16px;line-height:24px;font-weight:bold;">
                        The LikeMinds Team
                    </div>
                </div>
            </div>
            <div style="margin:24px 0;">
                <div style="margin-bottom:8px;font-size:14px;color:#718297;line-height:22px;">Never miss any conversation. Get the LikeMinds App.</div>
                <a href="{{android_app_download_link}}" style="text-decoration:none;color:#000;display:inline-block;vertical-align:middle;padding:6px;box-sizing:border-box;">
                    <img alt="Play Store" src="https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Fgoogle_playstore.png?alt=media&token=8cbff2b1-ef49-4dcf-9fd4-6666855d9b71" style="height:48px;display:inline-block;vertical-align:middle;" />
                </a>
                <a href="{{ios_app_download_link}}" style="text-decoration:none;color:#000;display:inline-block;vertical-align:middle;padding:6px;box-sizing:border-box;">
                    <img alt="App Store" src="https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Fapple_store.png?alt=media&token=b1b62dfb-cde0-42c1-b801-5ed7fd0ca90b" style="height:48px;display:inline-block;vertical-align:middle;" />
                </a>
            </div>
            <div style="background:#d8d8d8;height:1px;width:280px;margin:auto;"></div>
            <div style="margin:24px 0;font-size:14px;color:#718297">
                <div style="margin-bottom:8px;">
                    <a href="https://likeminds.community/privacy" class="privacyLink" style="text-decoration:none;color:#718297;">
                        Privacy Policy
                    </a>  |
                    <a href="https://likeminds.community/terms" class="termsLink" style="text-decoration:none;color:#718297;">
                        Terms & Condition
                    </a>
                </div>
                <div style="margin-bottom:8px;">
                    <div>© 2020 Collabmates Pvt. Ltd.</div>
                    <div>All Rights Reserved.</div>
                </div>
                <div>Gurugram - India</div>
            </div>
            <div style="background:#d8d8d8;height:1px;width:280px;margin:auto;"></div>
            <div style="margin:24px 0;">
                <a href="{{angellist_link}}" style="padding-right:20px;text-decoration:none;">
                    <img alt="Angellist" src="https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Fangellist.png?alt=media&token=8953ca15-9523-4a47-b665-48fd4a5cd2b6" style="width:14px;height:20px;display:inline-block;vertical-align:middle;"/>
                </a>
                <a href="{{linkedIn_link}}">
                    <img alt="LinkedIn" src="https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Flinkedin.png?alt=media&token=e236c6b8-b8fa-4e15-8e76-99bde965749f" style="width:20px;height:20px;display:inline-block;vertical-align:middle;"/>
                </a>

            </div>
        </div>
    </body>
</html>