
<div style="padding:24px;padding-top:72px;max-width:500px;margin:auto;background:#fff;border-radius:8px;border: 1px solid #eee;box-sizing:border-box;">
                <div style="font-size:20px;color:#666;text-align:left;font-weight:bold;">
                    Hello team growth!
                </div>
                <div style="margin-top:18px;font-size:16px;line-height:24px;color:#718297;text-align:left;">
                    <b>{{member_name}}</b> just created a new community <b>{{community_name}}</b>.<br>
                    <b>User details</b><br>
                    Email: {{member_email}}<br>
                    Name: {{member_name}}
                </div>
                <div style="margin-top:18px;font-size:16px;line-height:24px;color:#718297;text-align:left;">
                    <b>Community Details</b><br>
                    Name:{{community_name}}
                    Link : <a href="{{url}}/community/{{community_id}}">{{url}}/community/{{community_id}}</a>
                </div>
                <div style="text-align:left;margin-top:20px;">
                    <div style="color:#718297;font-size:16px;">
                        Regards
                    </div>
                    <div style="color:#666;font-size:16px;line-height:24px;font-weight:bold;">
                        The LikeMinds Team
                    </div>
                </div>
            </div>
