<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- NAME: SIMPLE TEXT -->
    <!--[if gte mso 15]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{subject}}</title>
<style>
.background_display{
    background-color:#e6e6e6;
    }

@media only screen and (min-width: 992px) {

.web_display{

    padding-top:2px; padding-right:170px; padding-bottom:0px; padding-left:170px;

}

.TextHead{

font-size:14px;

}


.bottom_text{

font-size:14px;

}

.button_text{
font-size:12px;

}

.profile_image{


width:20px;
height:20px;

}

}


@media screen and (max-width: 600px){

.TextHead{

font-size:20px;

}

.profile_text{

font-size:20px;

}


.profile_image{

width:45px;
height:45px;
padding-rioght:20px;

}

.profile_heading{

font-size:16px;

}

.bottom_text{

font-size:20px;

}

.button_text{

font-size:20px;

}
}


</style>
</head>
<body>


<center>


                          <table border="0" cellpadding="0" cellspacing="0">
                          <tbody class="background_display" style="background-color:#e6e6e6">
                                            <tr>

                                                <td valign="center"
                                                    class="web_display" style="width:600px;">
<!-- header section -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"  width="100%"
                                                           >
                                                        <tr style="background-color:#f2f2f2">
                                                            <td style="padding-top:6px; padding-right:18px; padding-bottom:3px; padding-left:20px;">
                                                                <img src="https://collabmates.com/media/media/ic_launcher_round.png"
                                                                     style="width:50px;height:50px;border-radius:50%;"/>

                                                            <td class="profile_text" align="right" style="padding-top:4px;padding-bottom:3px; padding-left:400px;padding-right:5px;overflow:hidden; white-space:nowrap;text-align:right;">
                                                            {{promoter}}
                                                            </td>

                                                            <td class="profile_image" valign="center"
                                                                style="padding-top:6px; padding-right:20px; padding-bottom:3px;padding-left:20px;">
                                                                <img src="{{url}}{{promoter_image}}"
                                                                     style="border-radius: 60%;width:45px;height:45px;"/>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <!--conversation count -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                           style="max-width:100%; min-width:100%; background-color:white;"
                                                           width="100%" >
                                                        <tr>
                                                            <td style="background-color:#ffffff; padding-top:0px; padding-right:18px; padding-bottom:0px; padding-left:18px;text-align:center;"
                                                                class="TextHead"><h4 style="color:black;font-family: Arial;font-weight:500;">
                                                                1 pending member request in <b>{{community_name}}</b> community </h4>
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <!-- Profile Section -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                           style="max-width:100%; min-width:100%; background-color:white;margin-top:2px;"
                                                           width="100%" >
                                                        <tr>
                                                            <td style="padding-top:15px; padding-right:18px; padding-bottom:1px; padding-left:18px;text-align:center"
                                                                class="mcnTextContent">
                                                                {% if not pending_members.member_id.userinfo.image_link %}
                                                                <img src="{{url}}{{pending_members.member_id.userinfo.image_file.url}}"
                                                                     style="width:100px; border-radius: 50%;"/>
                                                                {% else %}
                                                                    <img src="{{url}}{{pending_members.member_id.userinfo.image_link}}"
                                                                     style="width:100px; border-radius: 50%;"/>
                                                                {% endif %}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="padding-top:0px; padding-right:18px; padding-bottom:0px; padding-left:14px;text-align:center"
                                                                class="profile_text">
                                                                <b>{{pending_members.member_id.userinfo.name}}</b>
                                                            </td>
                                                        </tr>
                                                        {% if pending_members.member_id.userinfo.headline != None %}
                                                        <tr>
                                                            <td style="padding-top:15px; padding-right:18px; padding-bottom:15px; padding-left:14px;text-align:center;font-size:13px;"
                                                                class="profile_heading">
                                                                {{pending_members.member_id.userinfo.headline}}
                                                            </td>
                                                        </tr>
                                                        {% else %}
                                                        <td style="padding-top:0px; padding-right:18px; padding-bottom:15px; padding-left:14px;text-align:center;font-size:13px;">

                                                        </td>
                                                        {% endif %}

                                                        <tr>
                                                            <td style="padding-top:0px; padding-right:18px; padding-bottom:15px; padding-left:14px;text-align:center">
                                                                <table border="0" cellpadding="0" cellspacing="0"
                                                                       width="100%"
                                                                       style="min-width:100%;">
                                                                    <tbody>
                                                                    <tr>
                                                                        <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;"
                                                                            valign="top" align="center">
                                                                            <table border="0" cellpadding="0"
                                                                                   cellspacing="0"
                                                                                   style="border-collapse: separate !important;border-radius: 0px;background-color: #075E54;">
                                                                                <tbody>
                                                                                <tr>
                                                                                    <td class="button_text" align="center" valign="middle"
                                                                                        style="font-family: Arial; padding: 10px;">
                                                                                        <a title="Respond to invitations"
                                                                                           href="{{url}}/pending_list/{{community_id}}"
                                                                                           target="_blank"
                                                                                           style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FFFFFF;">Respond to Request</a>
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>

                                                    </table>
                                                    <!--footer secion -->
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0"
                                                           style="max-width:100%; min-width:100%; " width="100%">

                                                        <tr style="background-color:#f2f2f2">
                                                            <td class="button_text" style="padding-top:5px;padding-left:18px;">
                                                                <a href="https://drive.google.com/open?id=1eUWNVpce3zU89dehcZ7phVG7S5SZDsGu">
                                                                    <img src="https://collabmates.com/media/playstore_icon.png"
                                                                         style="width:90px; height:30px;"/>
                                                                </a>

                                                            </td>


                                                            <td style="padding-top:20px; padding-bottom:20px;padding-left:20px;padding-right:20px;"
                                                                class="bottom_text">
                                                                <a href="https://drive.google.com/open?id=1eUWNVpce3zU89dehcZ7phVG7S5SZDsGu">
                                                                    Get early access to the CollabMates App by signing
                                                                    up for our alpha program
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </a>

                                                    </table>

                                                </td>

                                            </tr>
                                            </tbody>

                          </table>

</center>
</body>
</html>

