{% extends 'mails/base.html' %}
{% block extracss %}
<style>
strong{
    color:#00897b;
}
.row{
    display: flex;
}
</style>
{% endblock %}
{% block mail %}
<div class="username">Hi, {{member_name}}!</div>
<div class="row">
    <div class="text">
        <p>{{user_name}} tagged you in the chatroom titled <strong>{{card_name}}</strong> under the community named <strong>{{community_name}}</strong> yesterday. Click the link below to see what they said. 
        </p>
        <p class="cta-wrapper">
            <a href="{{cta_url}}" class="cta">Open chatroom</a>
        </p>

    </div>
    <div class="profile_pic">
        <img src="{{profile_pic}}" alt="">
    </div>
</div>
{% endblock %}