<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
    </head>
    <body style="margin:0;padding:0;">
        <div style="font-family:Roboto,Helvetica,Arial,sans-serif;background:#f9f9f9;margin:0;padding:12px;text-align:center;">
            <div style="width:98px;height:48px;margin:auto;overflow:visible;position:relative;z-index:1;">
                <img src="https://beta.likeminds.community/media/mail/logo_gradient_big.png" style="width:98px;height:98px;" />
            </div>
            <div style="padding:12px;padding-top:72px;max-width:500px;margin:auto;background:#fff;border-radius:8px;border: 1px solid #eee;box-sizing:border-box;">
                <div style="font-size:20px;color:#666;text-align:left;font-weight:bold;">
                    Hello {{user_name}}!
                </div>
                <div style="margin-top:18px;font-size:16px;line-height:24px;color:#718297;text-align:left;">
                    Thanks for registering a new email for your account on LikeMinds! You just need to confirm that this email belongs to you. Click below to verify your email address:
                </div>
                <a href="{{verification_link}}" style="background:#00897b;height:44px;line-height:44px;width:162px;border-radius:22px;font-size:13px;line-height:44px;letter-spacing:0.5px;font-weight:bold;color:#fff;margin:48px auto;display:block;text-decoration:none;outline:none;">
                    VERIFY EMAIL
                </a>
                <div style="text-align:left;">
                    <div style="color:#718297;font-size:16px;">
                        Regards
                    </div>
                    <div style="color:#666;font-size:16px;line-height:24px;font-weight:bold;">
                        The LikeMinds Team
                    </div>
                </div>
            </div>
            <div style="margin:24px 0;">
                <div style="margin-bottom:8px;font-size:14px;color:#718297;line-height:22px;">Never miss any conversation. Get the LikeMinds App.</div>
                <a href="{{android_app_download_link}}" style="text-decoration:none;color:#000;display:inline-block;vertical-align:middle;padding:6px;box-sizing:border-box;">
                    <img alt="Play Store" src="https://likeminds.community/media/playstore_icon.png" style="height:48px;display:inline-block;vertical-align:middle;" />
                </a>
                <a href="{{ios_app_download_link}}" style="text-decoration:none;color:#000;display:inline-block;vertical-align:middle;padding:6px;box-sizing:border-box;">
                    <img alt="App Store" src="https://likeminds.community/media/apple-store.png" style="height:48px;display:inline-block;vertical-align:middle;" />
                </a>
            </div>
            <div style="background:#d8d8d8;height:1px;width:280px;margin:auto;"></div>
            <div style="margin:24px 0;font-size:14px;color:#718297">
                <div style="margin-bottom:8px;">
                    <a href="https://likeminds.community/privacy" class="privacyLink" style="text-decoration:none;color:#718297;">
                        Privacy Policy
                    </a>  | 
                    <a href="https://likeminds.community/terms" class="termsLink" style="text-decoration:none;color:#718297;">
                        Terms & Condition
                    </a>
                </div>
                <div style="margin-bottom:8px;">
                    <div>© 2020 Collabmates Pvt. Ltd.</div>
                    <div>All Rights Reserved.</div>
                </div>
                <div>Gurugram - India</div>
            </div>
            <div style="background:#d8d8d8;height:1px;width:280px;margin:auto;"></div>
            <div style="margin:24px 0;">
                <img alt="twitter" src="https://likeminds.community/media/mail/twitter.png" style="width:24px;height:24px;display:inline-block;vertical-align:middle;" />
                <img alt="facebook" src="https://likeminds.community/media/mail/facebook.png" style="width:24px;height:24px;display:inline-block;vertical-align:middle;" />
            </div>
        </div>
    </body>
</html>