backports.csv
certifi
chardet
defusedxml
diff-match-patch

django-appconf
django-cors-headers
django-import-export
django-restframework-apiview
django-select2
djangorestframework
et-xmlfile
idna
jdcal
oauthlib
odfpy
openpyxl
Pillow
psycopg2
PyJWT
python-django-social
python3-openid
pytz
PyYAML
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
tablib
urllib3
xlrd
xlwt
pyfcm
django-crispy-forms
celery
python-dateutil
pyrebase4
beautifulsoup4
googlemaps
user-agents
ua-parser
django-redis
redis
django-celery-beat
python-dotenv==0.11.0