<style>

    .message {
        color: #000;
        line-height: 18px;
        font-size: 15px;
        padding: 2px;
        position: relative;
        word-wrap: break-word;
        max-width:500px;
    }

    .message:after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
    }

    .metadata {
        display: inline-block;
        position: relative;
        bottom: -4px;
        vertical-align: bottom;
    }
    .message.received {
        background: #fff;
        border-radius: 10px 10px 10px 0px;
    }


    .message.received:after {
        border-width: 10px 10px 0 0;
        border-color: transparent #fff transparent transparent;
        bottom: 0;
        left: -10px;
    }

    .message.sent {
        background: #e1fefb;
        border-radius: 10px 10px 0px 10px;
    }

    .message.sent:after {
        border-width: 10px 0 0 10px;
        border-color: transparent transparent transparent #e1fefb;
        bottom: 0;
        right: -10px;
    }

    .message.sent.noTri:after{
        content: none
    }

    .conversation-compose .emoji {
        border-radius: 5px 0 0 5px;
        margin-left: 8px;
        width: 48px;
    }

    .input-msg {
        border: 0;
        font-size: 16px;
        margin: 0;
        outline: none;
        min-width: 50px;
    }

    .conversation-compose .photo {
        border-radius: 0 0 5px 0;
        text-align: center;
        position: relative;
        width: 48px;
    }

    
    .send {
        border: 0;
        cursor: pointer;
        margin-left: 8px;
        margin-right: 8px;
        padding: 0;
        position: relative;
    }

    .send .circle {
        background: #008a7c;
        border-radius: 50%;
        color: #fff;
        position: relative;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mediaCon > img { 
        height: calc(100% - 150px)
    }

    .mediaCon {
        height: calc(100% - 172px);
        margin-bottom: 116px;
    }

    #allMedia img {
        margin-right: 8px
    }

    .imgHolder {
        width: calc(50% - 4px)
    }

    .imgHolder:nth-last-child(2):nth-child(odd) {
        width: calc(100% - 4px)
    }

    @media only screen and (max-width:640px) {
        .mxw360 {
            max-width: 100%;
        }
    }

    .imgSelected{
        border: 2px solid teal;
    }

    .message.noTri.sent {
        border-radius: 10px;
    }

    #scroll_state_0 .rotatePath{
        stroke: #fff;
    }

    div[data-date] ~ div[data-date] {
        display:none;
    }

    .photo > div {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .plusCon {
        height: 150px;
        position: absolute;
        right: 2px;
        bottom: 2px;
        border-radius: 10px;
        font-size: 36px;
        line-height: 150px;
        width: calc(50% - 4px);
    }

</style>
<div class="p12 bs pR bgd0d8e2 pt60" id="comments">

    <div id="scroll_state_0" class="bg06C3AF bgE br24 cF l0 mA p8 pA r0 t0 t12 taC w228">
            <div class="dIb vM ldrText">Load older chats</div>
            <div class="dIb h16 m04 vM w16 cF ldr dN"><svg viewBox="25 25 50 50" class="rotate"><circle class="rotatePath" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle></svg></div>
    </div>

    <div id="commentsCon">

        {% include 'components/chat_bubbles.html' with answers=answers current_user=current_user community=community %}
    </div>

    <div id="scroll_state_1" class="h24 mt16 pR taC">
            <div class="dIb h24 vM w24 cF ldr dN"><svg viewBox="25 25 50 50" class="rotate"><circle class="rotatePath" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10"></circle></svg></div>
        </div>
</div>

<form class="bs conversation-compose chatInput pF b60 l0 r0 z2" id="submit_commit">
    {% if user.is_authenticated %}
    <div id="attach" class="mxw960 mA p12 pb0 bs dN bgd0d8e2">
        <div class="bgF br10 bs p12 taC">
            <div class="dIb m16 vM">
                <div class="bgE brp50 dIb h48 vM w48" style="background:#eee url(https://firebasestorage.googleapis.com/v0/b/collabmates-beta.appspot.com/o/files%2Fmain_website%2Fgallery.png?alt=media&token=21371dca-1e32-40b5-bd6a-8fb0dbe6acd1);background-size: contain;">
                    <input multiple oninput="readURL(this);" data-type="image" type="file" class="h48 w48 o0 bd0 bg" accept="image/*">
                </div>
                <div class="c9b fs13 mt8">Image</div>
            </div>
            <!-- <div class="dIb m16 vM">
                <div class="bgE brp50 dIb h48 vM w48">
                    <input multiple oninput="readURL(this);" data-type="any" type="file" class="h48 w48 o0 bd0 bg" accept="*">
                </div>
                <div class="c9b fs13 mt8">Gallery</div>
            </div> -->
            <!-- <div class="dIb m16 vM">
                <div class="bgE brp50 dIb h48 vM w48">
                    <input multiple oninput="readURL(this);" data-type="video" type="file" class="h48 w48 o0 bd0 bg" accept="video/*">
                </div>
                <div class="c9b fs13 mt8">Video</div>
            </div> -->
            <div class="dIb m16 vM">
                <div class="bgE brp50 dIb h48 vM w48" style="background:#eee url(https://firebasestorage.googleapis.com/v0/b/collabmates-beta.appspot.com/o/files%2Fmain_website%2Fdocument.png?alt=media&token=9b472105-c50c-49d6-818c-59fa983a6cf4);background-size: contain;">
                    <input multiple oninput="readURL(this);" data-type="pdf" type="file" class="h48 w48 o0 bd0 bg" accept=".pdf"> <!-- ,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document -->
                </div>
                <div class="c9b fs13 mt8">Docs</div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="dT h60 wp100 p612 mxw960 mA bgd0d8e2" id="type_response">
        <div class="dTc vM">
            <div class="dT wp100 bgF br24 h48 oH">
                <!-- <div class="emoji dTc vM taC">
                    <div class="dIb h24 vM w24">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="smiley" x="3147" y="3209">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.153 11.603c.795 0 1.44-.88 1.44-1.962s-.645-1.96-1.44-1.96c-.795 0-1.44.88-1.44 1.96s.645 1.965 1.44 1.965zM5.95 12.965c-.027-.307-.132 5.218 6.062 5.55 6.066-.25 6.066-5.55 6.066-5.55-6.078 1.416-12.13 0-12.13 0zm11.362 1.108s-.67 1.96-5.05 1.96c-3.506 0-5.39-1.165-5.608-1.96 0 0 5.912 1.055 10.658 0zM11.804 1.01C5.61 1.01.978 6.034.978 12.23s4.826 10.76 11.02 10.76S23.02 18.424 23.02 12.23c0-6.197-5.02-11.22-11.216-11.22zM12 21.355c-5.273 0-9.38-3.886-9.38-9.16 0-5.272 3.94-9.547 9.214-9.547a9.548 9.548 0 0 1 9.548 9.548c0 5.272-4.11 9.16-9.382 9.16zm3.108-9.75c.795 0 1.44-.88 1.44-1.963s-.645-1.96-1.44-1.96c-.795 0-1.44.878-1.44 1.96s.645 1.963 1.44 1.963z" fill="#7d8489"></path>
                        </svg>
                    </div>
                </div> -->
                <textarea oninput="" class="input-msg dTc vM wp100 p16 h48" name="input" placeholder="Type a response" autocomplete="off" id="comment_inp"></textarea>
<!--                <textarea oninput="textareaInput(this, event)" class="input-msg dTc vM wp100 p16 h48" name="input" placeholder="Type a response" autocomplete="off" id="comment_inp"></textarea>-->
                <div class="photo dTc vM taC" onclick="$('#attach').toggleClass('dN');//$('html, body').animate({ scrollTop: $(document).height() }, 100);">
                    <div class="dIb h24 vM w24">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M16.5 6v11.5c0 2.21-1.79 4-4 4s-4-1.79-4-4V5c0-1.38 1.12-2.5 2.5-2.5s2.5 1.12 2.5 2.5v10.5c0 .55-.45 1-1 1s-1-.45-1-1V6H10v9.5c0 1.38 1.12 2.5 2.5 2.5s2.5-1.12 2.5-2.5V5c0-2.21-1.79-4-4-4S7 2.79 7 5v12.5c0 3.04 2.46 5.5 5.5 5.5s5.5-2.46 5.5-5.5V6h-1.5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="send dTc vM pl12 bs w48" onclick="create_new_message()">
            <div class="circle dIb vM">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="24" height="24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
            </div>
        </div>
    </div>
    <!-- <div class="dTc vM">
        <input class="h40 p1224 bs bgf2 br20 bd0 wp100 c9b" placeholder="Type your comment" id="comment_inp"/>
    </div> -->
</form>

<div class="pF t0 b0 l0 r0 z14 bg0 dN" id="uploadOverlay">
    <div class="ffR h56 l0 pA r0 t0 z11">
        <div class="dT wp100 h56 tlF">
            <div class="bs dTc h56 taC vM w56">
                <div class="w56 taC h24" onclick="$('#uploadOverlay').hide()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w24 h24 cF"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>
                </div>
            </div>
            <div class="dTc fs18 fwB vM cF">
                <div class="wsN oH toE fs12 o8">Posting in</div>
                <div class="wsN oH toE">{{ collabcard.member.name }}'s Chat Room</div>
            </div>
        </div>
        <div class="bs dTc h56 taC vM w56"></div>
    </div>
    <div class="mt56 taC dT wp100 mediaCon">
        <div class="dTc vM" id="media">

        </div>
    </div>
    <div class="pA b0 l0 r0">
        <form id="submit_media">
            <div class="dT h60 wp100 p12 mxw960 mA">
                <div class="dTc vM">
                    <div class="dT wp100 bgF br24 h48 oH">
                        <!-- <div class="emoji dTc vM taC">
                            <div class="dIb h24 vM w24">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" id="smiley" x="3147" y="3209">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.153 11.603c.795 0 1.44-.88 1.44-1.962s-.645-1.96-1.44-1.96c-.795 0-1.44.88-1.44 1.96s.645 1.965 1.44 1.965zM5.95 12.965c-.027-.307-.132 5.218 6.062 5.55 6.066-.25 6.066-5.55 6.066-5.55-6.078 1.416-12.13 0-12.13 0zm11.362 1.108s-.67 1.96-5.05 1.96c-3.506 0-5.39-1.165-5.608-1.96 0 0 5.912 1.055 10.658 0zM11.804 1.01C5.61 1.01.978 6.034.978 12.23s4.826 10.76 11.02 10.76S23.02 18.424 23.02 12.23c0-6.197-5.02-11.22-11.216-11.22zM12 21.355c-5.273 0-9.38-3.886-9.38-9.16 0-5.272 3.94-9.547 9.214-9.547a9.548 9.548 0 0 1 9.548 9.548c0 5.272-4.11 9.16-9.382 9.16zm3.108-9.75c.795 0 1.44-.88 1.44-1.963s-.645-1.96-1.44-1.96c-.795 0-1.44.878-1.44 1.96s.645 1.963 1.44 1.963z" fill="#7d8489"></path>
                                </svg>
                            </div>
                        </div> -->
                        <textarea oninput="textareaInput(this, event)" id="mediaComment" class="dTc vM wp100 h48 input-msg p16 48" name="input" placeholder="Type a response" autocomplete="off" id="comment_inp"></textarea>
                        <div class="photo dTc vM taC" onclick="$('#attach').toggleClass('dN');//$('html, body').animate({ scrollTop: $(document).height() }, 100);">
                            <div class="dIb h24 vM w24">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="send dTc vM pl12 bs w48" onclick="create_new_media()">
                    <div class="circle dIb vM">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="24" height="24"><path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                    </div>
                </div>
            </div>
            <div id="filesType" class="dN"></div>

            <div id="allMedia" class="h56 mA mxw960"></div>
        </form>
    </div>
</div>

<div class="b0 bg0 l0 pF r0 t0 z14 dN oA" id="viewOverlayAll">
    <div class="ffR h56 l0 pF r0 t0 z11 bg0o05">
        <div class="dT wp100 h56 tlF">
            <div class="bs dTc h56 taC vM w56">
                <div class="w56 taC h24" onclick="$('#viewOverlayAll').hide()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w24 h24 cF"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>
                </div>
            </div>
            <div class="dTc fs18 fwB vM cF">
                <div class="wsN oH toE fs12 o8">Viewing in</div>
                <div class="wsN oH toE">{{ collabcard.member.name }}'s Chat Room</div>
            </div>
        </div>
        <div class="bs dTc h56 taC vM w56"></div>
    </div>
    <div class="media mt56 taC p8 ba"></div>
</div>

<div class="b0 bg0 l0 pF r0 t0 z14 dN oA" id="viewOverlay">
    <div class="ffR h56 l0 pF r0 t0 z11 bg0o05">
        <div class="dT wp100 h56 tlF">
            <div class="bs dTc h56 taC vM w56">
                <div class="w56 taC h24" onclick="$('#viewOverlay').hide()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w24 h24 cF"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>
                </div>
            </div>
            <div class="dTc fs18 fwB vM cF">
                <div class="wsN oH toE fs12 o8">Viewing in</div>
                <div class="wsN oH toE">{{ collabcard.member.name }}'s Chat Room</div>
            </div>
        </div>
        <div class="bs dTc h56 taC vM w56"></div>
    </div>
    <div class="media mt56 taC p8 bs"></div>
</div>


{% include 'scripts/chat.html' with request=request collabcard=collabcard current_user=current_user user=user community=community %}


