
<div class="item p16 bs taR" data-value="in|91">
    <span class="fL fs14"><i class="in flag"></i>91</span> India
</div>

<div class="item p16 bs taR" data-value="us|1">
    <span class="fL fs14"><i class="us flag"></i>1</span> United States
</div>

<div class="item p16 bs taR" data-value="sg|65">
    <span class="fL fs14"><i class="sg flag"></i>65</span> Singapore
</div>

<div class="item p16 bs taR" data-value="my|60">
    <span class="fL fs14"><i class="my flag"></i>60</span> Malaysia
</div>

<div class="item p16 bs taR" data-value="th|66">
    <span class="fL fs14"><i class="th flag"></i>66</span> Thailand
</div>

<div class="item p16 bs taR" data-value="gb|44">
    <span class="fL fs14"><i class="gb flag"></i>44</span> England
</div>

<div class="bgBg bgE p8">Other countries</div>

<div class="item p16 bs taR" data-value="af|93">
    <span class="fL fs14"><i class="af flag"></i>93</span> Afghanistan
</div>

<div class="item p16 bs taR" data-value="ax|358">
    <span class="fL fs14"><i class="ax flag"></i>358</span> Aland Islands
</div>

<div class="item p16 bs taR" data-value="al|355">
    <span class="fL fs14"><i class="al flag"></i>355</span> Albania
</div>

<div class="item p16 bs taR" data-value="dz|213">
    <span class="fL fs14"><i class="dz flag"></i>213</span> Algeria
</div>

<div class="item p16 bs taR" data-value="as|684">
    <span class="fL fs14"><i class="as flag"></i>684</span> American Samoa
</div>

<div class="item p16 bs taR" data-value="ad|376">
    <span class="fL fs14"><i class="ad flag"></i>376</span> Andorra
</div>

<div class="item p16 bs taR" data-value="ao|244">
    <span class="fL fs14"><i class="ao flag"></i>244</span> Angola
</div>

<div class="item p16 bs taR" data-value="ai|1264">
    <span class="fL fs14"><i class="ai flag"></i>1264</span> Anguilla
</div>

<div class="item p16 bs taR" data-value="ag|1268">
    <span class="fL fs14"><i class="ag flag"></i>1268</span> Antigua
</div>

<div class="item p16 bs taR" data-value="ar|54">
    <span class="fL fs14"><i class="ar flag"></i>54</span> Argentina
</div>

<div class="item p16 bs taR" data-value="am|374">
    <span class="fL fs14"><i class="am flag"></i>374</span> Armenia
</div>

<div class="item p16 bs taR" data-value="aw|297">
    <span class="fL fs14"><i class="aw flag"></i>297</span> Aruba
</div>

<div class="item p16 bs taR" data-value="au|61">
    <span class="fL fs14"><i class="au flag"></i>61</span> Australia
</div>

<div class="item p16 bs taR" data-value="at|43">
    <span class="fL fs14"><i class="at flag"></i>43</span> Austria
</div>

<div class="item p16 bs taR" data-value="az|994">
    <span class="fL fs14"><i class="az flag"></i>994</span> Azerbaijan
</div>

<div class="item p16 bs taR" data-value="bs|1242">
    <span class="fL fs14"><i class="bs flag"></i>1242</span> Bahamas
</div>

<div class="item p16 bs taR" data-value="bh|973">
    <span class="fL fs14"><i class="bh flag"></i>973</span> Bahrain
</div>

<div class="item p16 bs taR" data-value="bd|880">
    <span class="fL fs14"><i class="bd flag"></i>880</span> Bangladesh
</div>

<div class="item p16 bs taR" data-value="bb|1246">
    <span class="fL fs14"><i class="bb flag"></i>1246</span> Barbados
</div>

<div class="item p16 bs taR" data-value="by|375">
    <span class="fL fs14"><i class="by flag"></i>375</span> Belarus
</div>

<div class="item p16 bs taR" data-value="be|32">
    <span class="fL fs14"><i class="be flag"></i>32</span> Belgium
</div>

<div class="item p16 bs taR" data-value="bz|501">
    <span class="fL fs14"><i class="bz flag"></i>501</span> Belize
</div>

<div class="item p16 bs taR" data-value="bj|229">
    <span class="fL fs14"><i class="bj flag"></i>229</span> Benin
</div>

<div class="item p16 bs taR" data-value="bm|1441">
    <span class="fL fs14"><i class="bm flag"></i>1441</span> Bermuda
</div>

<div class="item p16 bs taR" data-value="bt|975">
    <span class="fL fs14"><i class="bt flag"></i>975</span> Bhutan
</div>

<div class="item p16 bs taR" data-value="bo|591">
    <span class="fL fs14"><i class="bo flag"></i>591</span> Bolivia
</div>

<div class="item p16 bs taR" data-value="ba|387">
    <span class="fL fs14"><i class="ba flag"></i>387</span> Bosnia
</div>

<div class="item p16 bs taR" data-value="bw|267">
    <span class="fL fs14"><i class="bw flag"></i>267</span> Botswana
</div>

<div class="item p16 bs taR" data-value="bv|47">
    <span class="fL fs14"><i class="bv flag"></i>47</span> Bouvet Island
</div>

<div class="item p16 bs taR" data-value="br|55">
    <span class="fL fs14"><i class="br flag"></i>55</span> Brazil
</div>

<div class="item p16 bs taR" data-value="vg|84">
    <span class="fL fs14"><i class="vg flag"></i>84</span> British Virgin Islands
</div>

<div class="item p16 bs taR" data-value="bn|673">
    <span class="fL fs14"><i class="bn flag"></i>673</span> Brunei
</div>

<div class="item p16 bs taR" data-value="bg|359">
    <span class="fL fs14"><i class="bg flag"></i>359</span> Bulgaria
</div>

<div class="item p16 bs taR" data-value="bf|226">
    <span class="fL fs14"><i class="bf flag"></i>226</span> Burkina Faso
</div>

<div class="item p16 bs taR" data-value="mm|95">
    <span class="fL fs14"><i class="mm flag"></i>95</span> Myanmar (Burma)
</div>

<div class="item p16 bs taR" data-value="bi|257">
    <span class="fL fs14"><i class="bi flag"></i>257</span> Burundi
</div>

<div class="item p16 bs taR" data-value="tc|1649">
    <span class="fL fs14"><i class="tc flag"></i>1649</span> Caicos Islands
</div>

<div class="item p16 bs taR" data-value="kh|855">
    <span class="fL fs14"><i class="kh flag"></i>855</span> Cambodia
</div>

<div class="item p16 bs taR" data-value="cm|237">
    <span class="fL fs14"><i class="cm flag"></i>237</span> Cameroon
</div>

<div class="item p16 bs taR" data-value="ca|1">
    <span class="fL fs14"><i class="ca flag"></i>1</span> Canada
</div>

<div class="item p16 bs taR" data-value="cv|238">
    <span class="fL fs14"><i class="cv flag"></i>238</span> Cape Verde
</div>

<div class="item p16 bs taR" data-value="ky|1345">
    <span class="fL fs14"><i class="ky flag"></i>1345</span> Cayman Islands
</div>

<div class="item p16 bs taR" data-value="cf|236">
    <span class="fL fs14"><i class="cf flag"></i>236</span> Central African Republic
</div>

<div class="item p16 bs taR" data-value="td|235">
    <span class="fL fs14"><i class="td flag"></i>235</span> Chad
</div>

<div class="item p16 bs taR" data-value="cl|56">
    <span class="fL fs14"><i class="cl flag"></i>56</span> Chile
</div>

<div class="item p16 bs taR" data-value="cn|86">
    <span class="fL fs14"><i class="cn flag"></i>86</span> China
</div>

<div class="item p16 bs taR" data-value="cx|61">
    <span class="fL fs14"><i class="cx flag"></i>61</span> Christmas Island
</div>

<div class="item p16 bs taR" data-value="cc|61">
    <span class="fL fs14"><i class="cc flag"></i>61</span> Cocos Islands
</div>

<div class="item p16 bs taR" data-value="co|57">
    <span class="fL fs14"><i class="co flag"></i>57</span> Colombia
</div>

<div class="item p16 bs taR" data-value="km|269">
    <span class="fL fs14"><i class="km flag"></i>269</span> Comoros
</div>

<div class="item p16 bs taR" data-value="cg|242">
    <span class="fL fs14"><i class="cg flag"></i>242</span> Congo Brazzaville
</div>

<div class="item p16 bs taR" data-value="cd|242">
    <span class="fL fs14"><i class="cd flag"></i>242</span> Congo
</div>

<div class="item p16 bs taR" data-value="ck|682">
    <span class="fL fs14"><i class="ck flag"></i>682</span> Cook Islands
</div>

<div class="item p16 bs taR" data-value="cr|506">
    <span class="fL fs14"><i class="cr flag"></i>506</span> Costa Rica
</div>

<div class="item p16 bs taR" data-value="ci|225">
    <span class="fL fs14"><i class="ci flag"></i>225</span> Cote Divoire
</div>

<div class="item p16 bs taR" data-value="hr|385">
    <span class="fL fs14"><i class="hr flag"></i>385</span> Croatia
</div>

<div class="item p16 bs taR" data-value="cu|53">
    <span class="fL fs14"><i class="cu flag"></i>53</span> Cuba
</div>

<div class="item p16 bs taR" data-value="cy|357">
    <span class="fL fs14"><i class="cy flag"></i>357</span> Cyprus
</div>

<div class="item p16 bs taR" data-value="cz|42">
    <span class="fL fs14"><i class="cz flag"></i>42</span> Czech Republic
</div>

<div class="item p16 bs taR" data-value="dk|45">
    <span class="fL fs14"><i class="dk flag"></i>45</span> Denmark
</div>

<div class="item p16 bs taR" data-value="dj|253">
    <span class="fL fs14"><i class="dj flag"></i>253</span> Djibouti
</div>

<div class="item p16 bs taR" data-value="dm|1809">
    <span class="fL fs14"><i class="dm flag"></i>1809</span> Dominica
</div>

<div class="item p16 bs taR" data-value="do|1809">
    <span class="fL fs14"><i class="do flag"></i>1809</span> Dominican Republic
</div>

<div class="item p16 bs taR" data-value="ec|593">
    <span class="fL fs14"><i class="ec flag"></i>593</span> Ecuador
</div>

<div class="item p16 bs taR" data-value="eg|20">
    <span class="fL fs14"><i class="eg flag"></i>20</span> Egypt
</div>

<div class="item p16 bs taR" data-value="sv|503">
    <span class="fL fs14"><i class="sv flag"></i>503</span> El Salvador
</div>

<div class="item p16 bs taR" data-value="gq|240">
    <span class="fL fs14"><i class="gq flag"></i>240</span> Equatorial Guinea
</div>

<div class="item p16 bs taR" data-value="er|291">
    <span class="fL fs14"><i class="er flag"></i>291</span> Eritrea
</div>

<div class="item p16 bs taR" data-value="ee|372">
    <span class="fL fs14"><i class="ee flag"></i>372</span> Estonia
</div>

<div class="item p16 bs taR" data-value="et|251">
    <span class="fL fs14"><i class="et flag"></i>251</span> Ethiopia
</div>

<div class="item p16 bs taR" data-value="fk|500">
    <span class="fL fs14"><i class="fk flag"></i>500</span> Falkland Islands
</div>

<div class="item p16 bs taR" data-value="fo|298">
    <span class="fL fs14"><i class="fo flag"></i>298</span> Faroe Islands
</div>

<div class="item p16 bs taR" data-value="fj|679">
    <span class="fL fs14"><i class="fj flag"></i>679</span> Fiji
</div>

<div class="item p16 bs taR" data-value="fi|358">
    <span class="fL fs14"><i class="fi flag"></i>358</span> Finland
</div>

<div class="item p16 bs taR" data-value="fr|33">
    <span class="fL fs14"><i class="fr flag"></i>33</span> France
</div>

<div class="item p16 bs taR" data-value="gf|594">
    <span class="fL fs14"><i class="gf flag"></i>594</span> French Guiana
</div>

<div class="item p16 bs taR" data-value="pf|689">
    <span class="fL fs14"><i class="pf flag"></i>689</span> French Polynesia
</div>

<div class="item p16 bs taR" data-value="ga|241">
    <span class="fL fs14"><i class="ga flag"></i>241</span> Gabon
</div>

<div class="item p16 bs taR" data-value="gm|220">
    <span class="fL fs14"><i class="gm flag"></i>220</span> Gambia
</div>

<div class="item p16 bs taR" data-value="ge|7880">
    <span class="fL fs14"><i class="ge flag"></i>7880</span> Georgia
</div>

<div class="item p16 bs taR" data-value="de|49">
    <span class="fL fs14"><i class="de flag"></i>49</span> Germany
</div>

<div class="item p16 bs taR" data-value="gh|233">
    <span class="fL fs14"><i class="gh flag"></i>233</span> Ghana
</div>

<div class="item p16 bs taR" data-value="gi|350">
    <span class="fL fs14"><i class="gi flag"></i>350</span> Gibraltar
</div>

<div class="item p16 bs taR" data-value="gr|30">
    <span class="fL fs14"><i class="gr flag"></i>30</span> Greece
</div>

<div class="item p16 bs taR" data-value="gl|299">
    <span class="fL fs14"><i class="gl flag"></i>299</span> Greenland
</div>

<div class="item p16 bs taR" data-value="gd|1473">
    <span class="fL fs14"><i class="gd flag"></i>1473</span> Grenada
</div>

<div class="item p16 bs taR" data-value="gp|590">
    <span class="fL fs14"><i class="gp flag"></i>590</span> Guadeloupe
</div>

<div class="item p16 bs taR" data-value="gu|671">
    <span class="fL fs14"><i class="gu flag"></i>671</span> Guam
</div>

<div class="item p16 bs taR" data-value="gt|502">
    <span class="fL fs14"><i class="gt flag"></i>502</span> Guatemala
</div>

<div class="item p16 bs taR" data-value="gw|245">
    <span class="fL fs14"><i class="gw flag"></i>245</span> Guinea-Bissau
</div>

<div class="item p16 bs taR" data-value="gn|224">
    <span class="fL fs14"><i class="gn flag"></i>224</span> Guinea
</div>

<div class="item p16 bs taR" data-value="gy|592">
    <span class="fL fs14"><i class="gy flag"></i>592</span> Guyana
</div>

<div class="item p16 bs taR" data-value="ht|509">
    <span class="fL fs14"><i class="ht flag"></i>509</span> Haiti
</div>

<div class="item p16 bs taR" data-value="hm|672">
    <span class="fL fs14"><i class="hm flag"></i>672</span> Heard Island
</div>

<div class="item p16 bs taR" data-value="hn|504">
    <span class="fL fs14"><i class="hn flag"></i>504</span> Honduras
</div>

<div class="item p16 bs taR" data-value="hk|852">
    <span class="fL fs14"><i class="hk flag"></i>852</span> Hong Kong
</div>

<div class="item p16 bs taR" data-value="hu|36">
    <span class="fL fs14"><i class="hu flag"></i>36</span> Hungary
</div>

<div class="item p16 bs taR" data-value="is|354">
    <span class="fL fs14"><i class="is flag"></i>354</span> Iceland
</div>

<div class="item p16 bs taR" data-value="io|246">
    <span class="fL fs14"><i class="io flag"></i>246</span> Indian Ocean Territory
</div>

<div class="item p16 bs taR" data-value="id|62">
    <span class="fL fs14"><i class="id flag"></i>62</span> Indonesia
</div>

<div class="item p16 bs taR" data-value="ir|98">
    <span class="fL fs14"><i class="ir flag"></i>98</span> Iran
</div>

<div class="item p16 bs taR" data-value="iq|964">
    <span class="fL fs14"><i class="iq flag"></i>964</span> Iraq
</div>

<div class="item p16 bs taR" data-value="ie|353">
    <span class="fL fs14"><i class="ie flag"></i>353</span> Ireland
</div>

<div class="item p16 bs taR" data-value="il|972">
    <span class="fL fs14"><i class="il flag"></i>972</span> Israel
</div>

<div class="item p16 bs taR" data-value="it|39">
    <span class="fL fs14"><i class="it flag"></i>39</span> Italy
</div>

<div class="item p16 bs taR" data-value="jm|1876">
    <span class="fL fs14"><i class="jm flag"></i>1876</span> Jamaica
</div>

<div class="item p16 bs taR" data-value="jp|81">
    <span class="fL fs14"><i class="jp flag"></i>81</span> Japan
</div>

<div class="item p16 bs taR" data-value="jo|962">
    <span class="fL fs14"><i class="jo flag"></i>962</span> Jordan
</div>

<div class="item p16 bs taR" data-value="kz|7">
    <span class="fL fs14"><i class="kz flag"></i>7</span> Kazakhstan
</div>

<div class="item p16 bs taR" data-value="ke|254">
    <span class="fL fs14"><i class="ke flag"></i>254</span> Kenya
</div>

<div class="item p16 bs taR" data-value="ki|686">
    <span class="fL fs14"><i class="ki flag"></i>686</span> Kiribati
</div>

<div class="item p16 bs taR" data-value="kw|965">
    <span class="fL fs14"><i class="kw flag"></i>965</span> Kuwait
</div>

<div class="item p16 bs taR" data-value="kg|996">
    <span class="fL fs14"><i class="kg flag"></i>996</span> Kyrgyzstan
</div>

<div class="item p16 bs taR" data-value="la|856">
    <span class="fL fs14"><i class="la flag"></i>856</span> Laos
</div>

<div class="item p16 bs taR" data-value="lv|371">
    <span class="fL fs14"><i class="lv flag"></i>371</span> Latvia
</div>

<div class="item p16 bs taR" data-value="lb|961">
    <span class="fL fs14"><i class="lb flag"></i>961</span> Lebanon
</div>

<div class="item p16 bs taR" data-value="ls|266">
    <span class="fL fs14"><i class="ls flag"></i>266</span> Lesotho
</div>

<div class="item p16 bs taR" data-value="lr|231">
    <span class="fL fs14"><i class="lr flag"></i>231</span> Liberia
</div>

<div class="item p16 bs taR" data-value="ly|218">
    <span class="fL fs14"><i class="ly flag"></i>218</span> Libya
</div>

<div class="item p16 bs taR" data-value="li|417">
    <span class="fL fs14"><i class="li flag"></i>417</span> Liechtenstein
</div>

<div class="item p16 bs taR" data-value="lt|370">
    <span class="fL fs14"><i class="lt flag"></i>370</span> Lithuania
</div>

<div class="item p16 bs taR" data-value="lu|352">
    <span class="fL fs14"><i class="lu flag"></i>352</span> Luxembourg
</div>

<div class="item p16 bs taR" data-value="mo|853">
    <span class="fL fs14"><i class="mo flag"></i>853</span> Macau
</div>

<div class="item p16 bs taR" data-value="mk|389">
    <span class="fL fs14"><i class="mk flag"></i>389</span> Macedonia
</div>

<div class="item p16 bs taR" data-value="mg|261">
    <span class="fL fs14"><i class="mg flag"></i>261</span> Madagascar
</div>

<div class="item p16 bs taR" data-value="mw|265">
    <span class="fL fs14"><i class="mw flag"></i>265</span> Malawi
</div>

<div class="item p16 bs taR" data-value="mv|960">
    <span class="fL fs14"><i class="mv flag"></i>960</span> Maldives
</div>

<div class="item p16 bs taR" data-value="ml|223">
    <span class="fL fs14"><i class="ml flag"></i>223</span> Mali
</div>

<div class="item p16 bs taR" data-value="mt|356">
    <span class="fL fs14"><i class="mt flag"></i>356</span> Malta
</div>

<div class="item p16 bs taR" data-value="mh|692">
    <span class="fL fs14"><i class="mh flag"></i>692</span> Marshall Islands
</div>

<div class="item p16 bs taR" data-value="mq|596">
    <span class="fL fs14"><i class="mq flag"></i>596</span> Martinique
</div>

<div class="item p16 bs taR" data-value="mr|222">
    <span class="fL fs14"><i class="mr flag"></i>222</span> Mauritania
</div>

<div class="item p16 bs taR" data-value="mu|230">
    <span class="fL fs14"><i class="mu flag"></i>230</span> Mauritius
</div>

<div class="item p16 bs taR" data-value="yt|269">
    <span class="fL fs14"><i class="yt flag"></i>269</span> Mayotte
</div>

<div class="item p16 bs taR" data-value="mx|52">
    <span class="fL fs14"><i class="mx flag"></i>52</span> Mexico
</div>

<div class="item p16 bs taR" data-value="fm|691">
    <span class="fL fs14"><i class="fm flag"></i>691</span> Micronesia
</div>

<div class="item p16 bs taR" data-value="md|373">
    <span class="fL fs14"><i class="md flag"></i>373</span> Moldova
</div>

<div class="item p16 bs taR" data-value="mc|377">
    <span class="fL fs14"><i class="mc flag"></i>377</span> Monaco
</div>

<div class="item p16 bs taR" data-value="mn|95">
    <span class="fL fs14"><i class="mn flag"></i>95</span> Mongolia
</div>

<div class="item p16 bs taR" data-value="me|382">
    <span class="fL fs14"><i class="me flag"></i>382</span> Montenegro
</div>

<div class="item p16 bs taR" data-value="ms|1664">
    <span class="fL fs14"><i class="ms flag"></i>1664</span> Montserrat
</div>

<div class="item p16 bs taR" data-value="ma|212">
    <span class="fL fs14"><i class="ma flag"></i>212</span> Morocco
</div>

<div class="item p16 bs taR" data-value="mz|258">
    <span class="fL fs14"><i class="mz flag"></i>258</span> Mozambique
</div>

<div class="item p16 bs taR" data-value="na|264">
    <span class="fL fs14"><i class="na flag"></i>264</span> Namibia
</div>

<div class="item p16 bs taR" data-value="nr|674">
    <span class="fL fs14"><i class="nr flag"></i>674</span> Nauru
</div>

<div class="item p16 bs taR" data-value="np|670">
    <span class="fL fs14"><i class="np flag"></i>670</span> Nepal
</div>

<div class="item p16 bs taR" data-value="an|599">
    <span class="fL fs14"><i class="an flag"></i>599</span> Netherlands Antilles
</div>

<div class="item p16 bs taR" data-value="nl|31">
    <span class="fL fs14"><i class="nl flag"></i>31</span> Netherlands
</div>

<div class="item p16 bs taR" data-value="nc|687">
    <span class="fL fs14"><i class="nc flag"></i>687</span> New Caledonia
</div>

<div class="item p16 bs taR" data-value="pg|675">
    <span class="fL fs14"><i class="pg flag"></i>675</span> New Guinea
</div>

<div class="item p16 bs taR" data-value="nz|64">
    <span class="fL fs14"><i class="nz flag"></i>64</span> New Zealand
</div>

<div class="item p16 bs taR" data-value="ni|505">
    <span class="fL fs14"><i class="ni flag"></i>505</span> Nicaragua
</div>

<div class="item p16 bs taR" data-value="ne|227">
    <span class="fL fs14"><i class="ne flag"></i>227</span> Niger
</div>

<div class="item p16 bs taR" data-value="ng|234">
    <span class="fL fs14"><i class="ng flag"></i>234</span> Nigeria
</div>

<div class="item p16 bs taR" data-value="nu|683">
    <span class="fL fs14"><i class="nu flag"></i>683</span> Niue
</div>

<div class="item p16 bs taR" data-value="nf|672">
    <span class="fL fs14"><i class="nf flag"></i>672</span> Norfolk Island
</div>

<div class="item p16 bs taR" data-value="kp|850">
    <span class="fL fs14"><i class="kp flag"></i>850</span> North Korea
</div>

<div class="item p16 bs taR" data-value="mp|1">
    <span class="fL fs14"><i class="mp flag"></i>1</span> Northern Mariana Islands
</div>

<div class="item p16 bs taR" data-value="no|47">
    <span class="fL fs14"><i class="no flag"></i>47</span> Norway
</div>

<div class="item p16 bs taR" data-value="om|968">
    <span class="fL fs14"><i class="om flag"></i>968</span> Oman
</div>

<div class="item p16 bs taR" data-value="pk|92">
    <span class="fL fs14"><i class="pk flag"></i>92</span> Pakistan
</div>

<div class="item p16 bs taR" data-value="pw|680">
    <span class="fL fs14"><i class="pw flag"></i>680</span> Palau
</div>

<div class="item p16 bs taR" data-value="ps|970">
    <span class="fL fs14"><i class="ps flag"></i>970</span> Palestine
</div>

<div class="item p16 bs taR" data-value="pa|507">
    <span class="fL fs14"><i class="pa flag"></i>507</span> Panama
</div>

<div class="item p16 bs taR" data-value="py|595">
    <span class="fL fs14"><i class="py flag"></i>595</span> Paraguay
</div>

<div class="item p16 bs taR" data-value="pe|51">
    <span class="fL fs14"><i class="pe flag"></i>51</span> Peru
</div>

<div class="item p16 bs taR" data-value="ph|63">
    <span class="fL fs14"><i class="ph flag"></i>63</span> Philippines
</div>

<div class="item p16 bs taR" data-value="pn|64">
    <span class="fL fs14"><i class="pn flag"></i>64</span> Pitcairn Islands
</div>

<div class="item p16 bs taR" data-value="pl|48">
    <span class="fL fs14"><i class="pl flag"></i>48</span> Poland
</div>

<div class="item p16 bs taR" data-value="pt|351">
    <span class="fL fs14"><i class="pt flag"></i>351</span> Portugal
</div>

<div class="item p16 bs taR" data-value="pr|1787">
    <span class="fL fs14"><i class="pr flag"></i>1787</span> Puerto Rico
</div>

<div class="item p16 bs taR" data-value="qa|974">
    <span class="fL fs14"><i class="qa flag"></i>974</span> Qatar
</div>

<div class="item p16 bs taR" data-value="re|262">
    <span class="fL fs14"><i class="re flag"></i>262</span> Reunion
</div>

<div class="item p16 bs taR" data-value="ro|40">
    <span class="fL fs14"><i class="ro flag"></i>40</span> Romania
</div>

<div class="item p16 bs taR" data-value="ru|7">
    <span class="fL fs14"><i class="ru flag"></i>7</span> Russia
</div>

<div class="item p16 bs taR" data-value="rw|250">
    <span class="fL fs14"><i class="rw flag"></i>250</span> Rwanda
</div>

<div class="item p16 bs taR" data-value="sh|290">
    <span class="fL fs14"><i class="sh flag"></i>290</span> Saint Helena
</div>

<div class="item p16 bs taR" data-value="kn|1869">
    <span class="fL fs14"><i class="kn flag"></i>1869</span> Saint Kitts and Nevis
</div>

<div class="item p16 bs taR" data-value="lc|1758">
    <span class="fL fs14"><i class="lc flag"></i>1758</span> Saint Lucia
</div>

<div class="item p16 bs taR" data-value="pm|508">
    <span class="fL fs14"><i class="pm flag"></i>508</span> Saint Pierre
</div>

<div class="item p16 bs taR" data-value="vc|1784">
    <span class="fL fs14"><i class="vc flag"></i>1784</span> Saint Vincent
</div>

<div class="item p16 bs taR" data-value="ws|685">
    <span class="fL fs14"><i class="ws flag"></i>685</span> Samoa
</div>

<div class="item p16 bs taR" data-value="sm|378">
    <span class="fL fs14"><i class="sm flag"></i>378</span> San Marino
</div>

<div class="item p16 bs taR" data-value="gs|500">
    <span class="fL fs14"><i class="gs flag"></i>500</span> Sandwich Islands
</div>

<div class="item p16 bs taR" data-value="st|239">
    <span class="fL fs14"><i class="st flag"></i>239</span> Sao Tome
</div>

<div class="item p16 bs taR" data-value="sa|966">
    <span class="fL fs14"><i class="sa flag"></i>966</span> Saudi Arabia
</div>

<div class="item p16 bs taR" data-value="sn|221">
    <span class="fL fs14"><i class="sn flag"></i>221</span> Senegal
</div>

<div class="item p16 bs taR" data-value="cs|381">
    <span class="fL fs14"><i class="cs flag"></i>381</span> Serbia
</div>

<div class="item p16 bs taR" data-value="rs|381">
    <span class="fL fs14"><i class="rs flag"></i>381</span> Serbia
</div>

<div class="item p16 bs taR" data-value="sc|1758">
    <span class="fL fs14"><i class="sc flag"></i>1758</span> Seychelles
</div>

<div class="item p16 bs taR" data-value="sl|232">
    <span class="fL fs14"><i class="sl flag"></i>232</span> Sierra Leone
</div>

<div class="item p16 bs taR" data-value="sk|421">
    <span class="fL fs14"><i class="sk flag"></i>421</span> Slovakia
</div>

<div class="item p16 bs taR" data-value="si|963">
    <span class="fL fs14"><i class="si flag"></i>963</span> Slovenia
</div>

<div class="item p16 bs taR" data-value="sb|677">
    <span class="fL fs14"><i class="sb flag"></i>677</span> Solomon Islands
</div>

<div class="item p16 bs taR" data-value="so|252">
    <span class="fL fs14"><i class="so flag"></i>252</span> Somalia
</div>

<div class="item p16 bs taR" data-value="za|27">
    <span class="fL fs14"><i class="za flag"></i>27</span> South Africa
</div>

<div class="item p16 bs taR" data-value="kr|82">
    <span class="fL fs14"><i class="kr flag"></i>82</span> South Korea
</div>

<div class="item p16 bs taR" data-value="es|34">
    <span class="fL fs14"><i class="es flag"></i>34</span> Spain
</div>

<div class="item p16 bs taR" data-value="lk|94">
    <span class="fL fs14"><i class="lk flag"></i>94</span> Sri Lanka
</div>

<div class="item p16 bs taR" data-value="sd|249">
    <span class="fL fs14"><i class="sd flag"></i>249</span> Sudan
</div>

<div class="item p16 bs taR" data-value="sr|597">
    <span class="fL fs14"><i class="sr flag"></i>597</span> Suriname
</div>

<div class="item p16 bs taR" data-value="sj|47">
    <span class="fL fs14"><i class="sj flag"></i>47</span> Svalbard
</div>

<div class="item p16 bs taR" data-value="sz|268">
    <span class="fL fs14"><i class="sz flag"></i>268</span> Swaziland
</div>

<div class="item p16 bs taR" data-value="se|46">
    <span class="fL fs14"><i class="se flag"></i>46</span> Sweden
</div>

<div class="item p16 bs taR" data-value="ch|41">
    <span class="fL fs14"><i class="ch flag"></i>41</span> Switzerland
</div>

<div class="item p16 bs taR" data-value="sy|963">
    <span class="fL fs14"><i class="sy flag"></i>963</span> Syria
</div>

<div class="item p16 bs taR" data-value="tw|886">
    <span class="fL fs14"><i class="tw flag"></i>886</span> Taiwan
</div>

<div class="item p16 bs taR" data-value="tj|7">
    <span class="fL fs14"><i class="tj flag"></i>7</span> Tajikistan
</div>

<div class="item p16 bs taR" data-value="tz|255">
    <span class="fL fs14"><i class="tz flag"></i>255</span> Tanzania
</div>

<div class="item p16 bs taR" data-value="tl|670">
    <span class="fL fs14"><i class="tl flag"></i>670</span> Timorleste
</div>

<div class="item p16 bs taR" data-value="tg|228">
    <span class="fL fs14"><i class="tg flag"></i>228</span> Togo
</div>

<div class="item p16 bs taR" data-value="tk|690">
    <span class="fL fs14"><i class="tk flag"></i>690</span> Tokelau
</div>

<div class="item p16 bs taR" data-value="to|676">
    <span class="fL fs14"><i class="to flag"></i>676</span> Tonga
</div>

<div class="item p16 bs taR" data-value="tt|1868">
    <span class="fL fs14"><i class="tt flag"></i>1868</span> Trinidad
</div>

<div class="item p16 bs taR" data-value="tn|216">
    <span class="fL fs14"><i class="tn flag"></i>216</span> Tunisia
</div>

<div class="item p16 bs taR" data-value="tr|90">
    <span class="fL fs14"><i class="tr flag"></i>90</span> Turkey
</div>

<div class="item p16 bs taR" data-value="tm|993">
    <span class="fL fs14"><i class="tm flag"></i>993</span> Turkmenistan
</div>

<div class="item p16 bs taR" data-value="tv|688">
    <span class="fL fs14"><i class="tv flag"></i>688</span> Tuvalu
</div>

<div class="item p16 bs taR" data-value="ug|256">
    <span class="fL fs14"><i class="ug flag"></i>256</span> Uganda
</div>

<div class="item p16 bs taR" data-value="ua|380">
    <span class="fL fs14"><i class="ua flag"></i>380</span> Ukraine
</div>

<div class="item p16 bs taR" data-value="ae|971">
    <span class="fL fs14"><i class="ae flag"></i>971</span> United Arab Emirates
</div>

<div class="item p16 bs taR" data-value="uy|598">
    <span class="fL fs14"><i class="uy flag"></i>598</span> Uruguay
</div>

<div class="item p16 bs taR" data-value="um|246">
    <span class="fL fs14"><i class="um flag"></i>246</span> US Minor Islands
</div>

<div class="item p16 bs taR" data-value="vi|84">
    <span class="fL fs14"><i class="vi flag"></i>84</span> Us Virgin Islands
</div>

<div class="item p16 bs taR" data-value="uz|7">
    <span class="fL fs14"><i class="uz flag"></i>7</span> Uzbekistan
</div>

<div class="item p16 bs taR" data-value="vu|678">
    <span class="fL fs14"><i class="vu flag"></i>678</span> Vanuatu
</div>

<div class="item p16 bs taR" data-value="va|379">
    <span class="fL fs14"><i class="va flag"></i>379</span> Vatican City
</div>

<div class="item p16 bs taR" data-value="ve|58">
    <span class="fL fs14"><i class="ve flag"></i>58</span> Venezuela
</div>

<div class="item p16 bs taR" data-value="vn|84">
    <span class="fL fs14"><i class="vn flag"></i>84</span> Vietnam
</div>

<div class="item p16 bs taR" data-value="wf|681">
    <span class="fL fs14"><i class="wf flag"></i>681</span> Wallis and Futuna
</div>

<div class="item p16 bs taR" data-value="eh|212">
    <span class="fL fs14"><i class="eh flag"></i>212</span> Western Sahara
</div>

<div class="item p16 bs taR" data-value="ye|967">
    <span class="fL fs14"><i class="ye flag"></i>967</span> Yemen
</div>

<div class="item p16 bs taR" data-value="zm|260">
    <span class="fL fs14"><i class="zm flag"></i>260</span> Zambia
</div>

<div class="item p16 bs taR" data-value="zw|263">
    <span class="fL fs14"><i class="zw flag"></i>263</span> Zimbabwe
</div>