<div class="mxw960 mA download_bar">
    <a class="dT h60 p08 bs wp100 tdN bgF9 downloadApp" href="/download_the_app">
        <div class="dTc vM bs w36">
            <img src="https://firebasestorage.googleapis.com/v0/b/collabmates-beta.appspot.com/o/files%2Fmain_website%2Flikeminds_icon_xhdpi.png?alt=media&token=aee5e4fd-6f02-4930-a7d3-dfeff74a1614" class="br8 dIb h36 vM w36">
        </div>
        <div class="dTc vM p012 bs taL">
            <div class="fwM fs15 cT">{{ title }}Use the LikeMinds app</div>
            <div class="fs13 c9b toE wsN oH">{{ subtitle }}</div>
        </div>
        <div class="bs dTc vM w24 c9b">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24">
                <path d="M5.88 4.12L13.76 12l-7.88 7.88L8 22l10-10L8 2z"></path>
            </svg>
        </div>
    </a>
</div>