<header class="ffR h56 l0 pF r0 t0 z11 bg{{ data.background }}" id="header">
    <div class="dT wp100 h56 tlF">
        <div class="bs dTc h56 taC vM w56">
            {% if data.back %}
                {% if data.backLink %}
                    <a href="{{ data.backLink }}">
                        <div class="w56 taC h24" id="back_click">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w24 h24 c{{ data.color }}"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>
                        </div>
                    </a>
                {% else %}
                    <div class="w56 taC h24" id="back_click">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w24 h24 c{{ data.color }}"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"></path></svg>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="dTc fs18 fwB vM c{{ data.color }}">
            {% if data.title %}
                <div>{{ data.title }}</div>
            {% endif %}
            {% if data.subTitle %}
                <div class="fs12 o8">{{ data.subTitle }}</div>
            {% endif %}
        </div>
        <div class="bs dTc h56 taC vM w56"></div>
    </div>
</header>