<div class="mb12 pR h180 mt56">
    <img class="wp100 pA l0 r0 b0" src='{{data.image}}'>
    <div class="bs pR taC">
        <h1 class="m0 p8 fs16 cF fwR lh24 ffR bs">
            <div class="o8">
                {% if request.GET.event %}
                    {% if request.GET.type == '2' %}
                        To attend the event, join this community:
                    {% else %}
                        To access complete details of this event & upcoming events, join community:
                    {% endif %}
                {% elif request.GET.poll %}
                    To participate in poll, join this community:
                {% else %}
                    {{data.header}}
                {% endif %}
            </div>
            {% if data.subHeader %}
            <div>{{data.subHeader}}</div>
            {% endif %}
        </h1>
        {% if data.communityBlock %}
            <div class="bg0o05 br8 bs cF dT mA mxw360 oH p8 taL wp80">
                <div class="dTc vM w48">
                    <img src="{{data.communityBlock.imgURL}}" class="bd2E bgE brp50 bxs dIb h48 ofC vM w48">
                </div>
                <div class="bs dTc fs13 fwL lh16 pl12 vM">
                    <div>{{data.communityBlock.title}}</div>
                    <div class="o5">{{data.communityBlock.creator}}</div>
                    <div class="o5">{{data.communityBlock.members}}</div>
                </div>
            </div>
        {% endif %}
    </div>
<!--    <div class="bd2F bgT bn24 brp50 bs bxs h86 l0 mA oH pA r0 w86">-->
<!--        <img class="h82 w82 ofC" src="{{data.userImage}}">-->
<!--    </div>-->
</div>