{% for i in data %}    
    <div class="dT wp100 bgF members member_link">
        <div class="dTc vM w70 p16 pr0">
            <img class="w54 h54 oH bd2F bs brp50 bxs" src="{{i.image_link}}"/>
        </div>
        <div class="dTc vM p16 bs pl12 bdbE">
            <div class="ffR lh20 fs16 c0" member_id={{i.id}}>{{i.name}}</div>
            {% if not is_member %}
                <p class="ffR p0 m0 fs15 lh20 flrB3">{{i.answer}}</p>
            {% else %}
                <p class="ffR p0 m0 fs15 lh20">{{i.answer}}</p>
            {% endif %}
        </div>
    </div>
{% endfor %}