
<div style="padding: 24px; padding-top: 48px; max-width: 500px; margin: auto; background: #fff; border-radius: 8px; border: 1px solid #eee; box-sizing: border-box;">
  {% if event_banner_url %}
  <img style="object-fit: cover; border-radius: 4px; margin-bottom: 32px;" src="{{event_banner_url}}" width="100%" height="200px">
  {% else %}
  <img style="object-fit: cover; border-radius: 4px; margin-bottom: 32px;" src="https://betaweb.likeminds.community/assets/images/png/gradient.png" width="100%" height="200px">
  {% endif %}
  <div style="font-size: 16px; color: #666; text-align: left; font-weight: bold; padding: 0px 16px;">Please join me at</div>
  <div style="font-size: 36px; color: #666; text-align: left; font-weight: bold; padding: 12px 16px;line-height:42px;">{{event_name}}</div>
  <div style="font-size: 16px; color: #01897b; text-align: left; font-weight: 500; padding: 0px 16px;">On {{event_date}} at {{event_time}} (India Standard Time)</div>
  <div style="text-align: left; margin-top: 20px; padding: 0px 16px;">
    <div style="color: #718297; font-size: 16px; white-space: pre-wrap;">{{event_description}}</div>
    <div style="margin-top: 24px; width: 100%; text-align: center;">
      <a style="text-align: center; text-decoration: none; background-color: #01897b; padding: 12px 48px; color: white; border-radius: 24px;" href="{{link}}">Register</a>
    </div>
    <br>
  </div>
</div>
</div>
<div style="margin-top: 20px;">
 <table style="border-collapse: collapse; width: 100%; height: 157px;" border="0">
   <tbody>
     <tr style="border: 0px; height: 157px;">
       <td style="width: 400px; text-align: center; border: 0px; height: 157px;">
         <p style="color: #718297;font-size: 14px;font-weight: 400;text-align: center;">Get the LikeMinds App to access the community..</p>
         <a style="text-decoration: none; color: #000; display: inline-block; vertical-align: middle; padding: 6px; box-sizing: border-box;" rel="noreferrer">
           <img class="CToWUd" style="height: 48px; display: inline-block; vertical-align: middle;" src="https://ci5.googleusercontent.com/proxy/Fkz-iVhBqlG7w1_rhzcQUMypiWo9GKH1zoMQsQNEjc5yYIWh0juMxOEI2yFpIWjIwEMypkxES2dijPwKbf8I0AuhttyRyGJHvgihvb0Vlo3casZtsVg7uRLByVBmdKgQEG62bUh0B7DvKeKYN_RUksF-1b9R-q5fivy7O7v9zhwZS9thLAaq_7k9G9u_9q9iw2VTnGUpRajMo0wQ8OoFSSyn1WZ4TP5Uclj5BMYK4hx9LwignsJQwj8FtJ3FxAQs=s0-d-e1-ft#https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Fgoogle_playstore.png?alt=media&amp;token=8cbff2b1-ef49-4dcf-9fd4-6666855d9b71" alt="Play Store">
         </a>
         <a style="text-decoration: none; color: #000; display: inline-block; vertical-align: middle; padding: 6px; box-sizing: border-box;" rel="noreferrer">
           <img class="CToWUd" style="height: 48px; display: inline-block; vertical-align: middle;" src="https://ci3.googleusercontent.com/proxy/WdFnvKLI1DaxRRiXMoaUya1hhA3HLhUBggfT06cPplBSj0rfn5ZkAiBpETWbn4EBhZGPnmLkYmL1OQ2kq5cp1yqQDWHjXUndmimjf6jPkPsfK7bkrZXU8MxK6rim7NQl-bDcVRrTPn95b9shVE32p_m5rgvW-N3HKobbvDzPBerbbwC5I6JGsuPwpBvevRRwjG0savw_QHwuRDCxemmt6tIkUnCZPEdBlPs8HGv2lGokls3IHims2JjPaw=s0-d-e1-ft#https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Fapple_store.png?alt=media&amp;token=b1b62dfb-cde0-42c1-b801-5ed7fd0ca90b" alt="App Store">
         </a>
         <div style="
             width: 200px;
             height: 1px;
             background: #979797;
             margin: 16px auto;"
             ></div>
         <div style="padding: 0px; width: 100%; color: #929292; margin-top: 12px;">
           <p style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 16px;text-align: center;color: #718297">
             {{community_name}} is powered by <a style="color:#00897B;text-decoration:none" href="https://likeminds.community/">LikeMinds</a> | <a style="color:#00897B;text-decoration:none" href={{unsub}}>Manage Email Preferences</a>
           </p>
         </div>
       </td>
     </tr>
   </tbody>
 </table>
</div>
