<script>
                           {% if request.user.is_authenticated %}
                            <!--     MIXPANEL TRACKER -->

                              var c = new Date()
                              console.log(typeof c)
                              x = c + ""

                              console.log(typeof x)


                              mixpanel.track("Chatroom link clicked",{
                                             "unique_code":'{{aj}}',
                                             "current_date":'{{current_date}}'
                                             })

                             <!--    TRACKER ENDS    -->

                             {% endif %}





</script>