<script>
                           {% if request.user.is_authenticated %}
                            <!--     MIXPANEL TRACKER -->

                              var c = new Date()
                              console.log(typeof c)
                              x = c + ""

                              console.log(typeof x)


                              mixpanel.track("CR Link Clicked",{
                                             "User Community State":"{{mixpanel_event.user_community_state}}",
                                             "click date": new Date() + "",
                                             "Creation Date" : "{{collabcard.link_created_at}}",
                                             "Chatroom Name": "{{collabcard.header}}",
                                             "Chatroom Type" : "{{collabcard.chatroom_category}}"
                                             })

                             <!--    TRACKER ENDS    -->

                             {% endif %}





</script>