<div style="width: 98px; height: 48px; margin: auto; overflow: visible;">
    <img class="CToWUd" style="width: 100px; height: 100px;" src="https://prod-likeminds-media.s3.ap-south-1.amazonaws.com/files/utilities/Frame+6+(4).png">
  </div>
  <div style="padding: 48px; padding-top: 48px; max-width: 500px; margin: auto; background: #fff; border-radius: 8px; border: 1px solid #eee; box-sizing: border-box;">
    <div style="text-align: left; margin-top: 25px;">
      <div style="color: #718297; font-size: 16px;line-height: 24px;">
        Hi {{receiver_name}},
            <br>
            <br>
            {{sender_name}} sent you a direct message. Click the link below to see what they said.

      </div>
      <div style="margin-top: 40px; margin-bottom:54px;display: flex; width: 100%;">
        <a style="width: 100%; text-align: center; text-decoration: none; background-color: #007AFF; padding: 12px; color: white; border-radius: 24px;" href="{{chatroom_link}}">VIEW MESSAGE</a>
      </div>
      <div style="color: #718297; font-size: 16px;margin-bottom: 60px;">
        Regards,
        <br>
        Team {{community_name}}
      </div>
    </div>
  </div>
<div>
  {% include 'mails/email_footer.html' with unsub=unsub likeminds=likeminds custom_community=custom_community %}
</div>
