<div style="width: 98px; height: 48px; margin: auto; overflow: visible;">
    <img class="CToWUd" style="width: 100px; height: 100px;" src="https://prod-likeminds-media.s3.ap-south-1.amazonaws.com/files/utilities/Frame+6+(4).png">
</div>
<div style="padding: 48px; padding-top: 48px; max-width: 500px; margin: auto; background: #fff; border-radius: 8px; border: 1px solid #eee; box-sizing: border-box;">
  <h3 style="font-size: 16px;font-weight: 400;text-align: center;color: #718297;line-height: 24px;
      margin-top: 8px;
      margin-bottom: 0px;
  ">{{community_name}}</h3>
  <div style="
  width: 100px;
  height: 1px;
  background: #979797;
  margin: 10px auto 37px auto;"
  ></div>
  <div style="text-align: left; margin-top: 25px;">
    <div style="color: #718297; font-size: 16px;line-height: 24px;">
      Hi {{receiver_name}},
          <br>
          <br>
      {{sender_name}} tagged you in the {{chatroom_name}} chatroom in {{community_name}}. Click the link below to see what they said.
          <br>
    </div>
    <div style="margin-top: 40px; margin-bottom:54px;display: flex; width: 100%;">
      <a style="width: 100%; text-align: center; text-decoration: none; background-color: #007AFF; padding: 12px; color: white; border-radius: 24px;" href="{{chatroom_link}}">VIEW MESSAGE</a>
    </div>
    <div style="color: #718297; font-size: 16px;margin-bottom: 60px;">
      Regards,
      <br>
      Team CommunityHood
    </div>
  </div>
</div>
<div style="margin-top: 20px;">
 <table style="border-collapse: collapse; width: 100%; height: 157px;" border="0">
   <tbody>
     <tr style="border: 0px; height: 157px;">
       <td style="width: 400px; text-align: center; border: 0px; height: 157px;">
         <p style="color: #718297;font-size: 14px;font-weight: 400;text-align: center;">Never miss an update from {{community_name}}.<br> Get the LikeMinds App to access the community on mobile</p>
         <a style="text-decoration: none; color: #000; display: inline-block; vertical-align: middle; padding: 6px; box-sizing: border-box;" rel="noreferrer">
           <img class="CToWUd" style="height: 48px; display: inline-block; vertical-align: middle;" src="https://ci5.googleusercontent.com/proxy/Fkz-iVhBqlG7w1_rhzcQUMypiWo9GKH1zoMQsQNEjc5yYIWh0juMxOEI2yFpIWjIwEMypkxES2dijPwKbf8I0AuhttyRyGJHvgihvb0Vlo3casZtsVg7uRLByVBmdKgQEG62bUh0B7DvKeKYN_RUksF-1b9R-q5fivy7O7v9zhwZS9thLAaq_7k9G9u_9q9iw2VTnGUpRajMo0wQ8OoFSSyn1WZ4TP5Uclj5BMYK4hx9LwignsJQwj8FtJ3FxAQs=s0-d-e1-ft#https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Fgoogle_playstore.png?alt=media&amp;token=8cbff2b1-ef49-4dcf-9fd4-6666855d9b71" alt="Play Store">
         </a>
         <a style="text-decoration: none; color: #000; display: inline-block; vertical-align: middle; padding: 6px; box-sizing: border-box;" rel="noreferrer">
           <img class="CToWUd" style="height: 48px; display: inline-block; vertical-align: middle;" src="https://ci3.googleusercontent.com/proxy/WdFnvKLI1DaxRRiXMoaUya1hhA3HLhUBggfT06cPplBSj0rfn5ZkAiBpETWbn4EBhZGPnmLkYmL1OQ2kq5cp1yqQDWHjXUndmimjf6jPkPsfK7bkrZXU8MxK6rim7NQl-bDcVRrTPn95b9shVE32p_m5rgvW-N3HKobbvDzPBerbbwC5I6JGsuPwpBvevRRwjG0savw_QHwuRDCxemmt6tIkUnCZPEdBlPs8HGv2lGokls3IHims2JjPaw=s0-d-e1-ft#https://firebasestorage.googleapis.com/v0/b/collabmates-3d601.appspot.com/o/files%2Fmain_website%2Fapple_store.png?alt=media&amp;token=b1b62dfb-cde0-42c1-b801-5ed7fd0ca90b" alt="App Store">
         </a>
         <div style="
             width: 200px;
             height: 1px;
             background: #979797;
             margin: 16px auto;"
             ></div>
         <div style="padding: 0px; width: 100%; color: #929292; margin-top: 12px;">
           <p style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 16px;text-align: center;color: #718297">
             {{community_name}} is powered by <a style="color:#00897B;text-decoration:none" href="https://likeminds.community/?utm_source=CommunityHood&utm_medium=email&utm_campaign=chatroomtagging&utm_content=LikeMinds">LikeMinds</a> | <a style="color:#00897B;text-decoration:none" href={{unsub}}>Manage Email Preferences</a>
           </p>
         </div>
               <div style="
             width: 200px;
             height: 1px;
             background: #979797;
             margin: 16px auto;"
             ></div>
         <p style="font-family: 'Roboto';font-style: normal;font-weight: 400;font-size: 14px;line-height: 16px;text-align: center;color: #718297">
             <a style="color:#00897B;text-decoration:none" href="https://likeminds.community/?utm_source=CommunityHood&utm_medium=email&utm_campaign=chatroomtagging&utm_content=customcommunity">Build your own custom community platform</a>
           </p>
       </td>
     </tr>
   </tbody>
 </table>
</div>
