{% extends "mails/cm_onboarding/cm_onboarding_main.html" %}

{% block main_body %}
<p style='margin-bottom: 0;'>Hi {{cm_name}}!</p>
<p style='margin-top: 0;'>You are just one step away from building your own branded community with LikeMinds. Once
done, you will be able
to:
<ul>
    <li>Build paid membership community</li>
    <li>Host paid events</li>
    <li>Engage your members</li>
    <li>Build the top of your funnel to upsell your content</li>
</ul>
<p>You can complete creating your community by clicking on the link below:</p>
{% endblock %}

{% block after_body %}
<p>If you are facing any issues or want some help, we would love to help you thought the process. Just reply to this
email and we will be right there</p>
<p>Regards</p>
<p>Team LikeMinds</p>
{% endblock %}
