<!DOCTYPE html>
{% load static %}
<html class="bgBg">
    <head>

         <meta name="apple-itunes-app" content="app-id=1526635028, app-argument=www.google.com"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="https://beta.likeminds.community/media/media/ic_launcher_round.png">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <title>{{community.name}}</title>
        <meta name="description" content={{community.name}}/>
        {% if not community.thumbnail %}
            <meta property="og:image" itemprop="image" content='https://beta.likeminds.community/media/media/ic_launcher_round.png'/>
        {% else %}
            <meta property="og:image" itemprop="image" content='{{community.thumbnail}}'/>
        {% endif %}
        <meta property="og:title" content="{{community.name}}"/>
        <meta property="og:description" content="{{community.purpose}}"/>
        <meta property="og:type" content="website"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130288684-1"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/mahaDev/mahaDev.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700&display=swap" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155700742-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-155700742-1');
        </script>
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){
                w[l]=w[l]||[];w[l].push({
                    'gtm.start':new Date().getTime(),
                    event:'gtm.js'});
                var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
                    j.async=true;
                    j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
                    f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KSF3G6T');
        </script>
        {% include 'scripts/firebase.html' with firebase_config=firebase_config %}
    </head>
    <body>
        <main role="main" id="views">
            {% block yeild %}{% endblock %}
        </main>
    </body>
</html>