<!DOCTYPE html>
{% load static %}
<html class="bgBg">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="https://beta.likeminds.community/media/media/ic_launcher_round.png">
        <meta name="keywords" content="">
        <meta charset="UTF-8">
        <title>LikeMinds</title>
        <meta name="description" content="privacy"/>
        <meta property="og:image" itemprop="image" content='https://beta.likeminds.community/media/media/ic_launcher_round.png'/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/mahaDev/mahaDev.css' %}">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130288684-1"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,500i,700&display=swap" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-155700742-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-155700742-1');
        </script>
        <!-- Google Tag Manager -->
        <script>
            (function(w,d,s,l,i){
                w[l]=w[l]||[];w[l].push({
                    'gtm.start':new Date().getTime(),
                    event:'gtm.js'});
                var f=d.getElementsByTagName(s)[0],
                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';
                    j.async=true;
                    j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
                    f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-KSF3G6T');
        </script>
    </head>
    <body>
        <main role="main" id="views">
            {% block yeild %}{% endblock %}
        </main>
    </body>
</html>